@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

*|textarea:focus { background-color: #DDFFDD; }
*|input:focus { background-color: #DDFFDD; }

tabpanel { border: 2px groove black; }
caption { font-weight: bold; }

iframe { background: #CDCED3 url("chrome://browser/skin/icons/box-background.png") repeat-x bottom !important; }
.my_bg { background: #CDCED3 url("chrome://browser/skin/icons/box-background.png") repeat-x bottom !important; }

.shrinkable_groupbox { font-weight: bold; -moz-binding: url('chrome://open_ils_staff_client/content/main/bindings.xml#caption'); }

.my_overflow { overflow: auto; }

.text_left { text-align: left; }
.text_right { text-align: right; }
.text_center { text-align: center; }
.text_justify { text-align: justify; }

.tan { background-color: #D2B48C; }
.sandy_brown { background-color: #F4A460; }
.peach_puff { background-color: #FFDAB9; }
.pale_violet_red { background-color: #D87093; }
.cadet_blue { background-color: #5F9EA0; }
.dark_salmon { background-color: #E9967A; }
.coral { background-color: #FF7F50; }

.deleted_address { background-color: red; }

.field_row { border: solid thin #262; }
.ctrl_grid { min-height: 1em; overflow: auto; }
.ctrl_row { } 
.data_grid { overflow: auto; }
.data_row { }
.fixed_grid { }
.fixed_grid label:hover { text-decoration: underline; }
.fixed_columns column { border-right: dotted thin #262; }
.fixed_rows { }
.fixed_row { }
.fixed_label { }
.fixed_textbox { }
.marc_buttons_box description { font-weight: bold; }
.marc { 
	-moz-appearance: none;
	font-family: monospace;
	font-size: x-large;
	border: none;
	padding: 0px; 
	margin: 0px; 
}
.marc:hover { background-color: #DDDDDD; }
.invalid { background-color: #FF8888; }
.invalid:hover { background-color: #FF8888; }
*|textarea:focus { background-color: #DDFFDD; }
.marc_wrapper { min-height: 1.2em; vertical-align: middle; }
.marc_tag_wrapper { }
.marc_ind_wrapper { }
.marc_ind1_wrapper { }
.marc_ind2_wrapper { }
.marc_data_wrapper { }
.marc_tag { min-width: 2.4em; vertical-align: middle; }
.marc_ind { min-width: 1.2em; vertical-align: middle; }
.marc_ind1 { }
.marc_ind2 { }
.marc_data { min-width: 500px; }
.resizable { }
.test_class { }
