<ng-template #nodeStrTmpl let-point="point" let-showmatch="showmatch" i18n>
  @if (point) {

    @if (point.negate()) {
<span>NOT </span>
}
    @if (point.heading()) {
<span>Normalized Heading</span>
}
    <span>{{point.bool_op()}}{{point.svf()}}{{point.tag()}}</span>
    @if (point.subfield()) {
<span> ‡{{point.subfield()}}</span>
}
    @if (showmatch && !point.bool_op()) {
<span> | Match score {{point.quality()}}</span>
}
  
}
</ng-template>
<eg-string key="staff.cat.vandelay.matchpoint.label"
[template]="nodeStrTmpl"></eg-string>

<div class="row mt-2">
  <div class="col-lg-7 m2-2">
    <span class="text-white bg-dark p-2" i18n>
        Your Expression: {{expressionAsString()}}
    </span>

    <div class="row row-cols-auto ms-2 mt-4">
      <div class="col">
        <span class="me-2" i18n>Add New:</span>
        @if (matchSetType==='biblio') {
          <button type="button" class="btn btn-outline-dark me-2"
          (click)="newPointType='attr'" i18n>Record Attribute</button>
        }
        <button type="button" class="btn btn-outline-dark me-2"
        (click)="newPointType='marc'" i18n>MARC Tag and Subfield</button>
        @if (matchSetType==='authority') {
          <button type="button" class="btn btn-outline-dark me-2"
          (click)="newPointType='heading'" i18n>Normalized Authority Heading</button>
        }
        <button type="button" class="btn btn-outline-dark me-2"
        (click)="newPointType='bool'" i18n>Boolean Operator</button>
      </div>
    </div>
    <eg-match-set-new-point #newPoint [pointType]="newPointType">
    </eg-match-set-new-point>
    @if (newPointType) {
      <div class="row row-cols-auto mt-2 ms-2">
        <div class="col">
          <button type="button" class="btn btn-success me-2" (click)="addChildNode()"
            [disabled]="!selectedIsBool()" i18n>
          Add To Selected Node
        </button>
          <button type="button" class="btn btn-success ms-2" (click)="addChildNode(true)"
          [disabled]="!hasSelectedNode() ||
            (newPointType !== 'bool' && selectedIsBool())" i18n>
          Replace Selected Node
        </button>
        </div>
      </div>
    }
    @if (newPointType) {
      <div class="row mt-2 ms-2 fst-italic">
        <ol i18n>
        <li>Define a new match point using the above fields.</li>
        <li>Select a boolean node in the tree.</li>
        <li>Click the "Add..." button to add the new matchpoint
          as a child of the selected node.</li>
      </ol>
      </div>
    }
  </div>
  <div class="col-lg-5">
    @if (tree) {
      <div class="d-flex">
        <button type="button" class="btn btn-destroy me-1" (click)="deleteNode()"
          [disabled]="!hasSelectedNode() || isRootNode()" i18n>
          Remove Selected Node
        </button>
        <button type="button" class="btn btn-success me-1" (click)="saveTree()"
          [disabled]="!changesMade" i18n>
          Save Changes 
        </button>
      </div>
      <div class="pt-2">
        <eg-tree
          [tree]="tree"
          (nodeClicked)="nodeClicked($event)">
        </eg-tree>
      </div>
    }
  </div>
</div>

