<script>
    var vlMatchGridLayout;
    function resetVlMatchGridLayout() {
        vlMatchGridLayout = [{
            defaultCell: {styles: 'text-align: center;'},
            cells : [[
                {
                    name: '&vandelay.overlay.target;', 
                    get: vlGetOverlayTargetSelector,
                    value: '&lt;input type="checkbox" name="vl-overlay-target-RECID" '+
                        'onclick="vlHandleOverlayTargetSelected(ID, GRIDID);" gridid="GRIDID" match="ID"/>'
                },
                {name:'&vandelay.source.match.point;', field:'src_matchpoint'},
                {name:'&vandelay.dest.match.point;', field:'dest_matchpoint'},
                {name: '&vandelay.id;', field:'id'},
                {   name: '&vandelay.view.marc;', 
                    get: vlGetViewMARC, 
                    value:'&lt;a href="javascript:void(0);" onclick="vlLoadMARCHtml(RECID, '+
                        'true, function(){displayGlobalDiv(\'vl-match-div\');});">&vandelay.view.marc;&lt;/a>'
                },
                {name: '&vandelay.creator;', get: vlGetCreator},
                {name: '&vandelay.create.date;', field:'create_date', get: vlGetDateTimeField},
                {name: '&vandelay.last.edit.date;', field:'edit_date', get: vlGetDateTimeField},
                {name: '&vandelay.source;', field:'source'},
                {name: '&vandelay.tcn.source;', field:'tcn_source'},
                {name: '&vandelay.tcn.value;', field:'tcn_value'}
            ]]
        }];
    }
</script>
<h1>&vandelay.import.matches;</h1><br/>
<div>
    <button dojoType='dijit.form.Button' 
        onclick="displayGlobalDiv('vl-queue-div');">&#x2196; &vandelay.back.to.import.queue;</button>
</div>
<div class='tall'>
    <table dojoType='dojox.grid.DataGrid' jsId='vlMatchGrid' query='{id:"*"}'> 
    </table>
</div>

