<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Documentation</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://evergreen-ils.org/dokuwiki/doku.php?id=evergreen-docs:dig">Documentation Interest Group</a>
            <a class="navbar-item" href="http://evergreen-ils.org/dokuwiki/doku.php?id=faqs:evergreen_roadmap">Evergreen Roadmap</a>
            <a class="navbar-item" href="http://wiki.evergreen-ils.org/">Evergreen Wiki</a>
            <a class="navbar-item" href="https://evergreen-ils.org/eg-documentation/tabular-release-notes/">Tabular Release Notes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Downloads</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://evergreen-ils.org/trademark-policy/">Evergreen Downloads</a>
            <a class="navbar-item" href="https://evergreen-ils.org/opensrf-downloads/">OpenSRF Downloads</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About Us</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://evergreen-ils.org/about-us/">Overview</a>
            <a class="navbar-item" href="https://evergreen-ils.org/about-us/annual-reports/">Annual Reports</a>
            <a class="navbar-item" href="https://evergreen-ils.org/frequently-anticipated-questions/">F.A.Q.</a>
            <a class="navbar-item" href="https://evergreen-ils.org/code-of-conduct/">Evergreen Event Code of Conduct</a>
            <a class="navbar-item" href="https://evergreen-ils.org/governance/">Project Governance</a>
            <a class="navbar-item" href="https://evergreen-ils.org/trademark-policy/">Trademark Policy</a>            
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
