<eg-bucket-dialog #addBasketToBucketDialog>
</eg-bucket-dialog>

<div class="row">
  <div class="col-lg-4 pr-1">
    <div class="float-right">
      <!-- note basket view link does not propagate search params -->
      <a routerLink="/staff/catalog/search" [queryParams]="{showBasket: true}" 
        class="label-with-material-icon">
        <span class="material-icons">shopping_basket</span>
        <span i18n>({{basketCount()}})</span>
      </a>
    </div>
  </div>
  <div class="col-lg-8 pl-1">
    <select class="form-control" 
        [disabled]="!basketCount()"
        [(ngModel)]="basketAction" (change)="applyAction()">
      <option value='' [disabled]="true" i18n>Basket Actions...</option>
      <option value="view"   i18n>View Basket</option>
      <option value="hold"   i18n>Place Hold</option>
      <option value="print"  i18n>Print Title Details</option>
      <option value="email"  i18n>Email Title Details</option>
      <option value="bucket" i18n>Add Basket to Bucket</option>
      <option value="clear"  i18n>Clear Basket</option>
    </select>
  </div>
</div>
