
/* filter checkbox labels move to bottom */
.checkbox label {
  margin-bottom: .1rem;
}

/* BS default height is 2.25rem + 2px which is quite chunky.
 * This better matches the text input heights */
select.form-control:not([size]):not([multiple]) {
  padding: .355rem .55rem;
  height: 2.2rem;
}

#staffcat-search-form {
  background: var(--bs-body-bg-alt);
  border-color: var(--border);
  border-radius: 0px 0px 7px 7px;
  box-shadow: 1px 2px 3px -1px var(--box-shadow);
  color: var(--bs-body-color);
}

#staffcat-search-form .tab-content {
  border: 3px;
}

.tab-content {
  padding: 5px;
}

.select-label,
.input-label {
  display: block;
  font-size: 0.88rem;
  margin-bottom: 0;
}

[data-bs-theme="dark"] .btn.btn-light {
  border-color: transparent;
}