#acq-provider-summary-pane {
  border-radius: 0px 0px 7px 7px;
  background-color: var(--bs-card-bg);
  box-shadow: 1px 2px 3px -1px rgba(var(--box-shadow), 0.2);
}
.row { border-bottom: dotted thin; }
.row.provider_id { }
.row.provider_name { }
.row.provider_code { }
.row.provider_owner { }
.row.provider_currency_type { }
.row.provider_holding_tag { display: none; }
.row.provider_addresses { display: none; }
.row.provider_san { }
.row.provider_edi_default { }
.row.provider_active { }
.row.provider_prepayment_required { display: none; }
.row.provider_url { }
.row.provider_email { display: none; }
.row.provider_phone { display: none; }
.row.provider_fax_phone { display: none; }
.row.provider_default_claim_policy { display: none; }
.row.provider_default_copy_count { display: none; }
.row.provider_contacts { }
.provider_contact_role { font-style: italic; }
.provider_primary_contact { color: var(--danger-color); }
.row.provider_provider_notes { display: none; }
