.fm_table { border-collapse: collapse; text-align: center; width: 100%; }
.fm_table thead tr { background: #E0F0E0; color: #000000; font-weight: bold;}
.fm_table thead td { border: 1px solid #808080; padding-right: 5px; padding-left: 5px;}
.fm_table tbody td { border: 1px solid #E0E0E0; padding: 2px; }
.fm_table tbody td a { font-weight: bold; }
.fm_selected { background: #F0E0E0; }
.fm_selected thead td { padding: 1px; border: 1px solid #909090; }
.fm_selected tbody td { padding: 1px; border: 1px solid #909090; }
.fm_select_link { padding-left:3px; font-size:8pt; font-weight:normal; }
.fm_table_bold { font-weight: bold; }
