<ng-template #dialogContent>
  <form class="form-validated">
    <div class="modal-header">
      <h3 class="modal-title" i18n>Add Items to Selected Line Items</h3>
      <button type="button" class="btn-close btn-close-white"
        i18n-aria-label aria-label="Close dialog" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <h4 i18n>Line Item(s) selected:
        <span *ngFor="let id of ids; last as isLast">
          {{id}}<span *ngIf="!isLast">,</span>
        </span>
      </h4>
      <eg-lineitem-copies (lineitemWithCopies)="lineitemWithCopies = $event" mode="multiAdd"></eg-lineitem-copies>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"
        (click)="close(lineitemWithCopies)" i18n>Apply</button>
      <button type="button" class="btn btn-normal"
        (click)="close()" i18n>Exit Dialog</button>
    </div>
  </form>
</ng-template>

