
<div class="row mt-3 mb-1">
  <div class="col-lg-12 form-inline">

    <label class="ml-3" for='copy-count-input' i18n>Item Count: </label>
    <input class="form-control-sm ml-3 small" 
      id='copy-count-input' [disabled]="liLocked"
      [(ngModel)]="copyCount" type="text" (keyup.enter)="applyCount()"/>

    <button class="btn btn-sm btn-outline-dark ml-3" 
      [disabled]="liLocked" (click)="applyCount()" i18n>Apply</button>

    <span class="ml-3" i18n> | </span>

    <label class="ml-3" for='distrib-formula-cbox' i18n>Distribution Formulas</label>
    <span class="ml-3">
      <eg-combobox idlClass="acqdf" [idlQueryAnd]="formulaFilter" 
        #distribFormCbox domId="distrib-formula-cbox">
      </eg-combobox>
    </span>
    <button class="btn btn-sm btn-outline-dark ml-3" 
      [disabled]="!distribFormCbox.selectedId || liLocked"
      (click)="applyFormula(distribFormCbox.selectedId)" i18n>Apply</button>

    <button class="btn btn-sm btn-success ml-auto" [disabled]="liLocked"
      (click)="save()" i18n>Save Changes</button>

  </div>
</div>

<hr class="m-1 p-1"/>

<div class="col-lg-6 offset-lg-3" *ngIf="saving">
  <eg-progress-inline [max]="progressMax" [value]="progressValue">
  </eg-progress-inline>
</div>

<ng-container *ngIf="lineitem && !saving">

  <div class="card tight-card" *ngIf="lineitem.distribution_formulas().length">
    <div class="card-header" i18n>Distribution formulas applied to this lineitem</div>
    <div class="card-body">
      <ul class="p-0 m-0">
        <li class="list-group-item p-0 m-0 border-0" 
          *ngFor="let formula of lineitem.distribution_formulas()">
          <div class="d-flex">
            <button class="btn btn-outline-danger material-icon-button p-0 m-0"
              (click)="deleteFormula(formula)" title="Delete Formula" i18n-title>
              <span class="material-icons">delete</span>
            </button>
            <div class="ml-2">{{formula.create_time() | date:'short'}}</div>
            <div class="ml-2">{{formula.creator().usrname()}}</div>
            <div class="ml-2 flex-1">{{formula.formula().name()}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <eg-lineitem-batch-copies [lineitem]="lineitem"></eg-lineitem-batch-copies>
</ng-container>


