:host {
  --lineitem-delayed: light-dark(var(--bs-blue-150), var(--bs-blue-900-desat));
  --lineitem-new: light-dark(var(--bs-yellow-025), var(--bs-yellow-900)); 
  --lineitem-on-order: light-dark(var(--bs-red-100), var(--bs-red-900)); 
  --lineitem-order-pending: light-dark(var(--bs-yellow-050), var(--bs-yellow-900)); 
  --lineitem-order-ready: light-dark(var(--bs-gray-150), var(--bs-gray-900)); 
  --lineitem-ready: light-dark(var(--bs-gray-100), var(--bs-gray-900)); 
  --lineitem-received: light-dark(var(--bs-gray-200), var(--bs-gray-800));
  --invoice-deleted: light-dark(var(--bs-gray-300), var(--bs-gray-700));
}

.jacket-wrapper {
  width: 70px;
}
.jacket {
  width: 65px;
}

input[type="text"].form-control-sm { border-width: 1px; }

.invoice-entry-deleted {
    border: thick dotted var(--black) !important;
    background-color: var(--invoice-deleted);
}

.invoice-entry {
    border: var(--black) solid var(--black);
}

a.disabled {
    color: var(--bs-dropdown-link-disabled-color);
    pointer-events: none;
}

.toolbar .form-check-label {
  font-size: 115%;
}

.batch-copy-row:nth-child(even) {
  background-color: var(--row-even-bg);
}

/* Kind of hacky -- only way to get a toolbar button with no 
 * mat icon to line up horizontally with mat icon buttons */
.toolbar .text-button {
  padding-top: 11px;
  padding-bottom: 11px;
}


.li-state-new { background-color: var(--lineitem-new); }
.li-state-selector-ready { background-color: var(--lineitem-ready); }
.li-state-order-ready { background-color: var(--lineitem-order-ready); }
.li-state-pending-order { background-color: var(--lineitem-order-pending); }
.li-state-on-order { background-color: var(--lineitem-on-order); }
.li-state-received { background-color: var(--lineitem-received); }
.li-state-delayed { background-color: var(--lineitem-delayed); }

.btn-link {
  color: var(--primary);
  text-decoration: none;
}

.btn-link:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

.invoice-entry .btn-destroy {
  box-shadow: 0 0 2px var(--box-shadow);
}