<ng-template #dialogContent>
  <form class="form-validated">
    <div class="modal-header">
      <h3 class="modal-title" i18n>Manage Claims</h3>
      <button type="button" class="btn-close btn-close-white"
      i18n-aria-label aria-label="Close dialog" (click)="close({claimMade:false})"></button>
    </div>
    <div class="modal-body">
      <h4 i18n>Claims</h4>
      <span i18n>Against line item {{liService.getFirstAttributeValue(li, 'title')}} ({{li.id()}})</span>
      <ul>
        @for (lid of lidsWithClaims; track lid) {
          <li i18n>
          {{lid.barcode()}} /
          @if (lid.cancel_reason()) {
Cancelled ({{lid.cancel_reason().label()}})
}
          @if (lid.recv_time() && !lid.cancel_reason()) {
Received {{lid.recv_time() | formatValue:'timestamp'}}
}
          @if (!lid.recv_time() && !lid.cancel_reason()) {
Not received
}
          <ul>
            @for (claim of lid.claims(); track claim) {
<li>
               {{claim.type().code()}} <button  type="button" class="btn" (click)="printVoucher(lid.id())">Print Voucher</button>
            </li>
}
          </ul>
        </li>
        }
      </ul>
      <hr>
        <h4 i18n>Initiate New Claims</h4>
        @for (lid of li.lineitem_details(); track lid) {
          <div i18n>
        <input type="checkbox" name="lidsToClaim-{{lid.id()}}" [(ngModel)]="lid._selected_for_claim">
        {{lid.barcode()}} /
        @if (lid.cancel_reason()) {
Cancelled ({{lid.cancel_reason().label()}})
}
        @if (lid.recv_time() && !lid.cancel_reason()) {
Received {{lid.recv_time() | formatValue:'timestamp'}}
}
        @if (!lid.recv_time() && !lid.cancel_reason()) {
Not received
}
      </div>
        }
        @if (claimEventTypes.length > 0) {
          <label class="form-label" for="selectClaimEventTypes" i18n>Select Claim Action(s)</label>
          <select class="form-select"  multiple="true" [size]="claimEventTypes.length"
            [(ngModel)]="selectedClaimEventTypes" [ngModelOptions]="{standalone: true}" id="selectClaimEventTypes">
            @for (clet of claimEventTypes; track clet) {
              <option [value]="clet.id()" i18n>
           {{clet.code()}} ({{clet.org_unit().shortname()}}) <i>{{clet.description()}}</i>
           @if (clet.library_initiated()) {
 [Library initiated]
}
          </option>
            }
          </select>
        }
        <label class="form-label" for="claimType" i18n>Claim Type</label>
        <eg-combobox domId="claimType" name="claimType"
          [asyncSupportsEmptyTermClick]="true"
        idlClass="acqclt" [(ngModel)]="claimType" [ngModelOptions]="{standalone: true}"></eg-combobox>
        <label class="form-label" for="note" i18n>Claim Note</label>
        <input class="form-control" type="text" i18n-placeholder placeholder="Note" [(ngModel)]="note"
          [ngModelOptions]="{standalone: true}" id="note">
      </div>

      <div class="modal-footer">
        @if (li.lineitem_details().length) {
          <button type="button" class="btn btn-success"
            [disabled]="!canPerformClaim()"
          (click)="claimItems()" i18n>Claim Selected</button>
        }
        @if (insideBatch) {
          <button type="button" class="btn btn-warning"
          (click)="close({breakChain: true})" i18n>Abort Batch</button>
        }
        <button type="button" class="btn btn-normal"
        (click)="close({claimMade: false})" i18n>Exit Dialog</button>
      </div>
    </form>
  </ng-template>

  <ng-template #printTemplate let-context>
    <div>
      <h1>Claim Voucher</h1>
      <hr>
        <span [innerHtml]="context.voucher"></span>
      </div>
    </ng-template>
