<ng-container *ngIf="li">
  <span i18n>{{li.order_summary().item_count()}} Items</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().recv_count()}} Received</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().invoice_count()}} Invoiced</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().cancel_count()}} Canceled</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().delay_count()}} Delayed</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().estimated_amount() | currency}} Estimated</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span i18n>{{li.order_summary().encumbrance_amount() | currency}} Encumbered</span>
  <span class="ms-1 me-1" i18n> | </span>
  <span [ngClass]="{'fw-bold text-danger': paidOff()}" i18n>
    {{li.order_summary().paid_amount() | currency}} Paid
  </span>
</ng-container>

