<eg-string #templateSaved i18n-text text="Report Saved Successfully"></eg-string>
<eg-string #templateSaveError i18n-text text="Error Saving Report"></eg-string>
<eg-string #newTitle i18n-text text="New Simple Report"></eg-string>
<eg-string #editTitle i18n-text text="Edit Simple Report"></eg-string>

<eg-staff-banner #banner [bannerText]="pageTitle">
</eg-staff-banner>

<eg-confirm-dialog
  #changeTypeDialog
  i18n-dialogTitle i18n-dialogBody
  dialogTitle="Confirm Report Type Change"
  dialogBody="You have already started creating a report; changing the report type will remove your progress. Continue?"
></eg-confirm-dialog>

<eg-confirm-dialog
  #closeFormDialog
  i18n-dialogTitle i18n-dialogBody
  dialogTitle="Confirm Close Report Editor"
  dialogBody="Close report editor, abandoning any unsaved changes?"
></eg-confirm-dialog>

<div class="row" id="sr-basic-info">
  <div class="col-sm-2">
    <label for="report-type" i18n>Report Type:</label>
  </div>
  <div class="col-lg-3">
    <select class="form-control" id="report-type" [ngModelOptions]="{standalone: true}" 
      [(ngModel)]="rptType" (change)="changeReportType()" [disabled]="!isNew">
      <option value="" disabled="disabled">Please Select a Report Type</option>
      <option value="srcirc">Circulation</option>
      <option value="srcp">Collections</option>
      <option value="srwd">Weeding</option>
      <option value="srusr">Patrons</option>
      <option value="srbps">Billings and Payments Transaction Summary</option>
    </select>
  </div>
  <div class="col-sm-2">
    <label for="report-name" i18n>Report Name</label>
  </div>
  <div class="col-lg-3">
    <input id="report-name" class="form-control sr-name-{{ (name !== '' && name !== null) ? 'not' : '' }}empty" [(ngModel)]="name" (ngModelChange)="dirty()" />
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success" (click)="saveTemplate(false)" [disabled]="!readyToSave()" i18n>Save</button>
    <button class="btn btn-outline-dark ml-1" (click)="closeForm()" i18n>Close</button>
  </div>
</div>
<div *ngIf="rptType !== ''" class="row mt-2" id="sr-editor-main">
  <div class="col-lg-12">
    <ul ngbNav #srEditorTabs="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist">

      <li role="presentation" [ngbNavItem]="'rptFields'">
        <a role="tab" ngbNavLink i18n>Display Fields</a>
	<ng-template ngbNavContent>
          <eg-sr-field-chooser
            [fieldType]="'display'"
            [allFields]="allFields"
            [fieldGroups]="fieldGroups"
            [(selectedFields)]="templ.displayFields"
            (selectedFieldsChange)="dirty()"
            [(orderByNames)]="templ.orderByNames"
            (orderByNamesChange)="dirty()"
          >
          </eg-sr-field-chooser>
        </ng-template>
      </li>

      <li role="presentation" [ngbNavItem]="'rptSortFields'">
        <a role="tab" ngbNavLink i18n>Output Order</a>
	<ng-template ngbNavContent><eg-sr-sort-order [(fields)]="templ.displayFields" [(orderByNames)]="templ.orderByNames" (orderByNamesChange)="dirty()"></eg-sr-sort-order></ng-template>
      </li>

      <li role="presentation" [ngbNavItem]="'rptFilterFields'">
        <a role="tab" ngbNavLink i18n>Filters</a>
	<ng-template ngbNavContent>
          <eg-sr-field-chooser
            [fieldType]="'filter'"
            [allFields]="allFields"
            [fieldGroups]="fieldGroups"
            [(selectedFields)]="templ.filterFields"
            (selectedFieldsChange)="dirty()"
            [listFields]="templ.displayFields"
          >
          </eg-sr-field-chooser>
        </ng-template>
      </li>

      <li role="presentation" [ngbNavItem]="'rptOutputOptions'">
        <a role="tab" ngbNavLink i18n>Output Options</a>
        <ng-template ngbNavContent>
          <eg-sr-output-options
            [readyToSchedule]="readyToSchedule"
            [saveTemplate]="saveTemplate"
            [templ]="templ"
          ></eg-sr-output-options>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="srEditorTabs"></div>
  </div>
</div>
