@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

/* * { font-size: x-large; } */
.test_class { }
.text_left { text-align: left; }
.text_right { text-align: right; }
.text_center { text-align: center; }
.text_justify { text-align: justify; }

.deleted_address { background-color: red; }
.patron_name { font-size: large; }

iframe { border: red; }
