@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

/* * { font-size: x-large; } */
.test_class { min-height: 100px; }

label { text-align: right; }
.barcode_row treerow treecell { border: solid black thin; }
treecell { background-color: red; color: green; }

.row0 { background-color: #99cccc; }
.row1 { background-color: #99cc99; }

