# install prefix
export PREFIX=/openils
# this is the lead machine
export MASTER="10.1.0.10"
# array of drone machines
export DRONES=("10.1.0.11" "10.1.0.12" "10.1.0.13" "10.1.0.14")
# if you use ldirector (or similar), this is the ping file
export LDIRECTOR_FILE="/$PREFIX/var/web/ldirectorping.txt"
# ILS sources directory
export OILS_SRC_DIR=/home/opensrf/current
# OpenSRF sources directory
export OSRF_SRC_DIR=/home/opensrf/OpenSRF-0.9
# XUL install prefix
export XUL_BASE="/$PREFIX/var/web/xul"
# OpenSRF bootstrap config
export OSRF_CONFIG="/$PREFIX/conf/opensrf_core.xml"
# ILS PID directory
export OSRF_PID_DIR=/var/run/evergreen
