.patron-search-container {
  container-type: inline-size;
}

/* mobile-first layout: flexbox */
.patron-search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}

/* Bootstrap sm breakpoint */
@container (min-width: 576px) {
  .patron-search-form > * {
    flex-basis: 40%;
  }

  .actions-more {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* not a Bootstrap breakpoint, but where col-lg-9 can break */
@container (min-width: 680px) {
  .patron-search-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr) max-content;
  }

  .form-expanded .patron-search-form {
    grid-template-rows: repeat(5, auto);
  }

  .actions-more {
    position: revert;
  }
}

/* place in the next to last column, first row */
.actions-search {
  grid-row: 1;
  grid-column: 5;
}

/* place in the next to last column, second row */
.form-expanded .actions-reset {
  grid-row: 2;
  grid-column: 5;
}

/* place in the last column, spanning all rows */
.actions-more {
  grid-column: 6;
  grid-row: 1 / 5;
}
