.alert-danger,
.alert-danger .material-icons {
  background: #f8d7da;
  color: #58151c;
}

.patron-summary-container .row:nth-child(odd):not(.alert) {
  background-color: var(--patron-summary-row-odd-bg);
}

/* PATRON STATUS COLORS */

.patron-status .badge {
  font-size: inherit;
  margin: 0 .5rem .5rem 0;
}
/* --badge-info */
.PATRON_HAS_NOTES { 
  background: #cff4fc;
  color: #032830;
}
 /* BS Purple */
.PATRON_EXCEEDS_LOST_COUNT,
.PATRON_EXCEEDS_CHECKOUT_COUNT,
.PATRON_EXCEEDS_OVERDUE_COUNT,
.PATRON_EXCEEDS_LONGOVERDUE_COUNT,
.PATRON_EXCEEDS_FINES  { 
  background: #E2D9F3;
  color: #2C1A4D; 
}
/* --badge-success */
.NO_PENALTIES {
  background: #dff0d8;
  color: #003B35;
}
/* --badge-warning */
.ONE_PENALTY,
.PATRON_HAS_BILLS,
.PATRON_HAS_OVERDUES,
.INVALID_PATRON_ADDRESS
.INVALID_PATRON_EMAIL_ADDRESS,
.INVALID_PATRON_DAY_PHONE,
.INVALID_PATRON_EVENING_PHONE,
.INVALID_PATRON_OTHER_PHONE {
  background: #FFF3CE;
  color: #653208;
}
/* Bootstrap orange */
.MULTIPLE_PENALTIES,
.PATRON_HAS_LOST,
.PATRON_IN_COLLECTIONS { 
  background: #FFE5D0;
  color: #653208;
}
/* --badge-secondary */
.PATRON_INACTIVE,
.PATRON_EXPIRED  { 
  background: #dee2e6;
  color: #212529;
}
/* --badge-danger */
.PATRON_BARRED,
.PATRON_HAS_ALERT,
.PATRON_HAS_STAFF_ALERT  { 
  background: #f8d7da;
  color: #58151c;
}
.PATRON_BARRED {
  font-weight: bold;
}
/* --badge-primary */
.PATRON_JUVENILE  { 
  background: #cfe2ff;
  color: #062C65;
}

/* Statuses with warning icon */
.PATRON_HAS_STAFF_ALERT:before,
.PATRON_BARRED:before,
.PATRON_HAS_ALERT:before,
.PATRON_EXPIRED:before {
    content: "\e002";
    font-family: "Material Icons";
    font-size: inherit;
    font-weight: normal;
    line-height: .75;
    margin-right: .25rem;
    vertical-align: bottom;
}

