
.patron-summary-container {
  border-radius: 0.5rem;
  box-shadow: 
    0.25rem 1px  1rem rgba(0,0,100,0.2), 
    0.25rem 1rem 1rem rgba(0,0,100,0.1);
    padding: 1rem;
}

.account-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}

.account-col {
  flex-basis: calc(25% - 2rem);
}

.account-col dl {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: max-content auto;
}

.account-col dl > div {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  margin: 0 0 0.15rem;
  padding: 0 0.25rem;
}

.account-col dt {
  font-weight: normal;
  grid-column: 1;
  margin: 0;
}

.account-col dd {
  grid-column: 2;
  margin: 0;
  text-align: end;
}

.datetime,
.numeric {
  font-variant-numeric: lining-nums tabular-nums;
}

.alert-danger,
.alert-danger .material-icons {
  background: #f8d7da;
  color: #58151c;
}

dl .alert {
  margin-bottom: 0;
}

.account-address address {
  font-style: normal;
}

.account-address .material-icons {
  font-size: 1.2rem;
}

.address-type {
  font-weight: 600;
  text-transform: capitalize;
}

.alert-penalties {
  background: rgba(0,0,100,0.08);
  border-radius: 0.35rem;
  color: #212529;
  margin: 0 0 1rem;
  padding: 0.25rem;
}

.alert-penalties h3 {
  font-weight: 600;
  margin: 0.25rem 0 0.5rem;
}

.alert-penalties .row {
  padding: 0.25rem 0;
}


/* PATRON STATUS COLORS */

.patron-status .badge {
  font-size: inherit;
  margin: 0 .5rem .5rem 0;
}
/* --badge-info */
.PATRON_HAS_NOTES { 
  background: #cff4fc;
  color: #032830;
}
 /* BS Purple */
.PATRON_EXCEEDS_LOST_COUNT,
.PATRON_EXCEEDS_CHECKOUT_COUNT,
.PATRON_EXCEEDS_OVERDUE_COUNT,
.PATRON_EXCEEDS_LONGOVERDUE_COUNT,
.PATRON_EXCEEDS_FINES  { 
  background: #E2D9F3;
  color: #2C1A4D; 
}
/* --badge-success */
.NO_PENALTIES {
  background: #dff0d8;
  color: #003B35;
}
/* --badge-warning */
.ONE_PENALTY,
.PATRON_HAS_BILLS,
.PATRON_HAS_OVERDUES,
.INVALID_PATRON_ADDRESS
.INVALID_PATRON_EMAIL_ADDRESS,
.INVALID_PATRON_DAY_PHONE,
.INVALID_PATRON_EVENING_PHONE,
.INVALID_PATRON_OTHER_PHONE {
  background: #FFF3CE;
  color: #653208;
}
/* Bootstrap orange */
.MULTIPLE_PENALTIES,
.PATRON_HAS_LOST,
.PATRON_IN_COLLECTIONS { 
  background: #FFE5D0;
  color: #653208;
}
/* --badge-secondary */
.PATRON_INACTIVE,
.PATRON_EXPIRED  { 
  background: #dee2e6;
  color: #212529;
}
/* --badge-danger */
.PATRON_BARRED,
.PATRON_HAS_ALERT,
.PATRON_HAS_STAFF_ALERT  { 
  background: #f8d7da;
  color: #58151c;
}
.PATRON_BARRED {
  font-weight: bold;
}
/* --badge-primary */
.PATRON_JUVENILE  { 
  background: #cfe2ff;
  color: #062C65;
}

/* Statuses with warning icon */
.PATRON_HAS_STAFF_ALERT:not(:is(dl > *)):before,
.PATRON_BARRED:not(:is(dl > *)):before,
.PATRON_HAS_ALERT:not(:is(dl > *)):before,
.PATRON_EXPIRED:not(:is(dl > *)):before {
    content: "\e002";
    font-family: "Material Icons";
    font-size: inherit;
    font-weight: normal;
    line-height: .75;
    margin-right: .25rem;
}

