# Hide built objects
*.[oa]
*.la
*.lo
*.pyc
*.slo

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
docs/RELEASE_NOTES_2_2.html
docs/root.html
docs/root.pdf
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
Open-ILS/examples/Makefile
Open-ILS/src/apachemods/.libs/
Open-ILS/src/apachemods/Makefile
Open-ILS/src/apachemods/Makefile.in
Open-ILS/src/c-apps/.deps/
Open-ILS/src/c-apps/dump_idl
Open-ILS/src/c-apps/idlval
Open-ILS/src/c-apps/.libs/
Open-ILS/src/c-apps/Makefile
Open-ILS/src/c-apps/Makefile.in
Open-ILS/src/c-apps/oils_dataloader
Open-ILS/src/c-apps/test_json_query
Open-ILS/src/c-apps/test_qstore
Open-ILS/src/extras/.deps/
Open-ILS/src/extras/eg_config
Open-ILS/src/extras/fast-extract
Open-ILS/src/extras/import/marc2are.pl
Open-ILS/src/extras/import/marc2bre.pl
Open-ILS/src/extras/import/marc2sre.pl
Open-ILS/src/extras/import/parallel_pg_loader.pl
Open-ILS/src/extras/.libs/
Open-ILS/src/extras/Makefile
Open-ILS/src/extras/Makefile.in
Open-ILS/src/extras/oils_requestor
Open-ILS/src/java/Makefile
Open-ILS/src/java/Makefile.in
Open-ILS/src/Makefile
Open-ILS/src/Makefile.in
Open-ILS/src/perlmods/blib/
Open-ILS/src/perlmods/_build/
Open-ILS/src/perlmods/Build
Open-ILS/src/perlmods/lib/OpenILS/Utils/Cronscript.pm
Open-ILS/src/perlmods/Makefile
Open-ILS/src/perlmods/Makefile.in
Open-ILS/src/perlmods/MYMETA.json
Open-ILS/src/perlmods/MYMETA.yml
Open-ILS/src/python/build/
Open-ILS/src/python/Evergreen.egg-info/
Open-ILS/src/python/Makefile
Open-ILS/src/python/Makefile.in
Open-ILS/src/support-scripts/authority_control_fields.pl
Open-ILS/src/support-scripts/marc_export
Open-ILS/updates/Makefile
Open-ILS/updates/Makefile.in
Open-ILS/xul/staff_client/client/
Open-ILS/xul/staff_client/Makefile
Open-ILS/xul/staff_client/Makefile.in

# Ignore built or installed locales
*.html.po
*.dtd.po
*.properties.po
build/i18n/locale/
build/i18n/po/fm_IDL.xml
Open-ILS/src/sql/Pg/950.data.seed-values-*.sql
Open-ILS/web/js/dojo/openils/acq/nls/ar-ar/
Open-ILS/web/js/dojo/openils/acq/nls/cs-cz/
Open-ILS/web/js/dojo/openils/acq/nls/de-de/
Open-ILS/web/js/dojo/openils/acq/nls/en-ca/
Open-ILS/web/js/dojo/openils/acq/nls/en-gb/
Open-ILS/web/js/dojo/openils/acq/nls/es-es/
Open-ILS/web/js/dojo/openils/acq/nls/fr-ca/
Open-ILS/web/js/dojo/openils/acq/nls/he-il/
Open-ILS/web/js/dojo/openils/acq/nls/hu-hu/
Open-ILS/web/js/dojo/openils/acq/nls/hy-am/
Open-ILS/web/js/dojo/openils/acq/nls/hy-hy/
Open-ILS/web/js/dojo/openils/acq/nls/oc-fr/
Open-ILS/web/js/dojo/openils/acq/nls/pt-br/
Open-ILS/web/js/dojo/openils/acq/nls/ru-ru/
Open-ILS/web/js/dojo/openils/acq/nls/sv-se/
Open-ILS/web/js/dojo/openils/acq/nls/tr-tr/
Open-ILS/web/js/dojo/openils/actor/nls/ar-ar/
Open-ILS/web/js/dojo/openils/actor/nls/cs-cz/
Open-ILS/web/js/dojo/openils/actor/nls/de-de/
Open-ILS/web/js/dojo/openils/actor/nls/en-ca/
Open-ILS/web/js/dojo/openils/actor/nls/en-gb/
Open-ILS/web/js/dojo/openils/actor/nls/es-es/
Open-ILS/web/js/dojo/openils/actor/nls/fr-ca/
Open-ILS/web/js/dojo/openils/actor/nls/he-il/
Open-ILS/web/js/dojo/openils/actor/nls/hu-hu/
Open-ILS/web/js/dojo/openils/actor/nls/hy-am/
Open-ILS/web/js/dojo/openils/actor/nls/hy-hy/
Open-ILS/web/js/dojo/openils/actor/nls/oc-fr/
Open-ILS/web/js/dojo/openils/actor/nls/pt-br/
Open-ILS/web/js/dojo/openils/actor/nls/ru-ru/
Open-ILS/web/js/dojo/openils/actor/nls/sv-se/
Open-ILS/web/js/dojo/openils/actor/nls/tr-tr/
Open-ILS/web/js/dojo/openils/authority/nls/ar-ar/
Open-ILS/web/js/dojo/openils/authority/nls/cs-cz/
Open-ILS/web/js/dojo/openils/authority/nls/de-de/
Open-ILS/web/js/dojo/openils/authority/nls/en-ca/
Open-ILS/web/js/dojo/openils/authority/nls/en-gb/
Open-ILS/web/js/dojo/openils/authority/nls/es-es/
Open-ILS/web/js/dojo/openils/authority/nls/fr-ca/
Open-ILS/web/js/dojo/openils/authority/nls/he-il/
Open-ILS/web/js/dojo/openils/authority/nls/hu-hu/
Open-ILS/web/js/dojo/openils/authority/nls/hy-am/
Open-ILS/web/js/dojo/openils/authority/nls/hy-hy/
Open-ILS/web/js/dojo/openils/authority/nls/oc-fr/
Open-ILS/web/js/dojo/openils/authority/nls/pt-br/
Open-ILS/web/js/dojo/openils/authority/nls/ru-ru/
Open-ILS/web/js/dojo/openils/authority/nls/sv-se/
Open-ILS/web/js/dojo/openils/authority/nls/tr-tr/
Open-ILS/web/js/dojo/openils/booking/nls/ar-ar/
Open-ILS/web/js/dojo/openils/booking/nls/cs-cz/
Open-ILS/web/js/dojo/openils/booking/nls/de-de/
Open-ILS/web/js/dojo/openils/booking/nls/en-ca/
Open-ILS/web/js/dojo/openils/booking/nls/en-gb/
Open-ILS/web/js/dojo/openils/booking/nls/es-es/
Open-ILS/web/js/dojo/openils/booking/nls/fr-ca/
Open-ILS/web/js/dojo/openils/booking/nls/he-il/
Open-ILS/web/js/dojo/openils/booking/nls/hu-hu/
Open-ILS/web/js/dojo/openils/booking/nls/hy-am/
Open-ILS/web/js/dojo/openils/booking/nls/hy-hy/
Open-ILS/web/js/dojo/openils/booking/nls/oc-fr/
Open-ILS/web/js/dojo/openils/booking/nls/pt-br/
Open-ILS/web/js/dojo/openils/booking/nls/ru-ru/
Open-ILS/web/js/dojo/openils/booking/nls/sv-se/
Open-ILS/web/js/dojo/openils/booking/nls/tr-tr/
Open-ILS/web/js/dojo/openils/circ/nls/ar-ar/
Open-ILS/web/js/dojo/openils/circ/nls/cs-cz/
Open-ILS/web/js/dojo/openils/circ/nls/de-de/
Open-ILS/web/js/dojo/openils/circ/nls/en-ca/
Open-ILS/web/js/dojo/openils/circ/nls/en-gb/
Open-ILS/web/js/dojo/openils/circ/nls/es-es/
Open-ILS/web/js/dojo/openils/circ/nls/fr-ca/
Open-ILS/web/js/dojo/openils/circ/nls/he-il/
Open-ILS/web/js/dojo/openils/circ/nls/hu-hu/
Open-ILS/web/js/dojo/openils/circ/nls/hy-am/
Open-ILS/web/js/dojo/openils/circ/nls/hy-hy/
Open-ILS/web/js/dojo/openils/circ/nls/oc-fr/
Open-ILS/web/js/dojo/openils/circ/nls/pt-br/
Open-ILS/web/js/dojo/openils/circ/nls/ru-ru/
Open-ILS/web/js/dojo/openils/circ/nls/sv-se/
Open-ILS/web/js/dojo/openils/circ/nls/tr-tr/
Open-ILS/web/js/dojo/openils/conify/nls/ar-ar/
Open-ILS/web/js/dojo/openils/conify/nls/cs-cz/
Open-ILS/web/js/dojo/openils/conify/nls/de-de/
Open-ILS/web/js/dojo/openils/conify/nls/en-ca/
Open-ILS/web/js/dojo/openils/conify/nls/en-gb/
Open-ILS/web/js/dojo/openils/conify/nls/es-es/
Open-ILS/web/js/dojo/openils/conify/nls/fr-ca/
Open-ILS/web/js/dojo/openils/conify/nls/he-il/
Open-ILS/web/js/dojo/openils/conify/nls/hu-hu/
Open-ILS/web/js/dojo/openils/conify/nls/hy-am/
Open-ILS/web/js/dojo/openils/conify/nls/hy-hy/
Open-ILS/web/js/dojo/openils/conify/nls/oc-fr/
Open-ILS/web/js/dojo/openils/conify/nls/pt-br/
Open-ILS/web/js/dojo/openils/conify/nls/ru-ru/
Open-ILS/web/js/dojo/openils/conify/nls/sv-se/
Open-ILS/web/js/dojo/openils/conify/nls/tr-tr/
Open-ILS/web/js/dojo/openils/opac/nls/ar-ar/
Open-ILS/web/js/dojo/openils/opac/nls/cs-cz/
Open-ILS/web/js/dojo/openils/opac/nls/de-de/
Open-ILS/web/js/dojo/openils/opac/nls/en-ca/
Open-ILS/web/js/dojo/openils/opac/nls/en-gb/
Open-ILS/web/js/dojo/openils/opac/nls/es-es/
Open-ILS/web/js/dojo/openils/opac/nls/fr-ca/
Open-ILS/web/js/dojo/openils/opac/nls/he-il/
Open-ILS/web/js/dojo/openils/opac/nls/hu-hu/
Open-ILS/web/js/dojo/openils/opac/nls/hy-am/
Open-ILS/web/js/dojo/openils/opac/nls/hy-hy/
Open-ILS/web/js/dojo/openils/opac/nls/oc-fr/
Open-ILS/web/js/dojo/openils/opac/nls/pt-br/
Open-ILS/web/js/dojo/openils/opac/nls/ru-ru/
Open-ILS/web/js/dojo/openils/opac/nls/sv-se/
Open-ILS/web/js/dojo/openils/opac/nls/tr-tr/
Open-ILS/web/js/dojo/openils/reports/nls/ar-ar/
Open-ILS/web/js/dojo/openils/reports/nls/cs-cz/
Open-ILS/web/js/dojo/openils/reports/nls/de-de/
Open-ILS/web/js/dojo/openils/reports/nls/en-ca/
Open-ILS/web/js/dojo/openils/reports/nls/en-gb/
Open-ILS/web/js/dojo/openils/reports/nls/es-es/
Open-ILS/web/js/dojo/openils/reports/nls/fr-ca/
Open-ILS/web/js/dojo/openils/reports/nls/he-il/
Open-ILS/web/js/dojo/openils/reports/nls/hu-hu/
Open-ILS/web/js/dojo/openils/reports/nls/hy-am/
Open-ILS/web/js/dojo/openils/reports/nls/hy-hy/
Open-ILS/web/js/dojo/openils/reports/nls/oc-fr/
Open-ILS/web/js/dojo/openils/reports/nls/pt-br/
Open-ILS/web/js/dojo/openils/reports/nls/ru-ru/
Open-ILS/web/js/dojo/openils/reports/nls/sv-se/
Open-ILS/web/js/dojo/openils/reports/nls/tr-tr/
Open-ILS/web/js/dojo/openils/User/nls/ar-ar/
Open-ILS/web/js/dojo/openils/User/nls/cs-cz/
Open-ILS/web/js/dojo/openils/User/nls/de-de/
Open-ILS/web/js/dojo/openils/User/nls/en-ca/
Open-ILS/web/js/dojo/openils/User/nls/en-gb/
Open-ILS/web/js/dojo/openils/User/nls/es-es/
Open-ILS/web/js/dojo/openils/User/nls/fr-ca/
Open-ILS/web/js/dojo/openils/User/nls/he-il/
Open-ILS/web/js/dojo/openils/User/nls/hu-hu/
Open-ILS/web/js/dojo/openils/User/nls/hy-am/
Open-ILS/web/js/dojo/openils/User/nls/hy-hy/
Open-ILS/web/js/dojo/openils/User/nls/oc-fr/
Open-ILS/web/js/dojo/openils/User/nls/pt-br/
Open-ILS/web/js/dojo/openils/User/nls/ru-ru/
Open-ILS/web/js/dojo/openils/User/nls/sv-se/
Open-ILS/web/js/dojo/openils/User/nls/tr-tr/
Open-ILS/web/js/dojo/openils/widget/nls/ar-ar/
Open-ILS/web/js/dojo/openils/widget/nls/cs-cz/
Open-ILS/web/js/dojo/openils/widget/nls/de-de/
Open-ILS/web/js/dojo/openils/widget/nls/en-ca/
Open-ILS/web/js/dojo/openils/widget/nls/en-gb/
Open-ILS/web/js/dojo/openils/widget/nls/es-es/
Open-ILS/web/js/dojo/openils/widget/nls/fr-ca/
Open-ILS/web/js/dojo/openils/widget/nls/he-il/
Open-ILS/web/js/dojo/openils/widget/nls/hu-hu/
Open-ILS/web/js/dojo/openils/widget/nls/hy-am/
Open-ILS/web/js/dojo/openils/widget/nls/hy-hy/
Open-ILS/web/js/dojo/openils/widget/nls/oc-fr/
Open-ILS/web/js/dojo/openils/widget/nls/pt-br/
Open-ILS/web/js/dojo/openils/widget/nls/ru-ru/
Open-ILS/web/js/dojo/openils/widget/nls/sv-se/
Open-ILS/web/js/dojo/openils/widget/nls/tr-tr/
Open-ILS/web/Makefile
Open-ILS/web/Makefile.in
Open-ILS/web/opac/locale/ar-AR/
Open-ILS/web/opac/locale/cs-CZ/
Open-ILS/web/opac/locale/de-DE/
Open-ILS/web/opac/locale/en-CA/
Open-ILS/web/opac/locale/en-GB/
Open-ILS/web/opac/locale/en-US/fm_IDL.dtd
Open-ILS/web/opac/locale/es-ES/
Open-ILS/web/opac/locale/fr-CA/
Open-ILS/web/opac/locale/he-IL/
Open-ILS/web/opac/locale/hu-HU/
Open-ILS/web/opac/locale/hy-AM/
Open-ILS/web/opac/locale/hy-HY/
Open-ILS/web/opac/locale/oc-FR/
Open-ILS/web/opac/locale/pt-BR/
Open-ILS/web/opac/locale/ru-RU/
Open-ILS/web/opac/locale/sv-SE/
Open-ILS/web/opac/locale/tr-TR/
Open-ILS/web/reports/fm_IDL.xml
Open-ILS/xul/staff_client/build/
Open-ILS/xul/staff_client/chrome/locale/ar-AR/
Open-ILS/xul/staff_client/chrome/locale/cs-CZ/
Open-ILS/xul/staff_client/chrome/locale/de-DE/
Open-ILS/xul/staff_client/chrome/locale/en-CA/
Open-ILS/xul/staff_client/chrome/locale/en-GB/
Open-ILS/xul/staff_client/chrome/locale/es-ES/
Open-ILS/xul/staff_client/chrome/locale/fr-CA/
Open-ILS/xul/staff_client/chrome/locale/he-IL/
Open-ILS/xul/staff_client/chrome/locale/hu-HU/
Open-ILS/xul/staff_client/chrome/locale/hy-AM/
Open-ILS/xul/staff_client/chrome/locale/hy-HY/
Open-ILS/xul/staff_client/chrome/locale/oc-FR/
Open-ILS/xul/staff_client/chrome/locale/pt-BR/
Open-ILS/xul/staff_client/chrome/locale/ru-RU/
Open-ILS/xul/staff_client/chrome/locale/sv-SE/
Open-ILS/xul/staff_client/chrome/locale/tr-TR/
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/CGI.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/Date.W3CDTF.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/DojoSRF.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/JSON_v0.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/JSON_v1.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/RemoteRequest.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/added_content.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/config.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/dtree.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/fm_table.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/fm_table_conf.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/fmgen.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/init.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/md5.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/opac_utils.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/opensrf.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/opensrf_xhr.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/opensrf_xmpp.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/org_utils.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/slimtree.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/sorttable.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/sprintf.js
Open-ILS/xul/staff_client/chrome/content/OpenILS/util/utils.js
Open-ILS/xul/staff_client/chrome/locale/en-US/lang.dtd
Open-ILS/xul/staff_client/components/compreg.dat
Open-ILS/xul/staff_client/components/xpti.dat
Open-ILS/xul/staff_client/evergreen
Open-ILS/xul/staff_client/BUILD_ID
Open-ILS/xul/staff_client/PREV_STAMP_ID
Open-ILS/xul/staff_client/PREV_VERSION
Open-ILS/xul/staff_client/STAMP_ID
Open-ILS/xul/staff_client/VERSION
Open-ILS/xul/staff_client/server/locale/ar-AR/
Open-ILS/xul/staff_client/server/locale/cs-CZ/
Open-ILS/xul/staff_client/server/locale/de-DE/
Open-ILS/xul/staff_client/server/locale/en-CA/
Open-ILS/xul/staff_client/server/locale/en-GB/
Open-ILS/xul/staff_client/server/locale/es-ES/
Open-ILS/xul/staff_client/server/locale/fr-CA/
Open-ILS/xul/staff_client/server/locale/he-IL/
Open-ILS/xul/staff_client/server/locale/hu-HU/
Open-ILS/xul/staff_client/server/locale/hy-AM/
Open-ILS/xul/staff_client/server/locale/hy-HY/
Open-ILS/xul/staff_client/server/locale/oc-FR/
Open-ILS/xul/staff_client/server/locale/pt-BR/
Open-ILS/xul/staff_client/server/locale/ru-RU/
Open-ILS/xul/staff_client/server/locale/sv-SE/
Open-ILS/xul/staff_client/server/locale/tr-TR/
Open-ILS/xul/staff_client/evergreen_staff_client.tar.bz2
Open-ILS/xul/staff_client/xulrunner-3.6.25.en-US.linux-i686.tar.bz2
Open-ILS/xul/staff_client/xulrunner/
README.html
HACKING.html
