# Hide built objects
*.[oa]
*.la
*.lo
*.slo

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
Open-ILS/examples/Makefile
Open-ILS/src/apachemods/.libs/
Open-ILS/src/apachemods/Makefile
Open-ILS/src/apachemods/Makefile.in
Open-ILS/src/c-apps/.deps/
Open-ILS/src/c-apps/dump_idl
Open-ILS/src/c-apps/idlval
Open-ILS/src/c-apps/.libs/
Open-ILS/src/c-apps/Makefile
Open-ILS/src/c-apps/Makefile.in
Open-ILS/src/c-apps/oils_dataloader
Open-ILS/src/c-apps/test_json_query
Open-ILS/src/c-apps/test_qstore
Open-ILS/src/extras/.deps/
Open-ILS/src/extras/eg_config
Open-ILS/src/extras/fast-extract
Open-ILS/src/extras/import/marc2are.pl
Open-ILS/src/extras/import/marc2bre.pl
Open-ILS/src/extras/import/marc2sre.pl
Open-ILS/src/extras/import/parallel_pg_loader.pl
Open-ILS/src/extras/.libs/
Open-ILS/src/extras/Makefile
Open-ILS/src/extras/Makefile.in
Open-ILS/src/extras/oils_requestor
Open-ILS/src/java/Makefile
Open-ILS/src/java/Makefile.in
Open-ILS/src/Makefile
Open-ILS/src/Makefile.in
Open-ILS/src/perlmods/blib/
Open-ILS/src/perlmods/_build/
Open-ILS/src/perlmods/Build
Open-ILS/src/perlmods/lib/OpenILS/Utils/Cronscript.pm
Open-ILS/src/perlmods/Makefile
Open-ILS/src/perlmods/Makefile.in
Open-ILS/src/perlmods/MYMETA.json
Open-ILS/src/perlmods/MYMETA.yml
Open-ILS/src/python/build/
Open-ILS/src/python/Evergreen.egg-info/
Open-ILS/src/python/Makefile
Open-ILS/src/python/Makefile.in
Open-ILS/src/support-scripts/authority_control_fields.pl
Open-ILS/src/support-scripts/marc_export
Open-ILS/updates/Makefile
Open-ILS/updates/Makefile.in
Open-ILS/xul/staff_client/client/

# Ignore built or installed locales
build/i18n/locale/
Open-ILS/web/js/dojo/openils/acq/nls/cs-cz/
Open-ILS/web/js/dojo/openils/acq/nls/en-ca/
Open-ILS/web/js/dojo/openils/acq/nls/en-gb/
Open-ILS/web/js/dojo/openils/acq/nls/es-es/
Open-ILS/web/js/dojo/openils/acq/nls/fr-ca/
Open-ILS/web/js/dojo/openils/acq/nls/hy-am/
Open-ILS/web/js/dojo/openils/acq/nls/hy-hy/
Open-ILS/web/js/dojo/openils/acq/nls/pt-br/
Open-ILS/web/js/dojo/openils/acq/nls/ru-ru/
Open-ILS/web/js/dojo/openils/actor/nls/cs-cz/
Open-ILS/web/js/dojo/openils/actor/nls/en-ca/
Open-ILS/web/js/dojo/openils/actor/nls/en-gb/
Open-ILS/web/js/dojo/openils/actor/nls/es-es/
Open-ILS/web/js/dojo/openils/actor/nls/fr-ca/
Open-ILS/web/js/dojo/openils/actor/nls/hy-am/
Open-ILS/web/js/dojo/openils/actor/nls/hy-hy/
Open-ILS/web/js/dojo/openils/actor/nls/pt-br/
Open-ILS/web/js/dojo/openils/actor/nls/ru-ru/
Open-ILS/web/js/dojo/openils/authority/nls/cs-cz/
Open-ILS/web/js/dojo/openils/authority/nls/en-ca/
Open-ILS/web/js/dojo/openils/authority/nls/en-gb/
Open-ILS/web/js/dojo/openils/authority/nls/es-es/
Open-ILS/web/js/dojo/openils/authority/nls/fr-ca/
Open-ILS/web/js/dojo/openils/authority/nls/hy-am/
Open-ILS/web/js/dojo/openils/authority/nls/hy-hy/
Open-ILS/web/js/dojo/openils/authority/nls/pt-br/
Open-ILS/web/js/dojo/openils/authority/nls/ru-ru/
Open-ILS/web/js/dojo/openils/booking/nls/cs-cz/
Open-ILS/web/js/dojo/openils/booking/nls/en-ca/
Open-ILS/web/js/dojo/openils/booking/nls/en-gb/
Open-ILS/web/js/dojo/openils/booking/nls/es-es/
Open-ILS/web/js/dojo/openils/booking/nls/fr-ca/
Open-ILS/web/js/dojo/openils/booking/nls/hy-am/
Open-ILS/web/js/dojo/openils/booking/nls/hy-hy/
Open-ILS/web/js/dojo/openils/booking/nls/pt-br/
Open-ILS/web/js/dojo/openils/booking/nls/ru-ru/
Open-ILS/web/js/dojo/openils/circ/nls/cs-cz/
Open-ILS/web/js/dojo/openils/circ/nls/en-ca/
Open-ILS/web/js/dojo/openils/circ/nls/en-gb/
Open-ILS/web/js/dojo/openils/circ/nls/es-es/
Open-ILS/web/js/dojo/openils/circ/nls/fr-ca/
Open-ILS/web/js/dojo/openils/circ/nls/hy-am/
Open-ILS/web/js/dojo/openils/circ/nls/hy-hy/
Open-ILS/web/js/dojo/openils/circ/nls/pt-br/
Open-ILS/web/js/dojo/openils/circ/nls/ru-ru/
Open-ILS/web/js/dojo/openils/conify/nls/cs-cz/
Open-ILS/web/js/dojo/openils/conify/nls/en-ca/
Open-ILS/web/js/dojo/openils/conify/nls/en-gb/
Open-ILS/web/js/dojo/openils/conify/nls/es-es/
Open-ILS/web/js/dojo/openils/conify/nls/fr-ca/
Open-ILS/web/js/dojo/openils/conify/nls/hy-am/
Open-ILS/web/js/dojo/openils/conify/nls/hy-hy/
Open-ILS/web/js/dojo/openils/conify/nls/pt-br/
Open-ILS/web/js/dojo/openils/conify/nls/ru-ru/
Open-ILS/web/js/dojo/openils/opac/nls/cs-cz/
Open-ILS/web/js/dojo/openils/opac/nls/en-ca/
Open-ILS/web/js/dojo/openils/opac/nls/en-gb/
Open-ILS/web/js/dojo/openils/opac/nls/es-es/
Open-ILS/web/js/dojo/openils/opac/nls/fr-ca/
Open-ILS/web/js/dojo/openils/opac/nls/hy-am/
Open-ILS/web/js/dojo/openils/opac/nls/hy-hy/
Open-ILS/web/js/dojo/openils/opac/nls/pt-br/
Open-ILS/web/js/dojo/openils/opac/nls/ru-ru/
Open-ILS/web/js/dojo/openils/reports/nls/cs-cz/
Open-ILS/web/js/dojo/openils/reports/nls/en-ca/
Open-ILS/web/js/dojo/openils/reports/nls/en-gb/
Open-ILS/web/js/dojo/openils/reports/nls/es-es/
Open-ILS/web/js/dojo/openils/reports/nls/fr-ca/
Open-ILS/web/js/dojo/openils/reports/nls/hy-am/
Open-ILS/web/js/dojo/openils/reports/nls/hy-hy/
Open-ILS/web/js/dojo/openils/reports/nls/pt-br/
Open-ILS/web/js/dojo/openils/reports/nls/ru-ru/
Open-ILS/web/js/dojo/openils/User/nls/cs-cz/
Open-ILS/web/js/dojo/openils/User/nls/en-ca/
Open-ILS/web/js/dojo/openils/User/nls/en-gb/
Open-ILS/web/js/dojo/openils/User/nls/es-es/
Open-ILS/web/js/dojo/openils/User/nls/fr-ca/
Open-ILS/web/js/dojo/openils/User/nls/hy-am/
Open-ILS/web/js/dojo/openils/User/nls/hy-hy/
Open-ILS/web/js/dojo/openils/User/nls/pt-br/
Open-ILS/web/js/dojo/openils/User/nls/ru-ru/
Open-ILS/web/js/dojo/openils/widget/nls/cs-cz/
Open-ILS/web/js/dojo/openils/widget/nls/en-ca/
Open-ILS/web/js/dojo/openils/widget/nls/en-gb/
Open-ILS/web/js/dojo/openils/widget/nls/es-es/
Open-ILS/web/js/dojo/openils/widget/nls/fr-ca/
Open-ILS/web/js/dojo/openils/widget/nls/hy-am/
Open-ILS/web/js/dojo/openils/widget/nls/hy-hy/
Open-ILS/web/js/dojo/openils/widget/nls/pt-br/
Open-ILS/web/js/dojo/openils/widget/nls/ru-ru/
Open-ILS/web/Makefile
Open-ILS/web/Makefile.in
Open-ILS/web/opac/locale/cs-CZ/
Open-ILS/web/opac/locale/en-CA/
Open-ILS/web/opac/locale/en-GB/
Open-ILS/web/opac/locale/es-ES/
Open-ILS/web/opac/locale/fr-CA/
Open-ILS/web/opac/locale/hy-AM/
Open-ILS/web/opac/locale/hy-HY/
Open-ILS/web/opac/locale/pt-BR/
Open-ILS/web/opac/locale/ru-RU/
Open-ILS/xul/staff_client/build/
Open-ILS/xul/staff_client/chrome/locale/cs-CZ/
Open-ILS/xul/staff_client/chrome/locale/en-CA/
Open-ILS/xul/staff_client/chrome/locale/en-GB/
Open-ILS/xul/staff_client/chrome/locale/es-ES/
Open-ILS/xul/staff_client/chrome/locale/fr-CA/
Open-ILS/xul/staff_client/chrome/locale/hy-AM/
Open-ILS/xul/staff_client/chrome/locale/hy-HY/
Open-ILS/xul/staff_client/chrome/locale/pt-BR/
Open-ILS/xul/staff_client/chrome/locale/ru-RU/
Open-ILS/xul/staff_client/Makefile
Open-ILS/xul/staff_client/Makefile.in
Open-ILS/xul/staff_client/PREV_STAMP_ID
Open-ILS/xul/staff_client/PREV_VERSION
Open-ILS/xul/staff_client/server/locale/cs-CZ/
Open-ILS/xul/staff_client/server/locale/en-CA/
Open-ILS/xul/staff_client/server/locale/en-GB/
Open-ILS/xul/staff_client/server/locale/es-ES/
Open-ILS/xul/staff_client/server/locale/hy-AM/
Open-ILS/xul/staff_client/server/locale/hy-HY/
Open-ILS/xul/staff_client/server/locale/pt-BR/
Open-ILS/xul/staff_client/server/locale/ru-RU/
