Bill Erickson <berick@esilibrary.com>
Bill Erickson <berick@esilibrary.com> <berick@commidore64.esilibrary.com>
Bill Erickson <berick@esilibrary.com> <berick@squeeze.localnet>
Bill Erickson <berick@esilibrary.com> <erickson@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Bill Erickson <berick@esilibrary.com> <erickson@esilibrary.com>
Dan Scott <dan@coffeecode.net> <dbs@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Dan Scott <dan@coffeecode.net> <dscott@laurentian.ca>
Dan Wells <dbw2@calvin.edu>
Dan Wells <dbw2@calvin.edu> <dbwells@dcc99617-32d9-48b4-a31d-7c20da2025e4>
David Fiander <djfiander> <djfiander@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Galen Charlton <gmc@equinoxOLI.org> <gmc@esilibrary.com>
Galen Charlton <gmc@equinoxOLI.org> <gmc@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Galen Charlton <gmc@equinoxOLI.org> <gmc@equinoxinitiative.org>
Jason Etheridge <jason@esilibrary.com> <phasefx@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Joe Atzberger <atz> <atz@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Karen Schneider	<kgs> <kgs@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Laura McFarland <lmcfarland> <lmcfarland@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Lebbeous Fogle-Weekley <lebbeous@esilibrary.com>
Lebbeous Fogle-Weekley <lebbeous@esilibrary.com> <senator@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Michael Peters <mrpeters@library.in.gov>
Mike Rylander <mrylander@gmail.com> <miker@dcc99617-32d9-48b4-a31d-7c20da2025e4>
PINES <pines> <pines@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Robin Isard <robin.isard@algomau.ca> <evergreen@squeeze.debian>
Scott McKellar <scottmk> <scottmk@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Shawn Boyette <sboyette> <sboyette@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Thomas Berezansky <tsbere@mvlc.org>
cvs2svn <cvs2svn> <(no author)@dcc99617-32d9-48b4-a31d-7c20da2025e4>
Jason Stephenson <jason@sigio.com>
Jason Stephenson <jason@sigio.com> <jstephenson@mvlc.org>
Jason Stephenson <jason@sigio.com> <jstephenson@mvlcstaff.org>
Jason Stephenson <jason@sigio.com> <jstephenson@cwmars.org>

