[% BLOCK html_head %]
<style>
    table { width: 100%; padding: 20px; margin-top: 30px; }
    table { border-collapse: collapse; }
    table td { padding: 3px; border-bottom: 1px solid #ddd; text-align: left;}
    table th { padding: 3px; border-bottom: 1px solid #ddd; text-align: left;}
    table tr:nth-child(even) { background-color:#ded; }
    #record_table td { padding-left: 15px; padding-right: 15px; }
</style>
[% END %]

[% 
    WRAPPER "default/opac/base.tt2"; 
    PROCESS "default/opac/common.tt2";
    ctx.page_title = "Details";
    record = ctx.record;
    attrs = {marc_xml => ctx.marc_xml};
    PROCESS get_marc_attrs args=attrs;
%]

<div id='detail_div'>
    <table id='record_table' style='width:auto'>
        <tr>
            <td rowspan='10' style='width:55px; vertical-align:top; padding-right:4px;'>
                [% IF attrs.isbn_clean || attrs.upc %]
                <img width='50' height='70' src='[% ctx.media_prefix %]/opac/extras/ac/jacket/small/[% attrs.isbn_clean || attrs.upc %]'/>
                [% END %]
            </td>
        </tr>
        [% IF attrs.title %]<tr><td>Title</td><td>[% attrs.title %]</td></tr>[% END %]
        [% IF attrs.author %]<tr><td>Author</td><td><a href='../results?query=au:[% attrs.author | uri %]'>[% attrs.author %]</a></td></tr>[% END %]
        [% IF attrs.isbn %]<tr><td>ISBN</td><td>[% attrs.isbn %]</td></tr>[% END %]
        [% IF attrs.issn %]<tr><td>ISSN</td><td>[% attrs.issn %]</td></tr>[% END %]
        [% IF attrs.upc %]<tr><td>UPC</td><td>[% attrs.upc %]</td></tr>[% END %]
        [% IF attrs.pubdate %]<tr><td>Publication Date</td><td>[% attrs.pubdate %]</td></tr>[% END %]
        [% IF attrs.publisher %]<tr><td>Publishere</td><td>[% attrs.publisher %]</td></tr>[% END %]
        <tr>
            <td>Subjects</td>
            <td>
            [% FOR node IN ctx.marc_xml.findnodes('//*[@tag="650"]') %]
                [% 
                    s0 = node.childNodes.0.textContent;
                    s1 = node.childNodes.1.textContent;
                %]
                [% IF s0 %]
                    <a href='../results?query=su:[% s0 | url %]'>[% s0 %]</a>
                    [% IF s1 %]
                    <span>--</span>
                    <a href='../results?query=su:[% s1 | url %]'>[% s1 %]</a>
                    [% END %]
                    <br/>
                [% END %]
            [% END %]
            </td>
        </tr>
    </table>
    <table id='copy_table'>
        <thead>
            <tr>
                <th>Owning Lib</th>
                <th>Call Number</th>
                <th>Barcode</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        [% FOR acn IN record.call_numbers %]
            [% FOR acp IN acn.copies %]
                <tr>
                    <td>[% ctx.find_aou(acn.owning_lib).shortname %]</td>
                    <td>[% acn.label %]</td>
                    <td>[% acp.barcode %]</td>
                    <td>[% ctx.find_ccs(acp.status).name %]</td>
                </tr>
            [% END %]
        [% END %]
        </tbody>
    </table>
</div>


[% END %]
