<ng-template #dialogContent>
  <div class="modal-header">
    <h3 class="modal-title" i18n>Attribute Set {{attrSet?.label()}}: Providers</h3>
    <button type="button" class="btn-close btn-close-white"
      i18n-aria-label aria-label="Close dialog" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <eg-edi-attr-set-providers [attrSetId]="attrSetId"></eg-edi-attr-set-providers>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-normal" *ngIf="!canUpdate"
      (click)="close()" i18n>Close</button>
  </div>
</ng-template>
