<eg-title i18n-prefix prefix="Hold Policy Configuration"></eg-title>
<eg-staff-banner bannerText="Hold Policy Configuration" i18n-bannerText>
</eg-staff-banner>

<eg-string #successString i18n-text text="Hold Policy Update Succeeded"></eg-string>
<eg-string #createString i18n-text text="Hold Policy Creation Succeeded"></eg-string>

@if (orgField || gridFilters) {
  <div class="row" [hidden]="true">
    <div class="col-lg-6">
      @if (orgField) {
        <div class="row">
          <div class="col-md-6">
            <eg-combobox (onChange)="orgField = $event.id">
              <eg-combobox-entry entryId="pickup_ou" entryLabel="Pickup Library" i18n-entryLabel/>
              <eg-combobox-entry entryId="item_circ_ou" entryLabel="Item Circ Library" i18n-entryLabel/>
              <eg-combobox-entry entryId="item_owning_ou" entryLabel="Owning Library" i18n-entryLabel/>
              <eg-combobox-entry entryId="user_home_ou" entryLabel="User Home Library" i18n-entryLabel/>
              <eg-combobox-entry entryId="request_ou" entryLabel="Requesting Library" i18n-entryLabel/>
            </eg-combobox>
          </div>
          <div class="col-md-6">
            <eg-org-family-select
              [limitPerms]="viewPerms"
              [(ngModel)]="searchOrgs"
              (ngModelChange)="grid.reload()">
            </eg-org-family-select>
          </div>
        </div>
      }
    </div>
    <div class="col-lg-6 hstack">
      <div class="flex-1"></div><!-- push right -->
      @if (gridFilters) {
        <span i18n>Filters Applied: {{gridFilters | json}}</span>
        <a class="ps-2 fst-italic"
        [attr.href]="clearGridFiltersUrl()" i18n>Clear URL Filters</a>
      }
      @if (searchOrgs) {
        <a class="ps-2 fst-italic"
        [attr.href]="applyOrgValues(null)" i18n>Clear Org Filters</a>
      }
    </div>
  </div>
  <hr/>
}

<eg-grid #grid idlClass="chmm"
  [dataSource]="dataSource"
  [sortable]="true"
  [filterable]="true"
  persistKey="admin.config.hold_matrix_matchpoint"
  (onRowActivate)="editSelected([$event])"
  [showFields]='"active,pickup_ou,pickup_lasso,item_circ_ou,item_circ_lasso,item_owning_ou,item_owning_lasso,user_home_ou,user_home_lasso"'>
  <eg-grid-toolbar-button
    label="New Hold Policy" i18n-label (onClick)="createNew()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-action
    label="Edit Selected" i18n-label
    (onClick)="editSelected($event)"
    [disableOnRows]="notOneSelectedRow">
  </eg-grid-toolbar-action>
  <eg-grid-toolbar-action
    label="Clone Selected" i18n-label
    (onClick)="cloneSelected($event)"
    [disableOnRows]="notOneSelectedRow"/>
</eg-grid>

<eg-hold-matrix-matchpoint-dialog #matchpointDialog>

  <ng-template #lassoSelection let-idPrefix="idPrefix" let-field="field" let-record="record" let-org_field="org_field">
    <eg-combobox
      domId="{{idPrefix}}-{{field.name}}" name="{{field.name}}"
      [attr.aria-describedby]="field.helpText ? idPrefix+'-'+field.name+'-help' : null"
      [required]="field.isRequired()"
      [idlClass]="field.class"
      [clearOnAsync]="true"
      [asyncSupportsEmptyTermClick]="true"
      [idlBaseQuery]="
        {'-or':[
          {global:'t'},
          {id:{in:{select:{lmap:['lasso']},from:'lmap',where:{org_unit:org.get(record[org_field]())?.id()}}}},
          {'-exists':{select:{aou:['id']},from:'aou',where:{id:org.get(record[org_field]())?.id(), parent_ou:null}}},
        ]}
      "
      [idlField]="field.selector"
      [selectedId]="idFromMaybeObject(record[field.name]())"
      (onChange)="record[field.name]($event ? $event.id : null)">
    </eg-combobox>
  </ng-template>

  <ng-template #general_match let-idPrefix="idPrefix" let-field="field" let-record="record">
    <div class="row">
      <div class="col-lg-12">
        <eg-staff-banner bannerText="Request-level Hold Policy Matchpoints" i18n-bannerText>
        </eg-staff-banner>
      </div>
    </div>
  </ng-template>

  <ng-template #item_pol_match let-idPrefix="idPrefix" let-field="field" let-record="record">
    <div class="row">
      <div class="col-lg-12">
        <eg-staff-banner bannerText="Item-level Hold Policy Matchpoints" i18n-bannerText>
        </eg-staff-banner>
      </div>
    </div>
  </ng-template>

  <ng-template #hold_effects let-idPrefix="idPrefix" let-field="field" let-record="record">
    <div class="row">
      <div class="col-lg-12">
        <eg-staff-banner bannerText="Hold Policy Effects" i18n-bannerText>
        </eg-staff-banner>
      </div>
    </div>
  </ng-template>

  <eg-fm-record-editor #editDialog
    idlClass="chmm"
    [preloadLinkedValues]="true"
    displayMode="inline"
    fieldOrder="description,active,strict_ou_match,pickup_ou,pickup_lasso,item_owning_ou,item_owning_lasso,item_circ_ou,item_circ_lasso,usr_grp,requestor_grp,user_home_ou,user_home_lasso,request_ou,request_lasso,marc_type,marc_form,marc_bib_level,marc_vr_format,circ_modifier,copy_location,ref_flag,item_age,holdable,distance_is_from_owner,transit_range,max_holds,include_frozen_holds,age_hold_protect_rule,stop_blocked_user,id"
    requiredFields="active,requestor_grp"
    (recordSaved)="closeDialog()"
    [fieldOptions]="{
      pickup_lasso:      {customTemplate: {template: lassoSelection, context: {org_field: 'pickup_ou'}}},
      item_circ_lasso:   {customTemplate: {template: lassoSelection, context: {org_field: 'item_circ_ou'}}},
      item_owning_lasso: {customTemplate: {template: lassoSelection, context: {org_field: 'item_owning_ou'}}},
      user_home_lasso:   {customTemplate: {template: lassoSelection, context: {org_field: 'user_home_ou'}}},
      request_lasso:     {customTemplate: {template: lassoSelection, context: {org_field: 'request_ou'}}},
      active:            {appendTemplate: {template: general_match}},
      marc_vr_format:    {appendTemplate: {template: item_pol_match}},
      item_age:          {appendTemplate: {template: hold_effects}}
    }"/>
</eg-hold-matrix-matchpoint-dialog>
