
.eg-tree-node-expandy .material-icons {
  font-size: 16px;
}

.eg-tree-node {
  padding: 2px;
}

.eg-tree-node-wrapper.active {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
}

.btn-link {
  line-height: 1;
}