@if (identType === 'id') {
  <eg-staff-banner bannerText="Search by Record ID" i18n-bannerText>
  </eg-staff-banner>
}

@if (identType === 'tcn') {
  <eg-staff-banner bannerText="Search by Record TCN" i18n-bannerText>
  </eg-staff-banner>
}


<form class="mt-3">
  <div class="hstack align-items-baseline w-auto" [formGroup]="bibIdentGroup">
    <label class="form-label" for="bib-ident-type">
      Retrieve record by
    </label>

    <select class="form-select w-auto mx-2" id="bib-ident-type"
      [(ngModel)]="identType" (ngModelChange)="resetQuery()" formControlName="bibIdentType">
      <option value="id">ID</option>
      <option value="tcn">TCN</option>
    </select>

    <label class="form-label mx-2" for="bib-ident-value">
      @if (identType === 'id') {
        <ng-container i18n>ID:</ng-container>
      }
      @if (identType === 'tcn') {
        <ng-container i18n>TCN:</ng-container>
      }
    </label>
    <input id="bib-ident-value" type="text" required
      (keyup.enter)="search()" [(ngModel)]="identValue" formControlName="bibIdentValue"
      class="form-control mx-2 w-auto" aria-describedby="bib-ident-status" />

    <button class="btn btn-primary" [disabled]="searchInProgress" (click)="search()" type="submit">
      @if (!searchInProgress) {
        <span i18n>Search</span>
      }
      @if (searchInProgress) {
        <span i18n>Searching...</span>
      }
    </button>

    @if (searchInProgress) {
      <div role="status">
        <span class="visually-hidden">Searching...</span>
      </div>
    }

  </div>

  <div role="status" id="bib-ident-status">
    <div class="invalid-feedback d-block fs-4">
      @if (notFound && !multiRecordsFound) {
        <div i18n>
        Record not found: {{identValue}}
      </div>
      }
      @if (multiRecordsFound) {
        <div i18n>
        More than one Bib Record found with TCN: {{identValue}}
      </div>
      }
      @if (queryError) {
        <div i18n>
        The server encountered an error. Please try a different search.
      </div>
      }
    </div>
  </div>
</form>
