[%- IF ctx.locales.keys.size > 1;

    # Ensure the context locale is in xx_yy format
    base_locale = ctx.locale FILTER lower;
    base_locale = base_locale.replace('-','_');

    set_locale = CGI.param('set_eg_locale') || CGI.cookie('eg_locale') || base_locale;
%]

<form id="lang_select" class="language_form" action="[% mkurl() %]" method="post">
    <label id="lang_select_header" for="pref_locale_picker">
        <i class="fas fa-globe" aria-hidden="true"></i>
        [% l("Language") %]
    </label>

    [%- FOREACH param IN CGI.params(); -%]
        [%- NEXT IF param.key == 'set_eg_locale'; -%]
        <input type="hidden" name="[% param.key | html %]" value="[% param.value | html %]" />
    [%- END; -%]

    <select id="pref_locale_picker" name="set_eg_locale" class="form-control form-control-sm">
    [%- FOREACH locale IN ctx.locales.keys %]
        [%- IF set_locale == locale;
                selected = 'selected="selected"';
            ELSE;
                selected = '';
            END;
        %]
        <option value="[% locale | html %]" [% selected %]>[% ctx.locales.$locale | html %]</option>
    [%- END %]
    </select>

    <button type="submit" class="btn btn-sm btn-confirm">[% l("Change") %]</button>
</form>
[%- END %]
