<eg-staff-banner
  bannerText=" {{currentCourse.course_number()}}: {{currentCourse.name()}}"
  i18n-bannerText class="mb-3" *ngIf="currentCourse"
  [bannerStyle]="currentCourse.is_archived() == 't' ? 'alert-secondary' : null"
  [bannerIcon]="currentCourse.is_archived() == 't' ? 'lock' : null">
</eg-staff-banner>

<div class="row">
  <div class="col text-right">
    <button class="btn btn-danger"
      (click)="archiveCourse()" [disabled]="currentCourse && currentCourse.is_archived() == 't'">
      <i class="material-icons align-middle"
        *ngIf="currentCourse && currentCourse.is_archived() == 't'">block</i>
      <span class="align-middle">Archive Course</span>
    </button>
    <a class="btn btn-warning ml-3" routerLink="/staff/admin/local/asset/course_list" i18n>
      <i class="material-icons align-middle">keyboard_return</i>
      <span class="align-middle">Return to Course List</span>
    </a>
  </div>
</div>
<ul ngbNav #coursePageNav="ngbNav" class="nav-tabs">

  <!-- Edit Tab -->
  <li [ngbNavItem]="'edit'">
    <a ngbNavLink i18n>Edit course</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-lg-3 mt-3">
        </div>
        <div class="col-lg-6 mt-3">
          <eg-fm-record-editor displayMode="inline"
            mode="update"
            hiddenFieldsList="id,is_archived"
            idlClass="acmc"
            fieldOrder="course_number,name,owning_lib,section_number"
            [preloadLinkedValues]="true"
            [record]="currentCourse">
          </eg-fm-record-editor>
        </div>
      </div>
    </ng-template>
  </li>

  <!-- Materials Tab -->
  <li [ngbNavItem]="'courseMaterials'">
    <a ngbNavLink i18n>Course materials</a>
    <ng-template ngbNavContent>
      <eg-course-associate-material-dialog [courseId]="courseId"
        [currentCourse]="currentCourse" displayMode="inline">
      </eg-course-associate-material-dialog>
    </ng-template>
  </li>

  <!-- Users Tab -->
  <li [ngbNavItem]="'courseUsers'">
    <a ngbNavLink i18n>Course users</a>
    <ng-template ngbNavContent>
      <eg-course-associate-users-dialog [courseId]="courseId"
        [currentCourse]="currentCourse" displayMode="inline">
      </eg-course-associate-users-dialog>
    </ng-template>
  </li>

  <!-- Terms Tab -->
  <li [ngbNavItem]="'courseTerms'">
    <a ngbNavLink i18n>Course terms</a>
    <ng-template ngbNavContent>
      <eg-admin-page idlClass="acmtcm" readonlyFields="id"
        [defaultNewRecord]="defaultNewAcmtcm"
        hideGridFields="id" [dataSource]="termsDataSource">
      </eg-admin-page>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="coursePageNav" class="mb-3"></div>


<eg-string #archiveFailedString i18n-text text="Archival of Course failed or was not allowed"></eg-string>
<eg-string #archiveSuccessString i18n-text text="Archival of Course succeeded"></eg-string>
