
<h3 i18n>Transaction: #{{xactId}}</h3>

<div *ngIf="entry" class="striped-rows-odd">
  <div class="row p-1">
    <div class="col-lg-2" i18n>Billing Location</div>
    <div class="col-lg-2">{{entry.billingLocation}}</div>
    <div class="col-lg-2" i18n>Total Billed</div>
    <div class="col-lg-1">{{entry.xact.summary().total_owed() | currency}}</div>
    <div class="col-lg-2" i18n>Title</div>
    <div class="col-lg-3">{{entry.title}}</div>
  </div>
  <div class="row mt-1 p-1">
    <div class="col-lg-2" i18n>Type</div>
    <div class="col-lg-2"[ngSwitch]="entry.xact.summary().xact_type()">
      <span *ngSwitchCase="'circulation'" i18n>Circulation</span>
      <span *ngSwitchCase="'grocery'" i18n>Grocery</span>
    </div>
    <div class="col-lg-2" i18n>Total Paid / Credited</div>
    <div class="col-lg-1">{{entry.xact.summary().total_paid() | currency}}</div>
    <div class="col-lg-2" i18n>Checked Out</div>
    <div class="col-lg-3">
      <ng-container *ngIf="entry.xact.circulation()">
        {{entry.xact.xact_start() | date:'short'}}
      </ng-container>
    </div>
  </div>
  <div class="row mt-1 p-1">
    <div class="col-lg-2" i18n>Started</div>
    <div class="col-lg-2">{{entry.xact.xact_start() | date:'short'}}</div>
    <div class="col-lg-2" i18n>Balance Due</div>
    <div class="col-lg-1">{{entry.xact.summary().balance_owed() | currency}}</div>
    <div class="col-lg-2" i18n>Due Date</div>
    <div class="col-lg-3">
      <ng-container *ngIf="entry.xact.circulation()">
        {{entry.xact.circulation().due_date() | date:'short'}}
      </ng-container>
    </div>
  </div>
  <div class="row mt-1 p-1">
    <div class="col-lg-2" i18n>Finished</div>
    <div class="col-lg-2">{{entry.xact.xact_finish() | date:'short'}}</div>
    <div class="col-lg-2" i18n>Renewal?</div>
    <div class="col-lg-1">
      <ng-container *ngIf="entry.xact.circulation()">
        <eg-bool [value]="entry.xact.circulation().parent_circ() != null">
        </eg-bool>
      </ng-container>
    </div>
    <div class="col-lg-2" i18n>Checked In</div>
    <div class="col-lg-3">
      <ng-container *ngIf="entry.xact.circulation()">
        {{entry.xact.circulation().checkin_time() | date:'short'}}
      </ng-container>
    </div>
  </div>
</div>

<hr class="p-2 m-2"/>

<ul ngbNav #statementNav="ngbNav" class="nav-tabs"
  [activeId]="statementTab" (navChange)="beforeTabChange($event)">
  <li ngbNavItem="statement">
    <a ngbNavLink i18n>Statement</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>
  <li ngbNavItem="details">
    <a ngbNavLink i18n>Details</a>
    <ng-template ngbNavContent>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="statementNav"></div>

<!--
Billing LocationBR1Total Billed$4.56Title
TypegroceryTotal Paid/Credited$2.50Checked Out
Start3/11/2021 1:34 PMBalance Due$2.06Due Date
FinishRenewal?Checked In
-->
