

.payment-form input[type="text"], .payment-form input[type="number"] {
  width: 8em;
}

.striped {
  background-color: var(--bills-striped-bg);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.num-receipts {
  width: 4em;
}

