<div class="row pb-2 pt-2">

  <div class="col-lg-6">
    <span class="font-weight-bold" i18n>Show:</span>
    <button class="btn btn-sm btn-outline-dark ml-2" 
      [disabled]="visibilityLevel == 2"
      (click)="changeFields(2)" i18n>Required Fields</button>
    <button class="btn btn-sm btn-outline-dark ml-2" 
      [disabled]="visibilityLevel == 1"
      (click)="changeFields(1)" i18n>Suggested Fields</button>
    <button class="btn btn-sm btn-outline-dark ml-2" 
      [disabled]="visibilityLevel == 0"
      (click)="changeFields(0)" i18n>All Fields</button>
  </div>

  <div class="col-lg-6 d-flex">
    <div class="ml-auto">
      <button class="btn btn-outline-dark"
        (click)="printClicked.emit()" i18n>Print</button>
      <button class="btn btn-outline-dark ml-2" [disabled]="disableSave"
        (click)="saveClicked.emit()" i18n>Save</button>
      <button class="btn btn-outline-dark ml-2" [disabled]="disableSave"
        (click)="saveCloneClicked.emit()" i18n>Save &amp; Clone</button>
    </div>
  </div>
</div>
