<eg-prompt-dialog #moveToGroupDialog
  i18n-dialogBody dialogBody="Enter the patron barcode">
</eg-prompt-dialog>
<eg-alert-dialog #userNotFoundDialog
  i18n-dialogBody dialogBody="User not found">
</eg-alert-dialog>

<h3 i18n>Group Member Details</h3>

<div class="row">
  <div class="col-lg-12">
    <span i18n>Total Owed:</span>
    <span class="ms-1">{{totalOwed | currency}}</span>
    <span class="ms-2">Total Out:</span>
    <span class="ms-1">{{totalOut}}</span>
    <span class="ms-2">Total Overdue:</span>
    <span class="ms-1">{{totalOverdue}}</span>
    <span class="ms-2">Total Lost:</span>
    <span class="ms-1">{{totalLost}}</span>
  </div>
</div>

<hr class="m-2"/>

<div class="mt-3">

  <ng-template #barcodeTemplate let-r="row">
    <ng-container *ngIf="r.card()">
      <a routerLink="/staff/circ/patron/{{r.id()}}/checkout">
        {{r.card().barcode()}}
      </a>
    </ng-container>
  </ng-template>

  <eg-grid idlClass="au" #groupGrid 
    persistKey="circ.patron.group_members" [cellTextGenerator]="cellTextGenerator"
    [dataSource]="dataSource" [sortable]="true" [useLocalSort]="true"
    [showDeclaredFieldsOnly]="true" (onRowActivate)="onRowActivate($event)">

    <eg-grid-toolbar-button label="Move Another Patron To This Group" 
      i18n-label (onClick)="movePatronToGroup()">
    </eg-grid-toolbar-button>

    <eg-grid-toolbar-action 
      label="Register a New Group Member By Cloning Selected Patron"
      i18n-label (onClick)="cloneSelected($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action label="Remove Selected From Group"
      i18n-label (onClick)="removeSelected($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action label="Move Selected To Another Patron's Group"
      i18n-label (onClick)="movePatronToGroup($event)">
    </eg-grid-toolbar-action>

    <eg-grid-column name="family_name"></eg-grid-column>
    <eg-grid-column name="first_given_name"></eg-grid-column>

    <eg-grid-column name="balance_owed" path="_stats.fines.balance_owed" 
      datatype="money" label="Balance Owed" i18n-label>
    </eg-grid-column>

    <eg-grid-column name="total_out" path="_stats.checkouts.total_out" 
      label="Items Out" i18n-label>
    </eg-grid-column>

    <eg-grid-column name="overdue" path="_stats.checkouts.overdue" 
      label="Items Overdue" i18n-label>
    </eg-grid-column>

    <eg-grid-column name="lost" path="_stats.checkouts.lost" 
      label="Items Lost" i18n-label>
    </eg-grid-column>

    <eg-grid-column name="barcode" [cellTemplate]="barcodeTemplate"
      label="Barcode" i18n-label>
    </eg-grid-column>

    <eg-grid-column name="active"></eg-grid-column>
    <eg-grid-column name="barred"></eg-grid-column>
    <eg-grid-column name="dob"></eg-grid-column>
    <eg-grid-column name="master_account"></eg-grid-column>

  </eg-grid>

</div>

