<ng-template #dialogContent>
  <div class="modal-header">
    <h4 class="modal-title" i18n>Update Hold Notification Info?</h4>
    <button type="button" class="btn-close btn-close-white"
    i18n-aria-label aria-label="Close dialog" (click)="close()"></button>
  </div>
  <div class="modal-body">
    @for (mod of mods; track mod) {
      <div class="row mt-2">
        <div class="col-lg-12">
          <div role="status" class="mt-2 mb-2">
            @switch (mod.field) {
              @case ('phone_notify') {
                <span>
                  <span class="me-2">You have set Notify by Phone to</span>
                  <eg-bool [value]="mod.newValue"></eg-bool>
                </span>
              }
              @case ('sms_notify') {
                <span>
                  <span class="me-2">You have set Notify by SMS to</span>
                  <eg-bool [value]="mod.newValue"></eg-bool>
                </span>
              }
              @case ('email_notify') {
                <span>
                  <span class="me-2">You have set Notify by Email to</span>
                  <eg-bool [value]="mod.newValue"></eg-bool>
                </span>
              }
              @case ('default_phone') {
                <span>
                  You have set Default Phone Number to {{mod.newValue}}
                </span>
              }
              @case ('default_sms') {
                <span>
                  You have set Default SMS/Text Number to {{mod.newValue}}
                </span>
              }
              @case ('default_sms_carrier_id') {
                <span>
                  You have set Default SMS Carrier to {{carrierName(mod.newValue)}}
                </span>
              }
            }
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox"
              id="{{mod.field}}-checkbox" [(ngModel)]="selected[mod.field]"/>
            <label class="form-label form-check-label" for="{{mod.field}}-checkbox">
              @if (isCarrierChange(mod)) {
                <ng-container i18n>
              A carrier other than "{{carrierName(mod.oldValue)}}" is
              currently used in {{mod.holds.length}} hold(s).  Update to
              "{{carrierName(mod.newValue)}}"?
            </ng-container>
              }
              @if (isBoolChange(mod)) {
                <ng-container i18n>
              {{mod.holds.length}} hold(s) have it set to 
              <eg-bool [value]="mod.oldValue"></eg-bool>.
              Update to <eg-bool [value]="mod.newValue"></eg-bool>.
            </ng-container>
              }
              @if (isPhoneChange(mod)) {
                <ng-container i18n>
              {{mod.oldValue}} is used for {{mod.holds.length}} hold(s).
              Update to {{mod.newValue}}?
            </ng-container>
              }
            </label>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="modal-footer">
    @if (loading) {
      <div>
        <div class="col-lg-6 offset-lg-3">
          <eg-progress-inline></eg-progress-inline>
        </div>
      </div>
    }
    @if (!loading) {
      <div>
        <button type="button" class="btn btn-success" [disabled]="!anySelected()"
        (click)="applyChanges()" i18n>Apply Changes</button>
        <button type="button" class="btn btn-normal ms-2"
        (click)="close()" i18n>Cancel</button>
      </div>
    }
  </div>
</ng-template>
