<ng-template #progress>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <eg-progress-inline></eg-progress-inline>
    </div>
  </div>
</ng-template>

<div>
  <ul ngbNav #itemsNav="ngbNav" class="nav-tabs"
    [activeId]="itemsTab" (navChange)="tabChange($event)">
    <li ngbNavItem="checkouts">
      <a ngbNavLink i18n>Items Checked Out ({{mainList.length}})</a>
      <ng-template ngbNavContent>
        <ng-container *ngIf="loading">
          <ng-container *ngTemplateOutlet="progress"></ng-container>
        </ng-container>
        <eg-circ-grid #checkoutsGrid [persistKey]="persistKey" (reloadRequested)="load()">
        </eg-circ-grid>
      </ng-template>
    </li>
    <ng-container *ngIf="displayAltList">
      <li ngbNavItem="other">
        <a ngbNavLink i18n>Other/Special Circulations ({{altList.length}})</a>
        <ng-template ngbNavContent>
          <ng-container>
            <ng-container *ngIf="loading">
              <ng-container *ngTemplateOutlet="progress"></ng-container>
            </ng-container>
            <eg-circ-grid #otherGrid [persistKey]="persistKey" (reloadRequested)="load()">
            </eg-circ-grid>
          </ng-container>
        </ng-template>
      </li>
    </ng-container>
    <li ngbNavItem="noncat">
      <a ngbNavLink i18n>
        <ng-container *ngIf="context.patronStats">
          Non-Cataloged Circulations ({{context.patronStats.checkouts.noncat}})
        </ng-container>
      </a>
      <ng-template ngbNavContent>
        <ng-container>
          <ng-container>
            <ng-container *ngIf="loading">
              <ng-container *ngTemplateOutlet="progress"></ng-container>
            </ng-container>
            <eg-circ-grid #nonCatGrid [persistKey]="persistKey" 
              menuStyle="none" (reloadRequested)="load()">
            </eg-circ-grid>
          </ng-container>
        </ng-container>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="itemsNav"></div>
</div>

