<ng-template #progress>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <eg-progress-inline></eg-progress-inline>
    </div>
  </div>
</ng-template>

<div>
  <ul ngbNav #itemsNav="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist"
    [activeId]="itemsTab" (navChange)="tabChange($event)">
    <li role="presentation" ngbNavItem="checkouts">
      <a role="tab" ngbNavLink i18n>Items Checked Out ({{mainList.length}})</a>
      <ng-template ngbNavContent>
        @if (loading) {
          <ng-container *ngTemplateOutlet="progress"></ng-container>
        }
        <eg-circ-grid #checkoutsGrid [pageSize]="25" sortField="due_date"
          persistKey="circ.patron.items_out" (reloadRequested)="load()"
          [patron]="context.summary?.patron">
        </eg-circ-grid>
      </ng-template>
    </li>
    @if (displayAltList) {
      <li role="presentation" ngbNavItem="other">
        <a role="tab" ngbNavLink i18n>Other/Special Circulations ({{altList.length}})</a>
        <ng-template ngbNavContent>
          <ng-container>
            @if (loading) {
              <ng-container *ngTemplateOutlet="progress"></ng-container>
            }
            <eg-circ-grid #otherGrid [pageSize]="25" sortField="due_date"
              persistKey="circ.patron.items_out.other"
              (reloadRequested)="load()"
              [patron]="context.summary?.patron">
            </eg-circ-grid>
          </ng-container>
        </ng-template>
      </li>
    }
    <li role="presentation" ngbNavItem="noncat">
      <a role="tab" ngbNavLink i18n>
        @if (context.summary && context.summary.stats) {

          Non-Cataloged Circulations ({{context.summary.stats.checkouts.noncat}})
        
}
      </a>
      <ng-template ngbNavContent>
        <ng-container>
          <ng-container>
            @if (loading) {
              <ng-container *ngTemplateOutlet="progress"></ng-container>
            }
            <eg-circ-grid #nonCatGrid persistKey="circ.patron.items_out.noncat"
              sortField="due_date" menuStyle="none" (reloadRequested)="load()"
              [pageSize]="25">
            </eg-circ-grid>
          </ng-container>
        </ng-container>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="itemsNav"></div>
</div>

