
<div class="row mb-2">
  <div class="col-lg-12">
    <h3 i18n>Penalties and Messages</h3>
  </div>
</div>

<eg-grid #mainGrid idlClass="ausp" [dataSource]="mainDataSource"
  hideFields="id,usr,stop_date">
  <eg-grid-toolbar-button i18n-label label="Apply Penalty / Message"
    (onClick)="applyPenalty()">
  </eg-grid-toolbar-button>
  <eg-grid-column path="standing_penalty.label">
  </eg-grid-column>
  <eg-grid-column path="standing_penalty.staff_alert">
  </eg-grid-column>
</eg-grid>

<div class="row mt-5 mb-2">
  <div class="col-lg-4">
    <h3 i18n>Archived Penalties / Messages</h3>
  </div>
  <div class="col-lg-4 form-inline">
    <label class="mr-2" i18n>Start Date:</label>
    <eg-date-select [initialIso]="startDateYmd"
      (onChangeAsIso)="dateChange($event, true)"></eg-date-select>
  </div>
  <div class="col-lg-4 form-inline">
    <label class="mr-2" i18n>End Date:</label>
    <eg-date-select [initialIso]="endDateYmd" 
      (onChangeAsIso)="dateChange($event, false)"></eg-date-select>
  </div>
</div>

<eg-grid #archiveGrid idlClass="ausp" [dataSource]="archiveDataSource"
  hideFields="id,usr,stop_date">
  <eg-grid-column path="standing_penalty.label">
  </eg-grid-column>
  <eg-grid-column path="standing_penalty.staff_alert">
  </eg-grid-column>
</eg-grid>

