
<ng-container *ngIf="!context.patron">
  <eg-staff-banner bannerText="Manage Patrons" i18n-bannerText>
  </eg-staff-banner>
</ng-container>

<ng-container *ngIf="context.patron">
  <eg-staff-banner i18n-bannerText bannerText="Patron: 
    {{context.patron.family_name()}}, 
    {{context.patron.first_given_name()}} 
    {{context.patron.second_given_name()}}">
  </eg-staff-banner>
</ng-container>

<eg-circ-components></eg-circ-components>

<div class="row">

  <ng-container *ngIf="showSummaryPane()">
    <div class="col-lg-3">
      <div class="sticky-top-with-nav bg-white">
        <ng-container *ngIf="context.patron">
          <eg-patron-summary></eg-patron-summary>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <div [ngClass]="{'col-lg-9': showSummaryPane(), 'col-lg-12': !showSummaryPane()}">

    <div class="sticky-top-with-nav bg-white">
      <ul ngbNav #patronNav="ngbNav" class="nav-tabs"
        [activeId]="patronTab" (navChange)="beforeTabChange($event)">

        <ng-container *ngIf="patronTab !== 'search'">
          <li ngbDropdown ngbNavItem="toggle">
            <a href class="nav-link" (click)="toggleSummaryPane(); false"
              title="Toggle Summary Pane" i18n-title>
              <ng-container *ngIf="showSummaryPane()">
                <span class="material-icons">navigate_before</span>
              </ng-container>
              <ng-container *ngIf="!showSummaryPane()">
                <span class="material-icons">navigate_next</span>
              </ng-container>
            </a>
          </li>
        </ng-container>

        <li ngbNavItem="checkout" [disabled]="!context.patron">
          <a ngbNavLink i18n>Check Out</a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-checkout></eg-patron-checkout> 
            </div>
          </ng-template>
        </li>

        <li ngbNavItem="items_out" [disabled]="!context.patron">
          <a ngbNavLink i18n>
            Items Out ({{counts('checkouts', 'total_out')}})
          </a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-items [patronId]="patronId"></eg-patron-items>
            </div>
          </ng-template>
        </li>

        <li ngbNavItem="holds" [disabled]="!context.patron">
          <a ngbNavLink i18n>
            Holds ({{counts('holds', 'ready')}} / {{counts('holds', 'total')}})
          </a>
          <ng-template ngbNavContent>
            <eg-patron-holds></eg-patron-holds>
          </ng-template>
        </li>

        <li ngbNavItem="bills" [disabled]="!context.patron">
          <a ngbNavLink (click)="billsTabClicked()" i18n>
            Bills 
            <span [ngClass]="{'text-danger': counts('fines', 'balance_owed') > 0}">
              ({{counts('fines', 'balance_owed') | currency}})
            </span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="statementXact">
              <eg-patron-bill-statement [patronId]="patronId" [xactId]="statementXact">
              </eg-patron-bill-statement>
            </ng-container>
            <ng-container *ngIf="!statementXact">
              <eg-patron-bills [patronId]="patronId"></eg-patron-bills>
            </ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="messages" [disabled]="!context.patron">
          <a ngbNavLink i18n>Messages</a>
          <ng-template ngbNavContent>
            <div class="">
            </div>
          </ng-template>
        </li>

        <li ngbNavItem="edit" [disabled]="!context.patron">
          <a ngbNavLink i18n>Edit</a>
          <ng-template ngbNavContent>
            <eg-patron-edit [patronId]="patronId" [toolbar]="editorToolbar">
            </eg-patron-edit> 
          </ng-template>
        </li>

        <li ngbDropdown ngbNavItem="other" [disabled]="!context.patron">
          <a [attr.href]="context.patron ? '' : null" 
            (click)="false" class="nav-link" ngbDropdownToggle>Other</a>
          <div ngbDropdownMenu>
            <a routerLink="/staff/circ/patron/{{patronId}}/alerts" 
              ngbDropdownItem i18n>Alerts and Messages</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/notes" [disabled]="true"
              ngbDropdownItem i18n>Notes</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/triggered_events" [disabled]="true"
              ngbDropdownItem i18n>Triggered Events / Notifications</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/message_center" [disabled]="true"
              ngbDropdownItem i18n>Message Center</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/stat_cats"
              ngbDropdownItem i18n>Statistical Categories</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/surveys"
              ngbDropdownItem i18n>Surveys</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/group"
              ngbDropdownItem i18n>Group Member Details</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/edit_perms"[disabled]="true"
              ngbDropdownItem i18n>User Permission Editor</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/credentials"
              ngbDropdownItem i18n>Test Password</a>
            <a href="/eg/staff/acq/requests/user/{{patronId}}" 
              target="_top"
              ngbDropdownItem i18n>Acquisition Patron Requests</a>
            <a routerLink="/staff/booking/manage_reservations/by_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Manage Reservations</a>
            <a routerLink="/staff/booking/create_reservation/for_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Create Reservation</a>
            <a routerLink="/staff/booking/pickup/by_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Pick Up Reservations</a>
            <a routerLink="/staff/booking/return/by_patron/{{patronId}}"
              target="_top" ngbDropdownItem i18n></a>
            <a href (click)="purgeAccount(); false"
              [disabled]="disablePurge()"
              ngbDropdownItem i18n>Completely Purge Account</a>
          </div>
          <ng-template ngbNavContent>
            <ng-container [ngSwitch]="altTab">
              <div *ngSwitchCase="'alerts'">
                <eg-patron-alerts></eg-patron-alerts>
              </div>
              <div *ngSwitchCase="'credentials'">
                <eg-patron-test-password [patronId]="patronId">
                </eg-patron-test-password>
              </div>
              <div *ngSwitchCase="'surveys'">
                <eg-patron-survey-responses [patronId]="patronId">
                </eg-patron-survey-responses>
              </div>
              <div *ngSwitchCase="'stat_cats'">
                <eg-patron-statcats [patronId]="patronId">
                </eg-patron-statcats>
              </div>
              <div *ngSwitchCase="'group'">
                <eg-patron-group [patronId]="patronId">
                </eg-patron-group>
              </div>
            </ng-container>
          </ng-template>
        </li>

        <li ngbNavItem="search" class="ml-auto">
          <a ngbNavLink i18n>Patron Search</a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-search
                [startWithSearch]="context.lastPatronSearch"
                (searchFired)="patronSearchFired($event)"
                (selectionChange)="patronSelectionChange($event)"
                (patronsActivated)="patronsActivated($event)">
              </eg-patron-search> 
            </div>
          </ng-template>
        </li>
      </ul>

      <ng-container *ngIf="patronTab === 'edit'">
        <!-- put the editor toolbar up here in the sticky section -->
        <eg-patron-edit-toolbar #editorToolbar [patronId]="patronId">
        </eg-patron-edit-toolbar>
      </ng-container>

    </div><!-- end of sticky top -->

    <div *ngIf="!loading" class="pt-3">
      <div [ngbNavOutlet]="patronNav"></div>
    </div>
  </div>
</div>

