
<div class="patron-summary-container">

  <h3 *ngIf="context.patron" class="font-weight-bold" i18n>
    {{patronService.namePart(context.patron, 'family_name')}}, 
    {{patronService.namePart(context.patron, 'first_given_name')}} 
    {{patronService.namePart(context.patron, 'second_given_name')}}
  </h3>

  <div class="row mb-1 alert alert-danger p-0" *ngIf="context.alerts.accountExpiresSoon">
    <div class="col-lg-12" i18n>
      Patron account will expire soon.  Please renew.
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-lg-5" i18n>Profile</div>
    <div class="col-lg-7">{{context.patron.profile().name()}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Home Library</div>
    <div class="col-lg-7">{{context.orgSn(context.patron.home_ou())}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Net Access</div>
    <div class="col-lg-7">{{context.patron.net_access_level().name()}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Date of Birth</div>
    <div class="col-lg-7">{{context.patron.dob() | date:'shortDate'}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Parent/Guardian</div>
    <div class="col-lg-7">{{context.patron.guardian()}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Last Activity</div>
    <div class="col-lg-7">
      <ng-container *ngIf="context.patron.usr_activity()[0]">
        {{context.patron.usr_activity()[0].event_time() | date:'shortDate'}}
      </ng-container>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Last Updated</div>
    <div class="col-lg-7">{{context.patron.last_update_time() | date:'shortDate'}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Create Date</div>
    <div class="col-lg-7">{{context.patron.create_date() | date:'shortDate'}}</div>
  </div>
  <div class="row" [ngClass]="{'alert alert-danger p-0': context.alerts.accountExpired}">
    <div class="col-lg-5" i18n>Expire Date</div>
    <div class="col-lg-7">{{context.patron.expire_date() | date:'shortDate'}}</div>
  </div>

  <hr class="m-1"/>

  <ng-container *ngIf="context.patronStats">

    <div class="row mb-1"
      [ngClass]="{'alert alert-danger p-0': context.patronStats.fines.total_owed > 0}">
      <div class="col-lg-5" i18n>Fines Owed</div>
      <div class="col-lg-7">{{context.patronStats.fines.total_owed | currency}}</div>
    </div>

    <!-- TODO GROUP FINES -->

    <div class="row mb-1">
      <div class="col-lg-5" i18n>Items Out</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.total_out}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-5" i18n>Overdue</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.overdue}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-5" i18n>Long Overdue</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.long_overdue}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-5" i18n>Claimed Returned</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.claims_returned}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-5" i18n>Lost</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.lost}}</div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-5" i18n>Non-Cataloged</div>
      <div class="col-lg-7">{{context.patronStats.checkouts.noncat}}</div>
    </div>
    <div class="row">
      <div class="col-lg-5" i18n>Holds</div>
      <div class="col-lg-7">
        {{context.patronStats.holds.ready}} / {{context.patronStats.holds.total}}
      </div>
    </div>

    <hr class="m-1"/>
  </ng-container>

  <div class="row mb-1">
    <div class="col-lg-5" i18n>Card</div>
    <div class="col-lg-7">
      {{context.patron.card() ? context.patron.card().barcode() : ''}}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Username</div>
    <div class="col-lg-7">{{context.patron.usrname()}}</div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Day Phone</div>
    <div class="col-lg-7">{{context.patron.day_phone()}}</div> 
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Evening Phone</div>
    <div class="col-lg-7">{{context.patron.evening_phone()}}</div> 
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Other Phone</div>
    <div class="col-lg-7">{{context.patron.other_phone()}}</div> 
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>ID1 </div>
    <div class="col-lg-7">{{context.patron.ident_value()}}</div> 
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>ID2</div>
    <div class="col-lg-7">{{context.patron.ident_value2()}}</div> 
  </div>
  <div class="row mb-1">
    <div class="col-lg-5" i18n>Email</div>
    <div class="col-lg-7">
      <!-- TODO: mailto link -->
      {{context.patron.email()}}
    </div> 
  </div>

  <hr class="m-1"/>

  <div class="row mb-1" *ngFor="let addr of context.patron.addresses()">
    <div class="col-lg-12">
      <fieldset>
        <legend i18n>{{addr.address_type()}}</legend><!-- todo -->
        <div i18n>{{addr.street1()}} {{addr.street2()}}</div>
        <div i18n>{{addr.city()}}, {{addr.state()}} {{addr.post_code()}}</div>
      </fieldset>
      <!-- todo textarea for copy -->
    </div>
  </div>
</div>
