<ng-container *ngIf="!patronId">
  <eg-staff-banner i18n-bannerText bannerText="Verify Patron Credentials">
  </eg-staff-banner>
</ng-container>
<ng-container *ngIf="patronId">
  <h3 i18n>Verify Credentials</h3>
</ng-container>


<div class="row gx-3 row-cols-auto mt-2">
  <label class="form-label col-form-label col-1" for="username-input" i18n>Username</label>
  <div class="col-3">
    <input type="text" class="form-control" id="username-input" 
      [disabled]="patronId" [(ngModel)]="username"/>
  </div>
</div>

<div class="row gx-3 row-cols-auto mt-2">
  <label class="form-label col-form-label col-1" for="barcode-input" i18n>Barcode</label>
  <div class="col-3">
    <input type="text" class="form-control" id="barcode-input" 
      [disabled]="patronId" [(ngModel)]="barcode"/>
  </div>
</div>

<div class="row gx-3 row-cols-auto mt-2">
  <label class="form-label col-form-label col-1" for="password-input" i18n>Password</label>
  <div class="col-3">
    <input type="password" class="form-control" id="password-input" 
      autocomplete="new-password" spellcheck="false" (keyup.enter)="verify()" [(ngModel)]="password"/>
  </div>
</div>

<div class="row gx-3 row-cols-auto mt-2">
  <div class="col-2">
    <button type="button" class="btn btn-outline-dark" (click)="verify()">Verify</button>
    <button type="button" class="btn btn-outline-dark ms-2" 
      *ngIf="!patronId" (click)="retrieve()">Retrieve</button>
  </div>
</div>

<hr class="mt-3 mb-3">

<div class="alert alert-success" *ngIf="verified === true" i18n>
  Success testing credentials
</div>
<div class="alert alert-danger" *ngIf="verified === false" i18n>
  Failure testing credentials
</div>
<div class="alert alert-danger" *ngIf="notFound" i18n>
  No user found with the requested username / barcode
</div>
