{
"checkout.due" :
    { "context_org" : "circ_lib",
      "filter"      :
            { "checkin_time"  : null,
              "-or"           :
                    [ { "stop_fines"  : ["MAXFINES"] },
                      { "stop_fines"  : null }
                    ]
            }
    },
    "au.expired" : {
        "context_org":"home_ou",
        "filter"                :
                        { "active":"t",
                        "deleted":"f" }
        },
    "hold_request.shelf_expires_soon" : {
        "context_org": "pickup_lib",
        "filter": {
            "shelf_expire_time": {"!=": null},
            "capture_time": {"!=": null},
            "current_copy": {"!=": null},
            "shelf_time": {"!=": null},
            "cancel_time": null,
            "fulfillment_time": null
        }
    },
    "hold_request.long_wait" : {
        "context_org": "pickup_lib",
        "filter": {
            "frozen": "f",
            "cancel_time": null,
            "capture_time": null
        }
    },
    "au.created" : {
        "context_org":"home_ou",
        "filter": {
            "active":"t",
            "deleted":"f"
        }
    },
    "stgu.created" : {
        "context_org": "home_ou",
        "filter": {
            "complete": "f"
        }
    }
}
