{

'checkout.due' :
    { 'context_org' => 'circ_lib',
      'filter'      =>
            { 'checkin_time'  => undef,
              '-or'           =>
                    [ { 'stop_fines'  => ['MAXFINES', 'LONGOVERDUE'] },
                      { 'stop_fines'  => undef }
                    ]
            }
    }

}

