#-------------- file marc_stream_importer.conf --------------

### user and group to become
user        opensrf
group       opensrf

### logging ?
log_file    LOCALSTATEDIR/log/marc_stream_importer.log
log_level   3
pid_file    LOCALSTATEDIR/run/marc_stream_importer.pid

### access control
# allow       .+\.(net|com)
# allow       domain\.com
# deny        a.+

### background the process?
# background  1

### ports to bind
# host        127.0.0.1
# port        localhost:20204
port       5544

### reverse lookups ?
# reverse_lookups on

#-------------- file marc_stream_importer.conf --------------
