<oils_web>

    <!-- This should match the Apache Directory/Location[Match] configuration path -->
    <base_path>/eg</base_path>

    <web_dir>/openils/var/web</web_dir>

    <!-- when locating files that don't have explicit handlers defined, assume the
        files have the following filename extension -->
    <default_template_extension>tt2</default_template_extension>

    <!-- media_prefix can be a remote server.  
         E.g. <media_prefix>http://static.example.com/media</media_prefix> -->
    <media_prefix/>

    <!-- If set to true, all output will be parsed as XML before delivery to the client.  
        If XML parsing fails, the error message, with HTML included, will be output as text/plain.
        XML parsing adds overhead, so this should only be used for debugging -->
    <force_valid_xml>false</force_valid_xml>

    <!-- Where templates can be found.  Paths will be checked in the order entered here.
         It's possible to override individual or sets of templates by putting them into
         a path in front of the default template path -->
    <template_paths>
        <!-- XXX we should really move these out of the default web root -->
        <path>/openils/var/web/templates</path>
    </template_paths>

    <handlers>
        <!-- add custom handlers here.  These are for templates that live in non-obvious locations.  
            In other words, if the path + default extension does not map directly to a template file -->
        <handler path='acq/fund/list' template='acq/financial/list_funds.tt2'/>
        <handler path='acq/fund/view' template='acq/financial/view_fund.tt2'/>
        <handler path='acq/funding_source/list' template='acq/financial/list_funding_sources.tt2'/>
        <handler path='acq/funding_source/view' template='acq/financial/view_funding_source.tt2'/>
        <handler path='acq/currency_type/list' template='acq/financial/list_currency_types.tt2'/>
        <handler path='acq/currency_type/view' template='acq/financial/view_currency_type.tt2'/>
        <handler path='acq/provider/list' template='acq/financial/list_providers.tt2'/>
        <handler path='acq/provider/view' template='acq/financial/view_provider.tt2'/>
        <handler path='vandelay/vandelay' template='vandelay/vandelay.tt2' as_xml='true'/>
    </handlers>
</oils_web>
