<?xml version="1.0"?>
<!-- 
vim:et:ts=2:sw=2:
-->
<config>

  <!-- bootstrap config for OpenSRF apps -->
  <opensrf>

    <!-- The OpenSRF Routers's name on the network -->
    <!-- You should never need to change this -->
    <router_name>router</router_name>
    <routers>
      <router>localhost</router>
    </routers>

    <!-- Our jabber domain -->
    <domain>localhost</domain>
    <username>client</username>
    <passwd>mypass</passwd>
    <port>5222</port>

    <!-- log to a local file -->
    <logfile>LOCALSTATEDIR/log/osrfsys.log</logfile>

    <!-- Log to syslog. You can use this same layout for 
    defining the logging of all services in this file -->
    <!--
    <logfile>syslog</logfile>
    <syslog>local2</syslog>
    <actlog>local1</actlog>
    -->

    <!-- 0 None, 1 Error, 2 Warning, 3 Info, 4 debug, 5 Internal (Nasty) -->
    <loglevel>3</loglevel>

    <!-- config file for the services -->
    <settings_config>SYSCONFDIR/opensrf.xml</settings_config>

  </opensrf>

  <!-- Update this if you use ChopChop -->
  <chopchop>

    <!-- Our jabber server -->
    <domain>localhost</domain>
    <port>5222</port>

    <!-- used when multiple servers need to communicate -->
    <s2sport>5269</s2sport>
    <secret>secret</secret>
    <listen_address>10.0.0.3</listen_address>
    <loglevel>3</loglevel>
    <logfile>LOCALSTATEDIR/log/osrfsys.log</logfile>
  </chopchop>

  <!-- The section between <gateway>...</gateway> is a standard OpenSRF C stack config file -->
  <gateway>

    <!-- we consider ourselves to be the "originating" client for requests,
    which means we define the log XID string for log traces -->
    <client>true</client>

    <!--  the routers's name on the network -->
    <router_name>router</router_name>

    <!-- jabber domains to connect to (domain1, domain2, ...) -->
    <domain>localhost</domain>

    <!-- These are the services that the gateway will serve. 
    Any other requests will receive an HTTP_NOT_FOUND (404) 
    DO NOT put any services here that you don't want the internet to have access to
    -->
    <services>
      <service>opensrf.math</service>
      <service>open-ils.cat</service>
      <service>open-ils.search</service>
      <service>open-ils.circ</service>
      <service>open-ils.actor</service>
      <service>open-ils.auth</service>
      <service>open-ils.reporter</service>
    </services>

    <!-- jabber login info -->
    <username>mylogin</username>
    <passwd>mypassword</passwd>
    <port>5222</port>
    <logfile>LOCALSTATEDIR/log/gateway.log</logfile>
    <loglevel>3</loglevel>

  </gateway>

  <!-- ======================================================================================== -->

  <routers>
    <router>

      <!-- do not change -->
      <component>0</component>

      <trusted_domains>

        <!-- Trusted servers are allowed to register apps with the router -->
        <server>localhost</server>

        <!-- Trusted clients are allowed to send packets through the router -->
        <client>localhost</client>

      </trusted_domains>

      <transport>

        <!-- jabber server are we connecting to -->
        <server>localhost</server>
        <port>5222</port>

        <!-- if this is changed, all "router_name" settings 
        will need to be updated to match this setting -->
        <username>router</username>
        <password>mypassword</password>

        <!-- router's jabber resource -->
        <!-- do not change this -->
        <resource>router</resource>
        <connect_timeout>10</connect_timeout>
        <max_reconnect_attempts>5</max_reconnect_attempts>

      </transport>
      <logfile>LOCALSTATEDIR/log/router.log</logfile>
      <loglevel>2</loglevel>
    </router>

  </routers>

  <!-- ======================================================================================== -->

</config>
