<script>
    /* Create a simple data store to organize the menu options */
    dojo.require("dijit.Tree");
    dojo.require("dojo.data.ItemFileReadStore");

    var menuData = {
        data : {  
            label: 'label',
            identifier: 'id',
            items: [
                <%include file='acq/navigate.js'/>,
                /** add navigation files as needed */
            ]
        }
    };
    var menuStore = new dojo.data.ItemFileReadStore(menuData);
    //dojo.addOnLoad(function(){oilsMenuTree.expand()});
</script>

<div dojoType="dijit.Tree" jsId='oilsMenuTree' store="menuStore" label="${_('Menu')}">
    <script type="dojo/method" event="onClick" args="item">
        if(item.dest)
            location.href = '${c.oils.core.prefix.value}/' + item.dest;
    </script>
</div>
