<eg-title i18n-prefix prefix="Circulation Policy Configuration"></eg-title>
<eg-staff-banner bannerText="Circulation Policy Configuration" i18n-bannerText>
</eg-staff-banner>

<eg-string #successString i18n-text text="Circulation Policy Update Succeeded"></eg-string>
<eg-string #createString i18n-text text="Circulation Policy Creation Succeeded"></eg-string>

<eg-grid #grid idlClass="ccmm"
  [dataSource]="dataSource"
  [sortable]="true"
  (onRowActivate)="editSelected([$event])"
  [showFields]='"is_renewal,active,org_unit,copy_circ_lib,copy_owning_lib,user_home_ou"'>
  <eg-grid-toolbar-button 
    label="New Circ Matrix Matchpoint" i18n-label (onClick)="createNew()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-action label="Edit Selected" i18n-label (onClick)="editSelected($event)">
  </eg-grid-toolbar-action>
</eg-grid>

<eg-circ-matrix-matchpoint-dialog #matchpointDialog
  (recordCanceled)="clearLinkedCircLimitSets()"
  (recordError)="clearLinkedCircLimitSets()">
  <div #limitSets [ngStyle]="{marginBottom:'10px'}">
    <ng-container>
      <eg-linked-circ-limit-sets
        #circLimitSets
        (outputLinkedLimitSet)="setLimitSets($event)">
      </eg-linked-circ-limit-sets>
    </ng-container>
  </div>

  <ng-template #active let-idPrefix="idPrefix" let-field="field" let-record="record">
    <div class="col-lg-9">
      <input
        class="form-check-input"
        type="checkbox"
        name="{{field.name}}"
        id="{{idPrefix}}-{{field.name}}"
        [disabled]="field.readOnly"
        [ngModel]="record[field.name]()"
        (ngModelChange)="record[field.name]($event)"/>
    </div>
    <div class="row" [ngStyle]="{
      width:'150%',
      backgroundColor:'black',
      marginLeft:'-43%',
      marginTop:'6%',
      marginBottom:'-1%',
      opacity:'90%',
      fontSize:'18px',
      textAlign:'center'}">
      <div [ngStyle]="{width:'100%', color:'white'}">Circulation Policies</div>
    </div>
  </ng-template>

  <ng-template #item_age let-idPrefix="idPrefix" let-field="field" let-record="record">
    <div class="col-lg-9">
      <input
        class="form-control"
        id="{{idPrefix}}-{{field.name}}" name="{{field.name}}"
        type="text"
        placeholder="{{field.label}}..." i18n-placeholder
        [required]="field.isRequired()"
        [ngModel]="record[field.name]()"
        (ngModelChange)="record[field.name]($event)"/>
    </div>
    <div class="row" [ngStyle]="{
      width:'150%',
      backgroundColor:'black',
      marginLeft:'-43%',
      marginTop:'3%',
      marginBottom:'-1%',
      opacity:'90%',
      fontSize:'18px',
      textAlign:'center',
      paddingTop:'3.5%',
      paddingBottom:'5.5%',
      paddingLeft:'3.5%',
      paddingRight:'3.5%'}">
      <div [ngStyle]="{width:'100%', color:'white'}">Circulation Policy Effects</div>
    </div>
  </ng-template>

  <eg-fm-record-editor #editDialog
    idlClass="ccmm"
    [preloadLinkedValues]="true"
    readonlyFields="name"
    displayMode="inline"
    fieldOrder="id,active,grp,org_unit,copy_circ_lib,copy_owning_lib,user_home_ou,is_renewal,juvenile_flag,circ_modifier,copy_location,marc_type,marc_form,marc_bib_level,marc_vr_format,ref_flag,usr_age_lower_bound,usr_age_upper_bound,item_age,circulate,duration_rule,renewals,hard_due_date,recurring_fine_rule,grace_period,max_fine_rule,available_copy_hold_ratio,total_copy_hold_ratio,script_test,description"
    requiredFields="active,grp,org_unit"
    (recordSaved)="configureLimitSets($event); clearLinkedCircLimitSets(); closeDialog()"
    [fieldOptions]="{active:{customTemplate:{template:active}}, item_age:{customTemplate:{template:item_age}}}">
  </eg-fm-record-editor>
</eg-circ-matrix-matchpoint-dialog>