
<eg-string #errorString i18n-text text="The Linked Set Name Already Exists on Another Matchpoint"></eg-string>

<div *ngIf="showLinkLimitSets">
    <div class="modal-header bg-info"><h4 class="modal-title" i18n>Linked Limit Sets</h4></div>
    <ng-container *ngIf="getObjectKeys().length > 0">
        <ng-container *ngFor="let key of getObjectKeys(); let i = index">
            <div *ngIf="!linkedSetList[i].isDeleted" class="col-lg-15 d-flex justify-content-center">
                <div *ngIf="linkedSetList[i].created" class="col-lg-2 mt-3 mb-3 form-group form-check">
                    <label for="name" i18n>Name</label>
                    <div class="d-flex justify-content-center">
                        <span>{{limitSetNames[linkedSetList[i].linkedLimitSet.limit_set()]}}</span>
                    </div>
                </div>
                <div *ngIf="linkedSetList[i].created" class="col-lg-2 mt-3 mb-3 form-group form-check">
                    <label for="{{fallthrough+i}}" i18n>Fallthrough</label>
                    <div class="d-flex justify-content-center">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="{{fallthrough+i}}"
                            [ngModel]="linkedSetList[i].linkedLimitSet.fallthrough()" 
                            (ngModelChange)="linkedSetList[i].linkedLimitSet.fallthrough($event); this.emitLimitSet();"/>
                    </div>
                </div>
                <div *ngIf="linkedSetList[i].created" class="col-lg-2 mt-3 mb-3 form-group form-check">
                    <label for="{{active+i}}" i18n>Active</label>
                    <div class="d-flex justify-content-center">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        [ngModel]="linkedSetList[i].linkedLimitSet.active()"
                        (ngModelChange)="linkedSetList[i].linkedLimitSet.active($event); this.emitLimitSet();"/>
                    </div>
                    
                </div>
                <div *ngIf="linkedSetList[i].created" class="col-lg-2 mt-3 mb-3 form-group form-check">
                    <button
                        type="button"
                        class="btn btn-warning"
                        ng-disabled="!linkedSet"
                        (click)="removeLinkedSet(i)"
                        i18n-title title="Remove" i18n>Remove
                    </button>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="input-group mt-3 col-md-12">
        <div class="input-group-prepend">
            <div class="input-group-text" i18n>Circ Limit Set Name</div>
            <eg-combobox 
                name="linkedLimitName"
                idlClass="ccls" 
                idlField="name" 
                asyncSupportsEmptyTermClick="true"
                (onChange)="onChange($event)">
            </eg-combobox>
        </div>
        <div class="input-group-append">
            <button
                type="button"
                class="btn btn-info"
                (click)="addLinkedSet()"
                i18n-title title="Add" i18n>Add
            </button>
            <eg-help-popover i18n-helpText helpText="'Go to Local Admin -> Circulation Limit Sets to Create a Link Limit Set'" ></eg-help-popover>
        </div>
    </div>
</div>
