
<ng-template #displayTemplate let-r="result" i18n>
  {{r.label}} <ng-container *ngIf="r.userdata">
    ({{orgName(r.userdata.owning_lib())}})</ng-container>
</ng-template>

<eg-combobox #comboBox
  [asyncDataSource]="loadAsync ? getLocationsAsyncHandler : null"
  [domId]="domId"
  [ariaLabelledby]="ariaLabelledby"
  [startId]="startId"
  [disabled]="disabled"
  [readOnly]="readOnly"
  [displayTemplate]="displayTemplate"
  (onChange)="cboxChanged($event)"
  [required]="required"
  [startsWith]="startsWith"
  (blur)="propagateTouch()"
  placeholder="Shelving Location..."
  i18n-placeholder>
</eg-combobox>
