body { margin: 6px; }

.main_header	{ width: 100%; }
.space			{ padding-right:5px; }
.vert_space		{ padding-top: 82px; width: 100%;}
.right			{ position:absolute; right: 0px; }
.hide_me			{ display:none; visibility: hidden; }

table { border-collapse: collapse; }

.encircled { border: 1px solid black; }

#main_table { border-collapse: collapse; width: 100%; height: 100%; }
#main_left_cell { height: 100%; width: 20%; vertical-align: top;margin: 0px; padding: 0px;}
#main_right_cell { height: 100%; width: 80%; vertical-align: top; margin: 0px; padding:0px;}


/*.vertical {writing-mode: tb-rl; filter: flipv fliph; }*/

/* ---------------------------------------------------------------------- */
/*
.canvas { float:right; width: 79%; text-align: left;}
*/

.canvas { min-height: 300px; }
#not_the_canvas {}

#canvas_main {min-height: 300px; border-left: 3px solid #A7EA9D; border-bottom: 3px solid #A7EA9D; 
	border-top: 3px solid #A7EA9D; padding-left: 6px; -moz-border-radius: 6px;}

.non_canvas { min-height: 300px; border-left: 3px solid #A7EA9D; border-top: 3px solid #A7EA9D; 
	border-bottom: 3px solid #A7EA9D; padding-left: 6px; -moz-border-radius: 6px;}

#loading_div { width: 100%;}
.logo { height: 65px; width: 180px; }
.org_tree { height: 500px; padding-left: 2px; padding-right: 2px; }            
.org_link { padding-right: 15px; }
#org_link_container { margin-bottom: 5px; padding-left: 4px; padding-bottom: 3px; padding-top: 3px; width: 100%; }
#left_div { float:left; width: 20%; }
#statusbar {}

/* ---------------------------------------------------------------------- */
.sidebar_div { width: 100%; font-size: 9pt; margin-top: 12px; }
.sidebar_header { margin-top: 10px; padding-left: 3px; margin-right: 6px; }

.sidebar_extra_item { padding: 0px; margin-right: 8px;}
.side_bar_item { padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; margin-right: 8px; }
.sidebar_item_active { background: #A7EA9D; margin-right: 0px; }
.sidebar_chunk { width: 100%; }

/*
border-left: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0;}
*/

/* ---------------------------------------------------------------------- */

#searchbar { margin-top: 18px; width: 100%; }
#searchbar table tr td {font-weight: bold; font-size: 8pt; }
#searchbar select, input { border-collapse: collapse; border: solid 1px; font-size: 9pt; }
.searchbar_item { margin: 3px; font-size: 9pt; } 
.searchbar_label_span { font-size: 9pt; }
#searchbar_table { border-collapse: collapse; }


/* ---------------------------------------------------------------------- */
#login_box { width: 60%; padding: 5px;}
.login_text { margin-left: 8px; }

/* ---------------------------------------------------------------------- */
#result_table_div { text-align: left; width: 100%; }

#search_nav_links { width: 100%; }
#result_info_box { text-align: left; }
#next_prev_links { padding-left: 2px; padding-right: 2px; text-align: left;}
#goto_page_links { text-align: left; padding-left: 2px; padding-right: 2px;}

#next_prev_links_dead {padding-left: 5px; padding-right: 5px;}

#res_table { width: 100%; }

.result_table_pic_cell { width: 43px;}
.result_table_pic { height: 50px; width: 40px; }
.result_table_pic_header { width: 43px; }

.result_table_row { text-align: left; }
.result_table_subtable { width: 100%; border-collapse: collapse; vertical-align: top;}
.result_table_subtbody { height: 100%; width: 100%; }
.result_table_title_cell { text-align: left; }

.copy_count_cell { width: 12%; vertical-align: middle; text-align: center; }
.copy_count_div { width:  4em; height: 99%; vertical-align: middle; text-align: center; }

.search_page_nav_link { margin-right: 5px; }

/* ---------------------------------------------------------------------- */

#rdetail_detail_main { width: 100%; }
#rdetail_details_table { padding-top: 10px; width: 100%; padding: 30px; border-collapse: collapse;}
.rdetail_header { padding: 3px; padding-left: 10px;}
.rdetail_desc { padding: 2px; padding-left: 4px; padding-right: 4px;}
.rdetail_item { width: 75%; padding-left: 10px; }
#rdetail_image { padding-right: 10px; }
#rdetail_copy_info_table { padding: 4px; width: 100%; border-collapse: collapse; }
.rdetail_copy_info_header_cell { padding: 2px; }
.rdetail_copy_count_cell { text-align: center; }


.tor_pic { width: 17px; height: 17px; border: none;}

.dim2 { filter:alpha(opacity=50); -moz-opacity:0.5; opacity: 0.5; text-decoration: none; }
.dim { filter:alpha(opacity=10); -moz-opacity:0.1; opacity: 0.1; text-decoration: none; }



