body { background: white; font-size: 9pt; font-family: Helvetica, Arial, Tahoma, sans-serif; font-size: 9pt;} 
table { border-collapse: collapse; }

.hide_me { display: none; visibility: hidden; }
.welcome_box { position:absolute; top: 5px; right: 5px; }


/* override some slimtree settings */
.fm_table thead tr { background: #F0F0F0; }

.oils_rpt_main_link {
	padding: 5px;
	font-size: 10pt;
}

#oils_rpt_name_table {
	vertical-align: middle;
	background: #E0F0F0; 
	margin-bottom: 20px;
	width: 100%;
}
#oils_rpt_name_table td {
	padding: 5px;
}

#oils_rpt_table {
	width: 100%;
	border-top: 2px solid #E0E0E0;
	border-left: 2px solid #E0E0E0;
	margin-top: 25px;
	margin-left: 10px;
	padding: 5px;
}

#oils_rpt_table tr {
	border-radius: 5px 5px 5px 5px;
}

#oils_rpt_table td {
	vertical-align: top;
	padding: 3px;
}

#oils_rpt_tree_loading { 
	width: 100%; 
	text-align: center; 
	background: #E0E0E0; 
	margin-top: 40px;
	padding: 5px;
}

.oils_rpt_info_item {
	width: 310px;
}

.oils_rpt_info_title {
	text-align: center;
	font-weight: 600;
	padding-bottom: 10px;
}

.oils_rpt_info_selector {
	border: 1px solid blue; 
	background: #E0F0F0; 
	min-height: 150px;
	max-height: 290px;
	overflow: auto;
}

.oils_rpt_small_info_selector {
	border: 1px solid blue; 
	background: #E0F0F0; 
	height: 80px;
	width: 12em;
	overflow: auto;
}


.oils_rpt_info_div { 
	text-align: center; 
	width: 320px; 
	padding-left: 10px; 
	padding: 10px;
	border-left: 2px solid #E0E0E0; 
	border-bottom: 1px solid #E0E0E0; 
	margin-right: 20px;
}

#oils_rpt_table_right_td { 
	padding-right: 20px; 
	padding-left: 20px; 
}

button {
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:84%;
	font-weight:bold;
	background-color:#fed;
	border:2px solid;
	border-top-color:#696;
	border-left-color:#696;
	border-right-color:#363;
	border-bottom-color:#363;
	margin: 4px;
	border-style: outset;
}

button:active {
	border-style: inset;
}

button:disabled {
	color: #000;
	background-color: #EEE;
	border: 2px solid #888;
}

.floaty {
	position: absolute;	
	text-align: center;
	z-index: 1;
	/*background: #E0F0F0; */
	background: #FFCC7F;   /* see FF9900 as the primary color in the color picker for complimentaries */
	border: 3px groove #0033EE;
	padding: 10px;

	/* testing static location */
	width: 600px;
	top: 60px;
	left: 20px;
}

.oils_rpt_tab_picker_selected {
	background: #96A1C6;
}

.oils_rpt_tab_table {
	width: 100%;
	background: #F0F0F0;
	margin: 4px;
	margin-bottom: 10px;
	border: 1px solid #808080;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
}

.oils_rpt_tab_table td {
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	padding: 2px;
}



#oils_rpt_column_editor_close_div {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 2px solid #E0E0E0;
}

.oils_rpt_field_editor_window {
	margin: 5px;	
	text-align: left;
	padding: 5px;
	padding-left: 20px;
}

.oils_rpt_tree_link_ref {
	color: #A52A2A;
}


.oils_rpt_invalid_input {
	background: red;
}

.oils_rpt_editor_window_tbody td {
	border-bottom: 1px solid #A0A0A0;
	padding: 4px;
}

.oils_rpt_cal_image {
	cursor: pointer; 
	border: 1px solid red; 
	padding: 0px; margin: -3px;
}

#oils_rpt_folder_table {
	margin-top: 15px;
	width: 100%;
}

#oils_rpt_folder_table_left_td {
	vertical-align: top;
	width: 25%;
}

#oils_rpt_folder_table_right_td {
	border-left: 2px solid #E0E0E0; 
	text-align: center;
	vertical-align: top;
	padding: 10px;
}

.oils_rpt_folder_window {
	border: 1px solid blue; 
	background: #E6F0F0; 
	text-align: left;
}

.oils_rpt_folder_window td {
	padding: 5px;
}


#oils_rpt_folder_window_contents_div {
	width: 100%;
	margin-top: 5px;
}

.oils_rpt_param_table thead td {
	font-weight: bold;
}

.oils_rpt_param_table td {
	border: 1px solid #808080;
	padding: 5px;
}

#oils_rpt_folder_details_table {
	width: 100%;
	margin-bottom: 10px;
}
#oils_rpt_folder_details_table tr {
	border: 1px solid #808080;
}

#oils_rpt_folder_details_table td {
	text-align: center;
	padding: 5px;
}

#oils_rpt_template_folder_go_row {
	border-bottom: 1px solid #808080;
	margin-bottom: 10px;
}

#oils_rpt_param_editor_table {
	width: 100%;
}

#oils_rpt_param_editor_table td {
	border: 1px solid #808080;
	padding: 2px;
}

#oils_rpt_param_editor_table thead td {
	font-weight: bold;
	text-align: center;
}

.oils_rpt_folder_tree {
	margin: 5px;
}

.oils_rpt_folder_tree_div {
	border: 1px solid #808080;
	margin: 10px;
	min-width: 170px;
}

.oils_rpt_folder_contents {
	min-width:  200px;
}

.oils_rpt_folder_window_contents_row {
	border-bottom: 1px solid #808080;
	margin: 10px;
}

#oils_rpt_folder_window_contents_table {
	width: 100%;
}
#oils_rpt_folder_window_contents_table td {
	text-align: center;
}

#oils_rpt_editor_div {
	width: 100%;
}

#oils_rpt_name_table tr { border: 1px solid #808080; }
#oils_rpt_name_table td { padding: 5px; }



.oils_rpt_table_row_borders { width: 100%; }
.oils_rpt_table_row_borders tr { border: 1px solid #808080; }
.oils_rpt_table_row_borders td { padding: 5px; }

.oils_rpt_generic_table { width: 100%; }
.oils_rpt_generic_table td { border: 1px solid #808080; padding: 5px; }

#oils_rpt_content_count_row a {
    padding-left: 5px;
}

#oils_rpt_content_count_row_2 {
	border-top: 2px solid #808080;
	border-bottom: 1px solid #808080;
	padding-top: 10px;
	margin-top: 10px;
}


#oils_rpt_editor_table tr {
	border-bottom: 1px solid #D0D0D0;
}

#oils_rpt_editor_table tr td {
	border-left: 1px solid #808080;
}

.oils_rpt_field_hint {
    font-weight: bold;
    text-decoration:underline;
    padding-left: 5px;
}

#oils_rpt_editor_sched_confirm {
    margin-top: 10px;
}
#oils_rpt_editor_sched_confirm > div {
    padding: 10px;
}
#oils_rpt_editor_sched_confirm:first-child {
    font-size: 110%;
}

#template_search_form_wrapper label {
    font-weight: bold;
}

#template_search_form_wrapper span {
    padding-right: 10px;
}
