
<!-- todo disabled -->
<ng-template #displayTemplate let-r="result">
  <span id="{{domId}}-{{r.id}}" class="{{orgClassCallback(r.id)}}">{{r.label}}</span>
</ng-template>

<ng-container *ngIf="readOnly && selected">
  <span>{{selected.label}}</span>
</ng-container>

<ng-container *ngIf="!readOnly">
  <input type="text" 
    class="form-control {{moreClasses}}"
    id="{{domId}}"
    [name]="name"
    [attr.aria-label]="ariaLabel"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    [(ngModel)]="selected" 
    [ngbTypeahead]="filter"
    [resultTemplate]="displayTemplate"
    [inputFormatter]="formatter"
    (blur)="handleBlur()"
    (click)="click$.next($event.target.value)"
    (selectItem)="orgChanged($event)"
    container="body"
    #instance="ngbTypeahead"
  />

</ng-container>
