
#oils-acq-index-div { font-weight:bold; }

#oils-acq-search-container { width:100%; }
#oils-acq-search-sources-div { width:20%; float:left; }
#oils-acq-search-form-div { width:80%; float:right; }
#oils-acq-search-z39-sources-table thead td { font-weight: bold; }
#oils-acq-search-z39-sources-table tbody td { width: 33%; }
#oils-acq-search-sources-label { font-weight: bold; border-bottom: 1px solid #6BA160;}
#oils-acq-search-fields-label { font-weight: bold; border-bottom: 1px solid #6BA160;}
#oils-acq-search-subsources-label { font-weight: bold; }
#oils-acq-search-fields-submit-block { border: 2px solid #A1A1A1; }

/* list of picklists */
#oils-acq-picklist-list-table {width: 100%;}
#oils-acq-picklist-list-table thead td {font-weight:bold;}

/* picklist display */
#oils-acq-picklist-table thead tr { border: 1px solid #A1A1A1; }
#oils-acq-picklist-header {border: 1px solid #85C777;}
#oils-acq-lineitem-header {border: 1px solid #85C777;}
#oils-acq-picklist-name { font-weight: bold; font-style: italic; }
.oils-acq-picklist-attributes { font-size: 90%; margin-left: 15px;}
.oils-acq-lineitem-attributes { font-size: 90%; margin-left: 15px;}
.oils-acq-picklist-records-phys_desc-row { border-bottom: 1px solid #6BA160; }
.oils-acq-picklist-picklist-td { border-style: solid; border-color: #A1A1A1; border-width: 0px 1px 0px 1px; } 
.oils-acq-picklist-records-service-td { font-size: 85%; }
.oils-acq-lineitem-delete-link { font-size: 85%; }
#oils-acq-picklist-header-subtable tr { border: none; }

/* When viewing a list of lineitems, these colors indicate what state the lineitem is in */
.oils-acq-li-state-new td { background-color: #FFFFEE; }
.oils-acq-li-state-selector-ready td { background-color: #FFEEEE; }
.oils-acq-li-state-order-ready td { background-color: #EEEEEE; }
.oils-acq-li-state-pending-order td { background-color: #EEEEDD; }
.oils-acq-li-state-on-order td { background-color: #EEDDDD; }
.oils-acq-li-state-received td { background-color: #DDDDDD; }

/* po display */
#oils-acq-po-table thead tr { border: 1px solid #A1A1A1; }
#oils-acq-po-header {border: 1px solid #85C777;}
#oils-acq-po-li-header {border: 1px solid #85C777;}
#oils-acq-po-name { font-weight: bold; font-style: italic; }
.oils-acq-po-attributes { font-size: 90%; margin-left: 15px;}
.oils-acq-po-li-attributes { font-size: 90%; margin-left: 15px;}
.oils-acq-po-records-phys_desc-row { border-bottom: 1px solid #6BA160; }
.oils-acq-po-po-td { border-style: solid; border-color: #A1A1A1; border-width: 0px 1px 0px 1px; } 
.oils-acq-po-records-service-td { font-size: 85%; }
.oils-acq-po-li-delete-link { font-size: 85%; }
#oils-acq-po-header-subtable tr { border: none; }

/*
#oils-acq-list-header {border-bottom: 1px solid #6BA160;}
*/
#oils-acq-list-header {border-bottom: 2px solid #d9e8f9;}
#oils-acq-list-header-label { font-weight: bold; font-size: 110%; }
#oils-acq-list-header-actions { font-weight: bold; }


/* entry display */
#oils-acq-lineitem-marc-block { border: 1px solid #6BA160; }
