:host {
  --daterange-today-border: light-dark(#129a78, var(--bs-blue-900));
}

.daterange-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.today {
  border: solid 2px var(--daterange-today-border);
  border-radius: 5px;
}
