<?xml version="1.0" encoding="UTF-8"?>
<opensrf:fieldmapper
	xmlns:opensrf="http://opensrf.org/xmlns/opensrf"
	xmlns:cdbi="http://opensrf.org/xmlns/opensrf/cdbi"
	xmlns:perl="http://opensrf.org/xmlns/opensrf/perl"
	xmlns:javascript="http://opensrf.org/xmlns/opensrf/javascript"
	xmlns:c="http://opensrf.org/xmlns/opensrf/c">

	<opensrf:classes>
		<!-- template class definition -->
		<!--
		<opensrf:class
			id=""
			perl:class=""
			cdbi:class=""
			javascript:class="">
	
			<cdbi:table rdbms="Pg">
				<cdbi:name></cdbi:name>
				<cdbi:sequence></cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name></cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>
			
			<opensrf:fields>
				<opensrf:field name="" datatype="" cdbi:primary="" cdbi:required="" default="" cdbi:default=""/>
			</opensrf:fields>
			
			<opensrf:links>
				<opensrf:link field="" source="" javascript:list="" type=""/>
			</opensrf:links>
	
		</opensrf:class>
		-->
	
		<opensrf:class
			id="asvr"
			virtual="0"
			perl:class="Fieldmapper::action::survey_response"
			cdbi:class="action::survey_response"
			javascript:class="asvr"
			c:class="asvr">
			<cdbi:table rdbms="Pg">
				<cdbi:name>action.survey_response</cdbi:name>
				<cdbi:sequence>action.survey_response_id_seq</cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name>action_survey_response</cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>
			
			<opensrf:fields>
				<opensrf:field
					name="id"
					datatype="int"
					cdbi:primary="true" />
					
				<opensrf:field
					name="survey"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="question"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="answer"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="usr"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="response_group_id"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="answser_date"
					datatype="timestamp"
					cdbi:required="true" />

				<opensrf:field
					name="effective_date"
					datatype="timestamp"
					cdbi:required="true" />

			</opensrf:fields>

			<opensrf:links>
				<opensrf:link field="survey" source="asv" type="has_a"/>
				<opensrf:link field="question" source="asvq" type="has_a"/>
				<opensrf:link field="answer" source="asva" type="has_a"/>
				<!-- <opensrf:link field="usr" source="au" type="has_a"/> -->
			</opensrf:links>

		</opensrf:class>

		<opensrf:class
			id="asvq"
			perl:class="Fieldmapper::action::survey_question"
			cdbi:class="action::survey_question"
			javascript:class="asvq"
			c:class="asvq">
			<cdbi:table rdbms="Pg">
				<cdbi:name>action.survey_question</cdbi:name>
				<cdbi:sequence>action.survey_question_id_seq</cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name>action_survey_question</cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>
			
			<opensrf:fields>
				<opensrf:field
					name="id"
					datatype="int"
					cdbi:primary="true" />
					
				<opensrf:field
					name="survey"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="question"
					datatype="text"
					cdbi:required="true" />

			</opensrf:fields>

			<opensrf:links>
				<opensrf:link field="survey" source="asv" type="has_a"/>
				<opensrf:link field="answers" source="asva" type="has_many"/>
			</opensrf:links>
		</opensrf:class>

		<opensrf:class
			id="asva"
			perl:class="Fieldmapper::action::survey_answer"
			cdbi:class="action::survey_answer"
			javascript:class="asva"
			c:class="asva">
			<cdbi:table rdbms="Pg">
				<cdbi:name>action.survey_answer</cdbi:name>
				<cdbi:sequence>action.survey_answer_id_seq</cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name>action_survey_answer</cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>
			
			<opensrf:fields>
				<opensrf:field
					name="id"
					datatype="int"
					cdbi:primary="true" />
					
				<opensrf:field
					name="question"
					datatype="int"
					cdbi:required="true" />

				<opensrf:field
					name="answer"
					datatype="text"
					cdbi:required="true" />

			</opensrf:fields>

			<opensrf:links>
				<opensrf:link field="question" source="asvq" type="has_a"/>
				<opensrf:link field="responses" source="asvr" type="has_many"/>
			</opensrf:links>
		</opensrf:class>

		<opensrf:class
			id="aou"
			perl:class="Fieldmapper::actor::org_unit"
			cdbi:class="actor::org_unit"
			javascript:class="aou"
			c:class="aou">
			<cdbi:table rdbms="Pg">
				<cdbi:name>actor.org_unit</cdbi:name>
				<cdbi:sequence>actor.org_unit_id_seq</cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name>actor_org_unit</cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>
			
			<opensrf:fields>
				<opensrf:field
					name="id"
					datatype="int"
					cdbi:primary="true" />
			</opensrf:fields>
		</opensrf:class>
	
		<!-- Survey class definition -->
		<opensrf:class
			id="asv"
			perl:class="Fieldmapper::action::survey"
			cdbi:class="action::survey"
			javascript:class="asv"
			c:class="asv">
			<cdbi:table rdbms="Pg">
				<cdbi:name>action.survey</cdbi:name>
				<cdbi:sequence>action.survey_id_seq</cdbi:sequence>
			</cdbi:table>
			<cdbi:table rdbms="MySQL">
				<cdbi:name>action_survey</cdbi:name>
			</cdbi:table>
	
			<javascript:superclass>Fieldmapper</javascript:superclass>
			<perl:superclass>Fieldmapper</perl:superclass>
			<cdbi:superclass>OpenILS::Storage::CDBI</cdbi:superclass>

			<opensrf:methods interface='authenticated' service='open-ils.proxy'>
				<opensrf:create method='open-ils.storage.direct.action.survey.create'/>
				<opensrf:retrieve method='open-ils.storage.direct.action.survey.retrieve'/>
				<opensrf:search method='open-ils.storage.direct.action.survey.search'/>
				<opensrf:update method='open-ils.storage.direct.action.survey.update'/>
				<opensrf:delete method='open-ils.storage.direct.action.survey.delete'/>
			</opensrf:methods>
			
			<opensrf:methods interface='trusted' service='open-ils.storage'>
				<opensrf:create method='open-ils.storage.direct.action.survey.create'/>
				<opensrf:retrieve method='open-ils.storage.direct.action.survey.retrieve'/>
				<opensrf:search method='open-ils.storage.direct.action.survey.search'/>
				<opensrf:update method='open-ils.storage.direct.action.survey.update'/>
				<opensrf:delete method='open-ils.storage.direct.action.survey.delete'/>
			</opensrf:methods>
			
			<opensrf:fields>
				<opensrf:field
					name="id"
					datatype="int"
					cdbi:primary="true" />
					
				<opensrf:field
					name="name"
					datatype="text"
					cdbi:required="true" />
					
				<opensrf:field
					name="description"
					datatype="text"
					cdbi:required="true" />
					
				<opensrf:field
					name="owner"
					datatype="int"
					cdbi:required="true" />
					
				<opensrf:field
					name="start_date"
					datatype="timestamp"
					cdbi:required="true"
					cdbi:default="now()" />
					
				<opensrf:field
					name="end_date"
					datatype="timestamp"
					cdbi:required="true"
					cdbi:default="now() + '1 month'" />
					
				<opensrf:field
					name="usr_summary"
					datatype="bool"
					cdbi:required="true"
					default="t" />
					
				<opensrf:field
					name="opac"
					datatype="bool"
					cdbi:required="true"
					default="f" />
					
				<opensrf:field
					name="poll"
					datatype="bool"
					cdbi:required="true"
					default="f" />

				<opensrf:field
					name="required"
					datatype="bool"
					cdbi:required="true"
					default="f" />

			</opensrf:fields>
	
			<opensrf:links>
				<opensrf:link field="questions" source="asvq" type="has_many"/>
				<opensrf:link field="responses" source="asvr" type="has_many"/>
				<opensrf:link field="owner" source="aou" type="has_a"/>
			</opensrf:links>
	
		</opensrf:class>

	</opensrf:classes>
</opensrf:fieldmapper>

