<?xml version='1.0'?>

<config>

	<opensrf> <!-- bootstrap config for the C apps -->

		<!--  the routers's name on the network -->
		<!-- do not change this -->
      <router_name>router</router_name>
		
      <routers> 
			<!-- 
				list of router domains we should register with. 
				We must at least have our default jabber domain in here
			-->
         <router>127.0.0.1</router>
      </routers>

      <domains>
			<!-- Our jabber domain, currenlty only one domain is supported -->
         <domain>127.0.0.1</domain>
      </domains>

      <username>client</username>
      <passwd>mypass</passwd>
      <port>5222</port>

		<!-- log to a local file -->
      <logfile>/openils/var/log/osrfsys.log</logfile>

		<!-- 
			Log to syslog. You can use this same layout for 
			defining the logging of all services in this file 
		-->

		<!--
		<logfile>syslog</logfile>
		<syslog>local2</syslog>
		<actlog>local1</actlog>
		-->

		<!-- 0 None, 1 Error, 2 Warning, 3 Info, 4 debug, 5 Internal (Nasty) -->
      <loglevel>3</loglevel>
   </opensrf>


	<!-- Update this if you use ChopChop -->
	<chopchop> <!-- Our jabber server -->
		<domain>127.0.0.1</domain>
		<port>5222</port>

		<!-- used when multiple servers need to communicate -->
		<s2sport>5269</s2sport>
		<secret>secret</secret>

		<listen_address>10.0.0.3</listen_address>
		<loglevel>3</loglevel>
		<logfile>/openils/var/log/osrfsys.log</logfile>
	</chopchop>


	<!-- The section between <gateway>...</gateway> is a standard OpenSRF C stack config file -->
	<gateway>

		<!--  the routers's name on the network -->
		<router_name>router</router_name>

		<!-- jabber domains to connect to (domain1, domain2, ...) -->
		<domains>
			<domain>127.0.0.1</domain>
		</domains>

		<!-- These are the services that the gateway will serve. 
			Any other requests will receive an HTTP_NOT_FOUND (404) 
			DO NOT put any services here that you don't want the internet to have access to
			-->
		<services>
			<service>opensrf.math</service> 
			<service>open-ils.cat</service> 
			<service>open-ils.search</service> 
			<service>open-ils.circ</service> 
			<service>open-ils.actor</service> 
			<service>open-ils.auth</service> 
		</services>


		<!-- jabber login info -->
		<username>mylogin</username>
		<passwd>mypassword</passwd>
		<port>5222</port>
	
		<logfile>/openils/var/log/gateway.log</logfile>
		<loglevel>3</loglevel>

	</gateway>

	<rest_gateway>
		<router_name>router</router_name>
		<domains>
			<domain>127.0.0.1</domain>
		</domains>
		<username>mylogin</username>
		<passwd>mypassword</passwd>
		<port>5222</port>
		<unixpath>/openils/var/sock/jserver.sock</unixpath>
		<logfile>/openils/var/log/gateway.log</logfile>
		<loglevel>3</loglevel>
	</rest_gateway>

	<!-- ======================================================================================== -->

	<router>

		<!-- do not change -->
		<component>0</component>
	
		<trusted_domains>
			<!-- Trusted servers are allowed to register apps with the router -->
			<server>127.0.0.1</server>
			<!-- Trusted clients are allowed to send packets through the router -->
			<client>127.0.0.1</client>
		</trusted_domains>
	
		<transport>
			<!-- jabber server are we connecting to -->
			<server>127.0.0.1</server>
			<port>5222</port>

			<!-- do not change this -->
			<username>router</username>

			<password>mypassword</password>

			<!-- router's jabber resource --> 
			<!-- do not change this -->
			<resource>router</resource>

			<connect_timeout>10</connect_timeout>
			<max_reconnect_attempts>5</max_reconnect_attempts>
		</transport>
	
		<logfile>/openils/var/log/router.log</logfile>
		<loglevel>3</loglevel>
	
	</router>

	<!-- ======================================================================================== -->

</config>




