<?xml version='1.0'?>

<!-- Bootstrap config file for the C opensrf_stack library -->
<config>


	<opensrf> <!-- bootstrap config for the C apps -->
      <router_name>router</router_name>
      <routers>
         <router>127.0.0.1</router>
      </routers>
      <domains>
         <domain>127.0.0.1</domain>
      </domains>
      <username>client</username>
      <passwd>mypass</passwd>
      <port>5222</port>
      <logfile>/openils/var/log/osrfsys.log</logfile>
      <loglevel>3</loglevel>
   </opensrf>


	<chopchop> <!-- Our jabber server -->
		<domain>127.0.0.1</domain>
		<secret>secret</secret>
		<port>5222</port>
		<s2sport>5269</s2sport>
		<listen_address>10.0.0.3</listen_address>
		<loglevel>3</loglevel>
		<logfile>syslog</logfile>
		<syslog>local2</syslog>
	</chopchop>


	<!-- The section between <gateway>...</gateway> is a standard OpenSRF C stack config file -->
	<gateway>

		<!--  the routers's name on the network -->
		<router_name>router</router_name>

		<!-- jabber domains to connect to (domain1, domain2, ...) -->
		<domains>
			<domain>127.0.0.1</domain>
		</domains>

		<!-- jabber login info -->
		<username>mylogin</username>
		<passwd>mypassword</passwd>

		<!-- If the port is a positive number,
			we will connect via TCP port, if not and unixpath is defined,
			we will connect via UNIX domain socket with the given path -->
		<port>5222</port>
		<unixpath>/openils/var/sock/jserver.sock</unixpath>
	
		<!-- log file location -->
		<logfile>/openils/var/log/gateway.log</logfile>
		<!-- 0 None, 1 Error, 2 Warning, 3 Info, 4 debug -->
		<loglevel>3</loglevel>

	</gateway>

	<rest_gateway>
		<router_name>router</router_name>
		<domains>
			<domain>127.0.0.1</domain>
		</domains>
		<username>mylogin</username>
		<passwd>mypassword</passwd>
		<port>5222</port>
		<unixpath>/openils/var/sock/jserver.sock</unixpath>
		<logfile>/openils/var/log/gateway.log</logfile>
		<loglevel>3</loglevel>
	</rest_gateway>

	<!-- ======================================================================================== -->

	<router>
		<component>0</component> <!-- leave disabled for now -->
	
		<trusted_domains>
			<!-- Trusted servers are allowed to register apps with the router -->
			<server>127.0.0.1</server>
			<!-- Trusted clients are allowed to send packets through the router -->
			<client>127.0.0.1</client>
		</trusted_domains>
	
		<transport>
			<!-- jabber server are we connecting to -->
			<server>127.0.0.1</server>
			<!-- If the port is a positive number,
				we will connect via TCP port, if not and unixpath is defined,
				we will connect via UNIX domain socket with the given path -->
			<port>5222</port>
			<unixpath>/openils/var/sock/unix_sock</unixpath>

			<!-- router's name on the network -->
			<username>router</username>
			<password>mypassword</password>
			<!-- router's jabber resource --> 
			<resource>router</resource>
			<connect_timeout>10</connect_timeout>
			<max_reconnect_attempts>5</max_reconnect_attempts>
		</transport>
	
		<logfile>/openils/var/log/router.log</logfile>
		<loglevel>3</loglevel>
	
	</router>

	<!-- ======================================================================================== -->

</config>




