<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' lang='[% ctx.locale %]' xml:lang='[% ctx.locale %]'>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        [% IF ctx.refresh %]
        <meta http-equiv="refresh" content="[% ctx.refresh %]">
        [% ELSIF ctx.authtime %]
        <meta http-equiv="refresh" content="[% ctx.authtime %]; url=[% ctx.logout_page %]">
        [% END %]
        <link rel="stylesheet" type="text/css" href="[% ctx.media_prefix %]/css/skin/default/opac/semiauto.css" />
        <link rel="stylesheet" type="text/css" href="[% ctx.opac_root %]/css/style.css" />
        <title>[% l('Catalog - [_1]', ctx.page_title) %]</title>
        <link rel="unapi-server" type="application/xml" title="unAPI" href="/opac/extras/unapi" />
        [% IF want_dojo %]
        <style type="text/css">
            @import "[% ctx.media_prefix %]/js/dojo/dijit/themes/tundra/tundra.css";
        </style>
        [% END %]
        [% INCLUDE 'opac/parts/goog_analytics.tt2' %]
    </head>
    <body[% IF want_dojo; ' class="tundra"'; END %]>
        [% content %] 
        [% INCLUDE 'opac/parts/footer.tt2' %]
        [% INCLUDE 'opac/parts/js.tt2' %]
        [%- IF ENV.OILS_CHILIFRESH_ACCOUNT %]
            [%- INCLUDE 'opac/parts/chilifresh.tt2' %]
        [%- END %]
    </body>
</html>
