       <div id="topnav_logo"> <a href="/"><img id="topnav_logo_image" alt="[% l('Evergreen Logo') %]" 
            src="[% ctx.media_prefix %]/images/evergreen-logo-white.svg[% ctx.cache_key %]" role="img" class="eg-logo" /></a></div>
