.facet-selected {
  background-color: var(--bs-gray-300);
}

.user-favorite {
  color: var(--bs-yellow);
  inset-block-end: -0.25rem;
  margin-inline-start: 0.25rem;
  position: relative;
  -webkit-text-stroke: 1px var(--star-stroke);
}

.card {
  width: 100%;
}

.card-header h3 {
  margin-block: 0;
  margin-inline: 0.25rem;
}

.bg-gray {
  background-color: rgba(0, 0, 0, 0.03);
}

.list-group-item {
  padding: 0.5rem 0.25rem;
}

.bucket-metadata,
.facet-metadata {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bucket-metadata .bucket-count {
  padding-inline-start: 0.5rem;
}

.bucket-metadata .basket-add {
  opacity: 0; /* hide it while leaving it in the tabindex lineup */
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  margin: 0;
  padding: 0;
}

.bucket-metadata:has(:hover) .basket-add,
.bucket-metadata:has(:focus) .basket-add {
  opacity: 1;
}

/* first five elements from zero */
.list-truncate .list-group-item:nth-child(n+6) {
  display: none;
}

@media (forced-colors: active) or (prefers-contrast: forced) {
  .card .card-header,
  .card .list-group-item {
      border: 0;
  }
}