.facet-selected {
  background-color: #DDD;
}

.card {
  width: 100%;
}

.list-group-item {
  padding: .5rem .75rem .5rem .75rem
}

/* first five elements from zero */
.list-truncate .list-group-item:nth-child(n+6) {
  display: none;
}

@media (forced-colors: active) or (prefers-contrast: forced) {
  .card .card-header,
  .card .list-group-item {
      border: 0;
  }
}