
/* Bootstrap default is 20px */
.pagination {margin: 0px 0px 0px 0px}

.pagination li:not(.active) a {
  cursor: pointer;
}

.pagination a { 
  background-color: var(var(--bs-body-bg));
  border-color: var(--primary-border);
  color: var(--primary-border); 
}

.pagination .page-item.active .page-link {
  background-color: var(--bs-body-bg-alt);
  border-color: var(--primary-border);
  color: var(--bs-body-color);
}

.pagination a:hover, 
.pagination .page-item.active .page-link:hover { 
  background-color: var(--bs-body-bg-highlight);
  border-color: var(--primary-border);
  color: var(--bs-body-color); 
}

.pagination .page-item.disabled .page-link {
  background-color: var(--bs-body-bg);
  border-color: var(--border);
  color: var(--bs-body-color-disabled); 
}