
/* Bootstrap default is 20px */
.pagination {margin: 0px 0px 0px 0px}

.pagination li:not(.active) a {
  cursor: pointer;
}

.pagination a { 
  background-color: #fff;
  border-color: var(--primary);
  color: var(--primary); 
}

.pagination .page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.pagination a:hover, .pagination .page-item.active .page-link:hover { 
  background-color: #0848A5;
  border-color: #0848A5;
  color: #fff; 
}