
/**
 * Force the jacket image column to consume a consistent amount of
 * horizontal space, while allowing some room for the browser to
 * render the correct aspect ratio.
 */
.record-jacket-div {
    width: 120px;
}

.record-jacket-div img {
    height: 100%;
    max-height: 158px;
    max-width: 100px;
}

.bib-field-title {
    font-size: .88rem;
    font-weight: inherit;
    margin: 0;
}

.bib-title-link {
    font-weight: bold;
}

.bib-author-link {
    font-weight: normal;
    display: block;
}

.no-copies-transcendant {
    background-color: rgba(var(--bs-warning-rgb), .2);
    color: var(--bs-dark);
}

.no-copies {
    background-color: rgba(var(--bs-info-rgb), .2);
    color: var(--bs-dark);
}