<ng-template #dialogContent>
  <div class="modal-header">
    <h4 class="modal-title">{{dialogTitle}}</h4>
    <button type="button" class="btn-close btn-close-white" 
      i18n-aria-label aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p>{{dialogBody}}</p>
    <div class="text-center">
        <input type="{{promptType}}" class="form-control" id="{{inputDomId}}"
          [attr.min]="promptType === 'number' ? promptMin : ''"
          [attr.max]="promptType === 'number' ? promptMax : ''"
          (keyup.enter)="close(promptValue)" [(ngModel)]="promptValue"/>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" 
      (click)="close(promptValue)">{{confirmString}}</button>
    <button type="button" class="btn btn-normal" 
      (click)="close()">{{cancelString}}</button>
  </div>
</ng-template>
