<div class="row">
    <div style="font-size: 24px;" class="me-3">Shelving Location Groups</div>
    <eg-org-select (onChange)="orgOnChange($event)" [initialOrgId]="1"></eg-org-select>     
</div>
<div class="row">
    <p>Location groups can be re-ordered by dragging and dropping.</p>
</div>
<div style="height: 450px;">
    <div class="row h-100">
        <div class="col-lg-6 h-100">
            <eg-staff-banner bannerText="Location Groups" i18n-bannerText>
            </eg-staff-banner>
            <div class="text-center">          
                <div class="btn btn-outline-dark mb-3 ms-2" (click)="createLocationGroup()" 
                    *ngIf="hasPermission">
                    New Location Group                     
                </div>
                <div class="btn btn-outline-dark mb-3 ms-2 disabled"
                    *ngIf="!hasPermission">
                    New Location Group                     
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 h-100 p-2 text-center">
                    <span class="align-middle fw-bold">Name</span>
                </div>
                <div class="col-lg-1 h-100 p-2 text-center">
                    <span class="align-middle fw-bold">Pos</span>
                </div>
                <div class="col-lg-2 h-100 p-2 text-center">
                    <span class="align-middle fw-bold">Visible?</span>
                </div>
                <div class="col-lg-3">    
                </div>
            </div>
            
            <div *ngFor="let group of locationGroups; let dragIndex = index" 
                class="d-flex flex-row locationGroup"
                onmouseover="this.style.cursor='move'" 
                draggable="true"
                (dragstart)="onDragStart($event, group)"
                (dragenter)="onDragEnter($event, group)" 
                (dragover)="onDragOver($event)" 
                (drop)="onDragDrop($event, dragIndex)">
                <div *ngIf="group.selected"
                    class="col-lg-6 h-100 p-2 bg-warning border border-dark">
                    <span class="align-middle">{{group.name}}</span>
                </div>
                <div *ngIf="!group.selected" class="col-lg-6 h-100 p-2" 
                    (click)='changeSelectedLocationGroup(group)'>
                    <span class="align-middle">{{group.name}}</span>
                </div>
                <div class="col-lg-1 h-100 p-2 text-center">
                    <span class="align-middle">{{group.posit}}</span>
                </div>
                <div class="col-lg-2 h-100 p-2 text-center">
                    <span *ngIf="group.isVisible" class="align-middle text-success">
                        Visible
                    </span>
                    <span *ngIf="!group.isVisible" class="align-middle text-danger">
                        Not Visible
                    </span>
                </div>
                <div class="col-lg-3 h-100 btn-group p-2">
                    <span *ngIf="hasPermission"
                        class="btn btn-sm btn-outline-dark me-1" 
                        (click)="editLocationGroup(group)">
                        Edit
                    </span>
                    <span *ngIf="!hasPermission" 
                        class="btn btn-sm btn-outline-dark me-1 disabled">
                        Edit
                    </span>
                    <span *ngIf="hasPermission"
                        class="btn btn-sm btn-danger me-2" 
                        (click)="deleteLocationGroup(group)">
                        Delete
                    </span>
                    <span *ngIf="!hasPermission"
                        class="btn btn-sm btn-danger me-2 disabled">
                        Delete
                    </span>
                    <span class="align-middle">
                        <svg class="pt-2" xmlns="http://www.w3.org/2000/svg" width="24" 
                            height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M11 18c0 
                            1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 
                            .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9
                            2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 
                            .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 
                            2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 
                            2-2-.9-2-2-2z"/>
                        </svg>
                        <!-- As of Nov 2019 drag_indicator not included in library -->
                        <!-- <span class="material-icons pt-2">drag_indicator</span> -->
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 h-100">
            <eg-staff-banner bannerText="Group Entries" i18n-bannerText></eg-staff-banner>
            <div class="text-center">
                <div class="btn btn-outline-dark mb-2" (click)="removeEntries()">
                    Remove &rarr;
                </div>
            </div>
            <div class="row overflow-auto h-100">
                <table class="table table-striped col-lg-10 offset-lg-1">
                    <thead></thead>
                    <tbody>
                        <tr *ngFor="let group of groupEntries" class="row">
                            <td>
                                <input
                                type="checkbox" 
                                class="me-2"
                                [(ngModel)]="group.checked"
                                [checked]="group.checked"
                                id="{{group.label}}" /> 
                                <label class="form-label" for="{{group.label}}">
                                    {{group.shortname}} &nbsp; {{group.name}}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3 h-100">
            <eg-staff-banner bannerText="Shelving Locations" i18n-bannerText>
            </eg-staff-banner>
            <div class="text-center">
                <div class="btn btn-outline-dark mb-2" (click)="addEntries()">
                    &larr; Add
                </div>
            </div>
            <div  class="row overflow-auto h-100">
                <table class="table table-striped col-lg-10 offset-lg-1">
                    <thead></thead>
                    <tbody>
                        <ng-container *ngFor="let location of shelvingLocations" >
                            <tr class="row" *ngIf="!location.hidden">
                                <td>
                                    <input
                                    type="checkbox" 
                                    class="me-2"
                                    [(ngModel)]="location.checked"
                                    [checked]="location.checked"
                                    id="{{location.label}}" /> 
                                    <label class="form-label" for="{{location.label}}">
                                        {{location.shortname}} &nbsp; {{location.name}}
                                    </label>
                                </td>
                            </tr>
                        </ng-container>               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<eg-fm-record-editor #editDialog hiddenFieldsList="id" idlClass="acplg" 
    readonlyFields="owner"
    requiredFields="name,pos" [defaultNewRecord]="defaultNewRecord"></eg-fm-record-editor>
<eg-string #editLocGroupSuccess i18n-text text="Edited Location Group"></eg-string>
<eg-string #editLocGroupFailure i18n-text 
    text="Error when trying to edit Location Group"></eg-string>
<eg-string #addedGroupEntriesSuccess i18n-text text="Added to Group Entries"></eg-string>
<eg-string #addedGroupEntriesFailure i18n-text 
    text="Error when trying to add to Group Entries"></eg-string>
<eg-string #removedGroupEntriesSuccess i18n-text 
    text="Removed from Group Entries"></eg-string>
<eg-string #removedGroupEntriesFailure i18n-text 
    text="Error when trying to remove from Group Entries"></eg-string>
<eg-string #changeOrderSuccess i18n-text text="Changed Location Group order"></eg-string>
<eg-string #changeOrderFailure i18n-text 
    text="Error when trying to change Location Group Order"></eg-string>
