[%
  WRAPPER "staff/base.tt2";
  ctx.page_title = l("Evergreen Configuration"); 
  ctx.page_app = "egAdminActor";
%]

[% BLOCK APP_JS %]
<script src="[% ctx.media_prefix %]/js/ui/default/staff/services/eframe.js"></script>
<script src="[% ctx.media_prefix %]/js/ui/default/staff/admin/actor/app.js"></script>
[% END %]

<div ng-view></div>

[% END %]
