
<h4 i18n>Direct Charges, Taxes, Fees, etc.
  @if (canModify) {
<button type="button" class="btn btn-info btn-sm" (click)="newCharge()">New Charge</button>
}
</h4>

<eg-acq-disencumber-charge-dialog #disencumberChargeDialog></eg-acq-disencumber-charge-dialog>

@if (showBody) {
  <div class="row d-flex">
    <div class="flex-2 p-2 fw-bold">Charge Type</div>
    <div class="flex-2 p-2 fw-bold">Fund</div>
    <div class="flex-2 p-2 fw-bold">Title/Description</div>
    <div class="flex-2 p-2 fw-bold">Author</div>
    <div class="flex-2 p-2 fw-bold">Note</div>
    <div class="flex-2 p-2 fw-bold">Estimated Cost</div>
    <div class="flex-2 p-2"> </div>
  </div>
  @for (charge of po().po_items(); track charge) {
    <div class="row mt-2 pt-2 d-flex border-top form-validated"
      >
      <div class="flex-2 p-2">
        <eg-combobox idlClass="aiit" [selectedId]="charge.inv_item_type()"
          [asyncSupportsEmptyTermClick]="true"
          (onChange)="charge.inv_item_type($event ? $event.id : null)"
          i18n-placeholder placeholder="Charge Type..."
        [required]="true" [readOnly]="!charge.isnew() && !charge.ischanged()"></eg-combobox>
      </div>
      <div class="flex-2 p-2">
        <!--  the IDL does not require a fund, but the Perl code assumes
        one is present -->
        <eg-combobox idlClass="acqf" [selectedId]="charge.fund()"
          (onChange)="charge.fund($event ? $event.id : null)"
          i18n-placeholder placeholder="Fund..."
          [asyncSupportsEmptyTermClick]="true"
          [required]="true" [readOnly]="!charge.isnew() && !charge.ischanged()"
          [idlQuerySort]="{acqf: 'year DESC, code'}"
          [idlQueryAnd]="{org: owners, active: 't'}">
        </eg-combobox>
        @if (charge.fund_debit() && charge.fund_debit().fund() !== charge.fund()) {
          <span>
            <br>
              <i i18n>Fund {{charge.fund_debit().fund() | fundLabel}} in use until a change is saved.</i>
            </span>
          }
        </div>
        <div class="flex-2 p-2">
          @if (!charge.isnew() && !charge.ischanged()) {
            <span>{{charge.title()}}</span>
          }
          @if (charge.isnew() || charge.ischanged()) {
            <input type="text" class="form-control"
              i18n-placeholder placeholder="Title..."
              [ngModel]="charge.title()" (ngModelChange)="charge.title($event)"/>
          }
        </div>
        <div class="flex-2 p-2">
          @if (!charge.isnew() && !charge.ischanged()) {
            <span>{{charge.author()}}</span>
          }
          @if (charge.isnew() || charge.ischanged()) {
            <input type="text" class="form-control"
              i18n-placeholder placeholder="Author..."
              [ngModel]="charge.author()" (ngModelChange)="charge.author($event)"/>
          }
        </div>
        <div class="flex-2 p-2">
          @if (!charge.isnew() && !charge.ischanged()) {
            <span>{{charge.note()}}</span>
          }
          @if (charge.isnew() || charge.ischanged()) {
            <input type="text" class="form-control"
              i18n-placeholder placeholder="Note..."
              [ngModel]="charge.note()" (ngModelChange)="charge.note($event)"/>
          }
        </div>
        <div class="flex-2 p-2">
          @if (!charge.isnew() && !charge.ischanged()) {
            <span>{{charge.estimated_cost() | currency}}</span>
          }
          @if (charge.isnew() || charge.ischanged()) {
            <input type="number" min="0" class="form-control"
              i18n-placeholder placeholder="Estimated Cost..." [required]="true"
              [ngModel]="charge.estimated_cost()" (ngModelChange)="charge.estimated_cost($event)"/>
          }
          @if (charge.fund_debit()) {
            <span>
              <br>
                @if (charge.fund_debit().encumbrance() === 't') {
                  <span i18n>
          <i>Amount encumbered is {{charge.fund_debit().amount() | currency}}</i>
        </span>
                }
                @if (charge.fund_debit().encumbrance() === 'f') {
                  <span i18n>
          <i>Amount expended is {{charge.fund_debit().amount() | currency}}</i>
        </span>
                }
              </span>
            }
          </div>
          <div class="flex-2 p-1">
            @if (canModify) {
              <button type="button" [disabled]="!(charge.isnew() || charge.ischanged())" class="btn btn-success btn-sm"
              (click)="saveCharge(charge)" i18n>Save</button>
            }
            @if (canModify) {
              <button type="button" [disabled]="charge.isnew()" class="btn btn-normal btn-sm ms-1"
              (click)="charge.ischanged(true)" i18n>Edit</button>
            }
            @if (canDisencumber(charge)) {
              <button type="button" class="btn btn-destroy btn-sm ms-1"
              (click)="disencumberCharge(charge)" i18n>Disencumber</button>
            }
            @if (canDelete(charge)) {
              <button type="button" class="btn btn-danger btn-sm ms-1"
              (click)="removeCharge(charge)" i18n>Remove</button>
            }
          </div>
        </div>
      }
    }
