<ng-template #dialogContent>
  <form class="form-validated">
    <div class="modal-header">
      <h3 class="modal-title" i18n>Disencumber Direct Charge</h3>
      <button type="button" class="btn-close btn-close-white"
        i18n-aria-label aria-label="Close dialog" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex">
        <div class="flex-2">
          <label class="form-label" for="inv_item_type" i18n>Charge:</label>
        </div>
        <div class="flex-3">
          <eg-combobox domId="inv_item_type" idlClass="aiit" [selectedId]="charge.inv_item_type()"
            [readOnly]="true"></eg-combobox>
        </div>
      </div>
      <div class="d-flex">
        <div class="flex-2"><label for="estimated_cost" class="form-label" i18n>Amount:</label></div>
        <div class="flex-3"><output id="estimated_cost">{{charge.estimated_cost()}}</output></div>
      </div>
      <div class="d-flex">
        <div class="flex-2"><label for="charge_fund" class="form-label" i18n>Original Fund:</label></div>
        <div class="flex-3">
          <eg-combobox domId="charge_fund" idlClass="acqf" [selectedId]="charge.fund()"
            [readOnly]="true"></eg-combobox>
        </div>
      </div>
      <div class="d-flex">
        <div class="flex-2"><label for="fund_debit" class="form-label" i18n>Fund Debited:</label></div>
        <div class="flex-3">
          <eg-combobox id="fund_debit" idlClass="acqf" [selectedId]="charge.fund_debit().fund()"
            [readOnly]="true"></eg-combobox>
        </div>
      </div>
      <div class="d-flex">
        <div class="flex-2"><label for="fund_debit_amount" class="form-label" i18n>Amount Encumbered:</label></div>
        <div class="flex-3"><output id="fund_debit_amount">{{charge.fund_debit().amount()}}</output></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"
        (click)="close(true)" i18n>Disencumber</button>
      <button type="button" class="btn btn-normal"
        (click)="close()" i18n>Cancel</button>
    </div>
  </form>
</ng-template>

