@import "/js/dojo/dojo/resources/dojo.css";
@import "/js/dojo/dijit/themes/tundra/tundra.css";
@import "/js/dojo/dojox/grid/_grid/Grid.css";
.container:after {content: ""; display: block; height: 0; clear: both; }
html,body { width:100%; height:100%; border:0; margin:0; padding:0; }
table { border-collapse: collapse; }
table.dijitTooltipTable { border-collapse: separate; }
.form_table td { padding: 6px; }
.small_form_table td { padding: 1px; }
.match_div {
    height: 95%;
    width: 95%;
}
.match_div a {
    color: red;
    font-weight:bold;
}
.match_div a:visited {
    color: red;
    font-weight:bold;
}
.tall { height:100%; }
.wide { width:100%; }
.hidden { display: none; }
#toolbar { margin-top: 0px; }
.progress {margin: 20px;}
.overlay_selected { 
    padding: 2px; 
    background: #d9e8f9;
    border: 1px solid red; 
}

.export_tr_border td { border-top: 1px solid #808080; }
.nav_row_div {padding:1px; text-align:center; }
