

<eg-string #successMsg
    text="Successfully Attached/Modified Conjoined Item(s)" i18n-text></eg-string>
<eg-string #errorMsg 
    text="Failed To Attach/Modify Conjoined Item(s)" i18n-text></eg-string>

<ng-template #dialogContent>
    <div class="modal-header">
      <h4 class="modal-title">
        <span i18n>Attach/Modify {{copyIds.length}} Conjoined Item(s)</span>
      </h4>
      <button type="button" class="btn-close btn-close-white" 
        i18n-aria-label aria-label="Close dialog" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <div class="row form-validated">
        <div class="col-lg-4" i18n>
          <label class="form-label" for="cbox-peer-types">Peer Type:</label>
        </div>
        <div class="col-lg-8">
          <eg-combobox [entries]="peerTypes" [required]="true"
            i18n-placeholder placeholder="Peer Type..."
            domId="cbox-peer-types" (onChange)="peerTypeChanged($event)">
          </eg-combobox>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ng-container>
        <button type="button" class="btn btn-normal" 
          (click)="close()" i18n>Cancel</button>
        <button type="button" class="btn btn-success" 
          (click)="linkCopies()" [disabled]="!peerType" i18n>
          Attach/Modify
        </button>
      </ng-container>
    </div>
  </ng-template>
  
