<eg-string #successMsg [text]="successMessage" i18n-text></eg-string>
<eg-string #errorMsg [text]="errorMessage" i18n-text></eg-string>

<ng-template #dialogContent>
<eg-copy-things-dialog
    [thingType]="thingType"
    [copies]="copies"
    [copyIds]="copyIds"
    [batchWarningMessage]="batchWarningMessage"
    [inBatch]="inBatch.bind(this)"
    [onClose]="close.bind(this)"
    [onApplyChanges]="applyChanges.bind(this)">

  <div class="row">
    <div class="col">
      <h3 i18n>Add Tag</h3>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-4">
      <eg-combobox [entries]="tagTypes" [(ngModel)]="curTagType" [ngbAutofocus]="true"
        i18n-placeholder placeholder="Select tag type...">
      </eg-combobox>
    </div>
    <div class="col-lg-5">
      <eg-combobox [asyncDataSource]="tagDataSource" [(ngModel)]="curTag"
        [allowFreeText]="true" [icons]="false" (comboboxEnter)="addThenRefresh()"
        i18n-placeholder placeholder="Enter tag value...">
      </eg-combobox>
    </div>
    <div class="col-lg-3 new-tag-actions">
      <button [disabled]="curTag && !curTag.id" type="button" class="btn btn-normal" (click)="addThenRefresh()" i18n>Add Tag</button>
      <button [disabled]="!curTag || curTag.id || !curTag.freetext" type="button" class="btn btn-success" (click)="addThenRefresh()" i18n>Create New Tag</button>
    </div>
  </div>

  <!-- Combined Tag Maps -->
  <eg-tag-map-list #combinedTagsMapsList
    [maps]="allMapRows"
    [newThings]="newThings"
    [copyIds]="copyIds"
    [code2cctt]="code2type"
    [trickery]="trickeryExistingTagMapsList"
    i18n-headerText headerText="Tags"
    i18n-buttonText buttonText="Remove Tag"
    [showIsDeleted]="true"
    (remove)="removeThing($event)">
  </eg-tag-map-list>


</eg-copy-things-dialog>
</ng-template>
