:host {
  --vol-edit-clear-icons: var(--bs-gray-550);
  --vol-row-bg: var(--bs-row-alt);
  --vol-row-border: rgba(var(--bs-blue-300-rgb), 0.4);
}

input[type="number"], input[inputmode="numeric"], input[inputmode="decimal"] {
  /* visually accomodates numbers in the hundreds */
  width: 4.5em;
}

.vol-row {
  background-color: var(--vol-row-bg);
  border-top: 1px solid var(--vol-row-border);
  border-bottom: 1px solid var(--vol-row-border);
}

.clear-button {
  border: none;
  background-color:var(--bs-body-bg);
  padding-left: .25rem;
  padding-right: .25rem;
  line-height: inherit;
}

.clear-button .material-icons {
  font-size: 15px;
  color: var(--vol-edit-clear-icons);
}


.material-icons {
  font-size: 20px; 
}

::ng-deep.vol-edit-validity-combobox.ng-dirty:required{
  border-left: 5px solid #78FA89;
}

::ng-deep.vol-edit-validity-combobox:required.ng-invalid{
  border-left: 5px solid #FA787E;
}

