.page-item .btn-link {
    border: 1px solid var(--border);
    border-radius: 0;
    margin-top: -1px;
    padding: .375rem .75rem;
}

.page-item:first-child .btn-link {
    border-bottom-left-radius: .25rem;
}

.page-item:last-child .btn-link {
    border-bottom-right-radius: .25rem;
}

.page-item.disabled .btn-link {
    background-color: var(--bs-body-bg-alt);
    color: var(--bs-body-color-disabled); 
}