<eg-catalog-part-merge-dialog #mergeDialog>
</eg-catalog-part-merge-dialog>

<div class="mt-3">

  <eg-grid #partsGrid idlClass="bmp" [dataSource]="gridDataSource"
      [sortable]="true" [filterable]="true" persistKey="catalog.record.parts" hideFields="label_sortkey,deleted,record" class="mt-3">
    <eg-grid-toolbar-button [disabled]="!permissions.CREATE_MONOGRAPH_PART"
      label="New Monograph Part" i18n-label [action]="createNew">
    </eg-grid-toolbar-button>
    <eg-grid-toolbar-action [disabled]="!(permissions.DELETE_MONOGRAPH_PART && permissions.UPDATE_HOLD)" label="Merge Selected" i18n-label [action]="mergeSelected">
    </eg-grid-toolbar-action>
    <eg-grid-toolbar-action [disabled]="!permissions.DELETE_MONOGRAPH_PART" label="Delete Selected" i18n-label [action]="deleteSelected">
    </eg-grid-toolbar-action>
    <eg-grid-column path="id"></eg-grid-column>
    <eg-grid-column path="label"></eg-grid-column>
    <eg-grid-column path="creator"></eg-grid-column>
    <eg-grid-column path="create_date" [datePlusTime]="true"></eg-grid-column>
    <eg-grid-column path="edit_date" [datePlusTime]="true"></eg-grid-column>
    <eg-grid-column path="editor"></eg-grid-column>
    <eg-grid-column path="deleted" [initialFilterValue]="'f'"></eg-grid-column>
  </eg-grid>
  
  <eg-fm-record-editor #editDialog idlClass="bmp"     
    hiddenFields="record,label_sortkey,deleted,creator,editor,create_date,edit_date,editor">
  </eg-fm-record-editor>

</div>
