@import url("register_custom.css");

/* XXX Move me into the CSS tree XXX */

#uedit-tbody tr td {
    padding: 5px;
    text-align: left;
}


#uedit-save-div {
    position: fixed;
    top:40px;
    right:30px;
    width:300px;
    border:2px solid #d9e8f9;
    -moz-border-radius: 10px;
    font-weight: bold;
    padding: 12px;
    text-align:center;
    vertical-align:middle;
}

#uedit-help-div {
    position: fixed;
    top:124px;
    right:30px;
    width:300px;
    border:2px dashed #d9e8f9;
    -moz-border-radius: 10px;
    font-weight: bold;
    padding: 20px;
}

#uedit-dupe-div {
    position: fixed;
    top:124px;
    right:30px;
    width:300px;
    border:2px dashed #d9e8f9;
    -moz-border-radius: 10px;
    font-weight: bold;
    padding: 20px;
}

#uedit-address-alert {
    position: fixed;
    top:140px;
    right:30px;
    width:300px;
    border:2px dashed #d9e8f9;
    -moz-border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#uedit-address-alert-header { 
    color: red; 
    text-decoration: italic
    text-align: center;
}

.uedit-address-alert-divider  {
    border: 2px dashed red;
}

.uedit-help {
    width: 25px;
    border:1px solid #e0e0e0;
    text-align:center;
    vertical-align:middle;
}
.divider td {
    min-height:10px;
    background-color: #e0e0e0;
}

.divider span { padding: 0px 5px 0px 5px; }

.newaddr-row td {
    text-align: right;
    border-top:1px dashed #d9e8f9;
}
.newaddr-row td:last-child {
    border-right:1px dashed #d9e8f9;
}

.pending-addr-row td { border:1px solid #aaa; }

.uedit-addr-del-button {margin-left: 10px; color:red;}

.dijitTextBoxFocused, .dijitFocused { border:1px dashed #3e3e3e; color: #303030; font-weight:bold;}

.hide-non-required tr:not([required]), .hide-non-required tr[required=suggested] {
    visibility:hidden;
    display:none;
}

.hide-non-suggested tr:not([required]) {
    visibility:hidden;
    display:none;
}

#require-toggle {
    margin-top:10px;
    margin-bottom:-5px;
}


