.noprint {
    display: none;
    visibility: hidden;
}
.print {
    display: block;
    visibility: visible;
    width: 100%;
    font-size: 7pt;
    color: black;
    font-family: Arial;
    background-color: white;
}
#selfck-print-patron-info { font-size: 8pt; }

/* strange that the table does not inherit the .print css */
#selfck-print-hours { 
    font-size: 7pt; 
    font-family: Arial;
}

