body {                                                                         
    font-family: Arial, Verdana;                                               
    font-size: 13px;                                                           
}                                                                              

a {
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    color: #00593d;
    display: inline;
}

.section-title {
    padding-top: 10px;
    padding-left: 20px;
}

h2 {
    font-size: 1.2rem;
}
                                                                               
#scko-banner {                                                         
    background: #00593d; /* Old browsers */                                    
/* IE9 SVG, needs conditional override of 'filter' to 'none' */                
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTkzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdhNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #00593d 0%, #007a54 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00593d), color-stop(100%,#007a54)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00593d 0%,#007a54 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00593d 0%,#007a54 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00593d 0%,#007a54 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00593d 0%,#007a54 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00593d', endColorstr='#007a54',GradientType=0 ); /* IE6-8 */
    padding-top: 20px;                                                         
    text-align: center;                                                        
    font-weight:bold;                                                          
}  

#scko-scan-input-text {                                                       
  font-size: 16px;                                                           
  background: none repeat scroll 0 0 #252525;                                
  color: white;                                                              
  padding: 10px;                                                             
} 

#scko-welcome-message {
  font-size: 16px;                                                           
  background: none repeat scroll 0 0 #252525;                                
  color: white;                                                              
  padding: 10px;                                                             
}

#scko-circ-info-div fieldset {
    margin: 15px 10px 15px 10px;
    padding: 8px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(98%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
    border: 1px solid #DDDDDD;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#scko-circ-info-div fieldset legend {
    font-size: 13px;
    color: #00593d;
    background-color: white;
    font-weight: bold;
}

label.btn-outline-success {
}

.scko-button, .btn-check-label, .btn-check {
    color: #FBF9F9;
    font-weight: bold;
    text-shadow: 1px 1px 1px #555555;
    border-radius: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
    display: inline-block;
}

.btn-check-label {
    height: 2rem;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    font-size: 1rem;
}

.scko-button { 
    --bs-btn-border-color: #007a54;
    --bs-btn-color: white;
    color: var(--bs-btn-color);
    border: 1px solid var(--bs-btn-border-color);
    background: linear-gradient(#007a54, #00593d);
    background: -moz-linear-gradient(#007a54, #00593d);
    background: -o-linear-gradient(#007a54, #00593d);
    background: -webkit-linear-gradient(#007a54, #00593d);
    margin: 10px;
    height: 2.5rem;
}

.btn-check-label,
.btn-check:active + label.btn-outline-success, 
.btn-check:checked + label.btn-outline-success, 
label.btn-outline-success.active,
label.btn-outline-success:active {
    --bs-btn-border-color: #2e3b91;
    --bs-btn-color: white;
    color: var(--bs-btn-color);
    border: 1px solid var(--bs-btn-border-color);
    background: linear-gradient(#2e3b91, #424fa6);
    background: -moz-linear-gradient(#2e3b91, #424fa6);
    background: -o-linear-gradient(#2e3b91, #424fa6);
    background: -webkit-linear-gradient(#2e3b91, #424fa6);
    padding: 5px;
    margin: 5px 10px 20px 0px;
    border-radius: .25em;
}

.scko-button:hover,
.scko-button:focus,
.scko-button:active,
.btn-check-label:hover,
.btn-check-label:focus,
.btn-check-label:active {
    color: #F8E473;
}

label.btn-check-label.active:before {
    font-family: "Material Icons";
    content: "\e876";               /* a check mark, equivalent to "done" keyword */
    line-height: 1;
    margin-right: 0.35rem;
}

.receipt-option-wrapper {
    display: flex;
    flex-direction: row;
}

.receipt-option {}

.oils-selfck-item-table  {
    width: 98%;
    margin-top: 15px;
}

.oils-selfck-item-table td {
    text-align: left;
    padding: 10px;
}

.oils-selfck-item-table thead {
    font-weight: bold;
    color: #00593D;
}

.oils-selfck-item-table tbody tr {
    border-bottom: 1px solid #888;
}

.scko-page {
    margin-top: 20px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(98%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
    border: 1px solid #DDDDDD;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

.scko-status-row {
    font-size: 20px;
}

input[type="checkbox"] {
  padding: 10px;
  transform: scale(1.5);
}
