<eg-staff-banner bannerText="Booking Administration" i18n-bannerText>
</eg-staff-banner>

<eg-title i18n-prefix prefix="Booking Administration"></eg-title>

<div class="container">
  <eg-link-table columnCount="3">
    <eg-link-table-link i18n-label label="Resources"
      routerLink="/staff/admin/booking/resource"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Resource Attributes"
      routerLink="/staff/admin/booking/resource_attr"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Resource Attribute Maps"
      routerLink="/staff/admin/booking/resource_attr_map"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Resource Attribute Values"
      routerLink="/staff/admin/booking/resource_attr_value"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Resource Types"
      routerLink="/staff/admin/booking/resource_type"></eg-link-table-link>
  </eg-link-table>
</div>

