@import url("cat_custom.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

.has_copies { border-left: solid thick green; font-weight: bold; }

.copy_editor_field_changed { background: lightgreen; }
.copy_editor_field_required { border: solid thin red; }

row#batch_bar { background-color: gray; }

/* How you might hide the classification, affix, and parts columns in the volume creator/editor */
/*
.cn_class { display: none; }
.cn_prefix { display: none; }
.cn_suffix { display: none; }
.part_column { display: none; }
*/

.disabled_copy_editor { }
.enabling_copy_editor { }
