@import url("circ_custom.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

treechildren::-moz-tree-cell(refundable) {
    background-color: pink;
}

treechildren::-moz-tree-cell-text(refundable) {
    color: black;
}

treechildren::-moz-tree-cell(circulating) {
    background-color: red;
}

treechildren::-moz-tree-cell(longoverdue) {
    background-color: orange;
}

treechildren::-moz-tree-cell(lost) {
    background-color: maroon;
}

treechildren::-moz-tree-cell-text(circulating) {
    color: white;
}

treechildren::-moz-tree-cell-text(lost) {
    color: white;
}

treechildren::-moz-tree-cell-text(longoverdue) {
    color: black;
}

#circulating_hint {
    background-color: red;
    color: white;
}

#lost_hint {
    background-color: maroon;
    color: white;
}

#longoverdue_hint {
    background-color: orange;
    color: black;
}

treechildren::-moz-tree-row(backdate_failed) {
    background-color: pink ! important;
}

treechildren::-moz-tree-row(backdate_succeeded) {
    background-color: lightgreen ! important;
}

treechildren::-moz-tree-row(backdate_failed) {
    background-color: pink ! important;
}

treechildren::-moz-tree-row(backdate_succeeded,selected) {
    background-color: #900eff ! important;
}

treechildren::-moz-tree-row(backdate_failed,selected) {
    background-color: #ffc0ff ! important;
}


.copystatus_header_bar #background,
.copystatus_header_bar #last_scanned_hbox { background-color: yellow; }
.copystatus_header_bar #background label { font-size: x-large; font-weight: bold; }
.copystatus_header_bar #last_scanned_hbox label { font-weight: bold; }

.checkin_screen_normal { background-color: green; }
.checkin_screen_backdating { background-color: red; }
.checkin_screen_do_not_alert_on_precat { }
.checkin_screen_suppress_holds_and_transits { }
.checkin_screen_amnesty_mode { }
.checkin_screen_checkin_auto_print_slips { }
.checkin_screen_checkin_clear_shelf_expired { }
.checkin_screen_checkin_auto_retarget { }
.checkin_screen_checkin_auto_retarget_all { }
.checkin_screen_checkin_local_hold_as_transit { }

#background-text { font-size: x-large; font-weight: bold; }
#do_not_alert_on_precat_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#suppress_holds_and_transits_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#amnesty_mode_indicator { border: thick solid white; background-color: red; color: white; font-size: large; font-weight: bold; padding: 10px; padding-bottom: 25px; margin: 10px; }
#checkin_auto_print_slips_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#checkin_clear_shelf_expired_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#checkin_auto_retarget_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#checkin_auto_retarget_all_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#checkin_local_hold_as_transit_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }
#checkin_manual_float_indicator { background-color: -moz-dialog; color: -moz-dialogtext; font-size: large; font-weight: bold; }

.big_emphasis1 { font-weight: bold; font-size: x-large; }
.big_emphasis2 { font-weight: bold; font-size: large; }
.emphasis1 { font-weight: bold; }
.emphasis2 { font-weight: normal; }
