@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/TR/REC-html40"); 

.hideme { display: none; }

hbox#PatronNotNavBar { border-top: solid thin black; }
deck#patron_deck { border-left: solid thin black; }
.patronNameLarge { font-size: large; font-family: bold; }

.NO_PENALTIES .patronNameLarge { background-color: lime; }
.ONE_PENALTY .patronNameLarge { background-color: fuchsia; }
.MULTIPLE_PENALTIES .patronNameLarge { background-color: red; }

.TEST label.bill { color: red; }
.TEST label.bill.label { text-decoration: underline; }

.TEST label.credit { color: red; }
.TEST label.credit.label { text-decoration: underline; }
.TEST label.credit.value { }

.PATRON_EXCEEDS_CHECKOUT_COUNT label.items_out { color: red; }
.PATRON_EXCEEDS_CHECKOUT_COUNT label.items_out.label { text-decoration: underline; }
.PATRON_EXCEEDS_CHECKOUT_COUNT label.items_out.value { }

.TEST label.items_overdue { color: red; }
.TEST label.items_overdue.label { text-decoration: underline; }
.TEST label.items_overdue.value { }

.TEST label.holds { color: blue; }
.TEST label.holds.label { text-decoration: underline; }
.TEST label.holds.value { }

.TEST label.holds_ready { color: blue; }
.TEST label.holds_ready.label { text-decoration: underline; }
.TEST label.holds_ready.value { }

.PATRON_AGE_LT_18 .dob { text-decoration: underline; color: purple; }
.PATRON_AGE_LT_18 label.juvenille_indicator { display: inline; text-decoration: underline; color: purple; }

.PATRON_HAS_ALERT .patronNameLarge, 
.PATRON_HAS_ALERT groupbox.alert { background-color: yellow; }
.PATRON_HAS_ALERT label.alert_indicator { display: inline; text-decoration: underline; color: olive }

.PATRON_INACTIVE .patronNameLarge { background-color: gray; }
.PATRON_INACTIVE label.inactive_indicator { display: inline; text-decoration: underline; color: gray; }

.PATRON_EXPIRED .patronNameLarge { background-color: fuchsia; }
.PATRON_EXPIRED label.expired_indicator { display: inline; text-decoration: underline; color: fuchsia; }

.PATRON_BARRED .patronNameLarge { background-color: red; }
.PATRON_BARRED label.barred_indicator { display: inline; text-decoration: underline; color: red; }


