@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
caption {
    background-color: #00246b;
    color: #ff6308;
    font-size: 200%;
    text-align: center;
}
label.receiving { width: 20em; text-align: right; }
.hideme { display: none; }
#batch_receive_entry { padding-top: 10px; }
#entry_submitter { padding: 20px 0; }
