@import url("serial_custom.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
caption.top {
    background-color: #00246b;
    color: #ff6308;
    font-size: 200%;
    text-align: center;
}
label.receiving { width: 20em; text-align: right; }
#batch_receive_entry { padding-top: 10px; }
#entry_submitter { padding: 20px 0; }
menulist.cn { width: 12em; }
button[icon="remove"] { min-width: 2.5em; }
#enum_row_headings label { font-weight: bold; }
#chron_row_headings label { font-weight: bold; }
#calendar_change_row_headings label { font-weight: bold; }
description.step { font-style: italic; font-size: 110%; }
checkbox:focus:not([label]) .checkbox-label-box {
    -moz-appearance: none;
    border: none;
}
.padded_bottom { padding-bottom: 10px; }
groupbox {
    -moz-appearance: none;
}
description#print_routing_desc { margin: 0; padding: 0 1em; }
#pattern_wizard_main > vbox { padding: 0.5em 0; }
#pattern_wizard_main { overflow: auto; }
