<div *ngIf="isVisible" class="eg-grid-column-width-config">
  <div class="eg-grid-row">
    <div class="eg-grid-column-width-header" i18n>Expand</div>
    <div *ngFor="let col of columnSet.displayColumns()" 
      class="eg-grid-cell text-center" [ngStyle]="{flex:col.flex}">
      <a (click)="expandColumn(col)" title="Expand Column" i18n-title>
        <span class="material-icons eg-grid-column-width-icon">call_made</span>
      </a>
    </div>
  </div>
  <div class="eg-grid-row">
    <div class="eg-grid-column-width-header" i18n>Shrink</div>
    <div *ngFor="let col of columnSet.displayColumns()" 
      class="eg-grid-cell text-center" [ngStyle]="{flex:col.flex}">
      <a (click)="shrinkColumn(col)" title="Shrink Column" i18n-title>
        <span class="material-icons eg-grid-column-width-icon">call_received</span>
      </a>
    </div>
  </div>
</div>
