
<div row="row" class="eg-grid-row eg-grid-header-row">
  <ng-container *ngIf="!context.disableSelect">
    <div role="columnheader"
      class="eg-grid-cell eg-grid-header-cell eg-grid-checkbox-cell eg-grid-cell-skinny">
      <input type='checkbox' (click)="handleBatchSelect($event)"
        i18n-aria-label aria-label="All rows"
        [(ngModel)]="batchRowCheckbox">
    </div>
  </ng-container>
  <div role="columnheader"
    class="eg-grid-cell eg-grid-header-cell eg-grid-number-cell eg-grid-cell-skinny">
    <span i18n="number|Row Number Header">#</span>
  </div>
  <div *ngIf="context.rowFlairIsEnabled"
    role="columnheader"
    class="eg-grid-cell eg-grid-header-cell eg-grid-flair-cell">
    <span class="material-icons">notifications</span>
  </div>
  <div role="columnheader"
    *ngFor="let col of context.columnSet.displayColumns()"
    draggable="true"
    (dragstart)="dragColumn = col"
    (drop)="onColumnDrop(col)"
    (dragover)="onColumnDragEnter($event, col)"
    (dragleave)="onColumnDragLeave($event, col)"
    [ngClass]="{'dragover' : col.isDragTarget}"
    class="eg-grid-cell eg-grid-header-cell" [ngStyle]="{flex:col.flex}">
    <a class="sortable label-with-material-icon" *ngIf="col.isSortable"
      (click)="sortOneColumn(col)">
      <span class="eg-grid-header-cell-sort-label">{{col.label}}</span>
      <span class="material-icons eg-grid-header-cell-sort-arrow"
        *ngIf="isColumnSorting(col, 'ASC')">arrow_upwards</span>
      <span class="material-icons eg-grid-header-cell-sort-arrow"
        *ngIf="isColumnSorting(col, 'DESC')">arrow_downwards</span>
    </a>
    <span *ngIf="!col.isSortable">{{col.label}}</span>
  </div>
</div>
<div *ngIf="context.isFilterable"
  class="eg-grid-row eg-grid-filter-controls-row">
  <ng-container *ngIf="!context.disableSelect">
    <div class="eg-grid-cell eg-grid-header-cell eg-grid-cell-skinny"></div>
  </ng-container>
  <div class="eg-grid-cell eg-grid-header-cell eg-grid-cell-skinny"></div>
  <div *ngIf="context.rowFlairIsEnabled" 
    class="eg-grid-cell eg-grid-header-cell"></div>

  <div *ngFor="let col of context.columnSet.displayColumns()" 
    class="eg-grid-cell eg-grid-filter-control-cell" [ngStyle]="{flex:col.flex}">
    <eg-grid-filter-control [context]="context" [col]="col"></eg-grid-filter-control>
  </div>
</div>
