mark {
  --highlight-bg-opacity: 1;
  --highlight-border-opacity: 1;
  --highlight-bg: 180, 248, 211;
  --highlight-border: 32, 201, 151;
  --highlight-id-bg: 196, 240, 248;
  --highlight-id-border: 61, 213, 243;
}

[data-bs-theme="dark"] mark {
  --highlight-bg-opacity: 0.15;
  --highlight-border-opacity: 0.45;
}

.oils_SH {
  font-weight: bolder;
  background: rgba(var(--highlight-bg), var(--highlight-bg-opacity));
  border-block-end: 1px solid rgba(var(--highlight-border), var(--highlight-border-opacity));
  color: inherit;
}

.oils_SH.identifier {
  background: rgba(var(--highlight-id-bg), var(--highlight-bg-opacity));
  border-block-end: 1px solid rgba(var(--highlight-id-border), var(--highlight-border-opacity));
}


