[%
  WRAPPER "staff/base.tt2";
  ctx.page_title = l("Home"); 
  ctx.page_app = "egHome";
%]

[% BLOCK APP_JS %]
<!-- splash / login page app -->
<script src="[% ctx.media_prefix %]/js/ui/default/staff/services/lovefield.js"></script>
<script src="[% ctx.media_prefix %]/js/ui/default/staff/app.js"></script>
[% END %]

<div ng-view></div> 

[% END %]

