
/* ------------------------------------------------------------ */
.nav_wrapper_box {
	-moz-border-radius: 8px; 
	z-index: 100;
}

.nav_bar_hidden {
	display: none;
	visibility: hidden;
}

.nav_bar_visible {
	display: block;
	visibility: visible;
}

.nav_widget {
	border: 1px solid #CCF;
	border-top: 0px;
	background: #FFF;
}

#ot_nav_widget_box {
	height: 400px;
	width: 400px;
	padding-left: 2px;
	padding-right: 2px;
	overflow:-moz-scrollbars-vertical; /* for moz (and not breaking ie) */
   overflow-y:scroll; /* for ie */
	overflow-x:hidden;
}


.expando_links {
	background: #CCF;
	text-align: right;
	text-decoration: underline;
	color: #603;
}

.button_on_hover {
	border: 2px solid #669;
	-moz-border-radius: 4px; 
	border-style: inset;
}
.button_off_hover {
	border: 2px solid #669;
	-moz-border-radius: 4px; 
	border-style: outset;
}

.breadcrumb_label {
	font-weight: bold;
}


.now_searching_cell{
	text-align:left;
	padding-left: 5px;
	font-size: .75em;  
}

.search_range_cell{
	text-align: right;
	padding-right: 5px;
}

#small_logo_div {
	height:30px;
}

#opac_search_bar_box {  
	font-size: x-small;
   width: 100%; 
}

#search_bar_form {
	vertical-align: middle;
}
