body {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	/*font: .76em; */
/*	background: #FFF;*/
}

.text_link_div {
	font-size: small;
	padding: 2px;
}

div {
	font-size: small;
	/*border: 1px solid black;  */
}

.text {
	font-size: small;
}

td {
	font-size: small;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}


a:hover {
	color: blue;
	text-decoration: underline;
	/*background: #FFC;*/
}


table { border-collapse: collapse; }

.hidden { visibility:hidden; display:none; }

.visible { visibility:visible; display:inline; }


.vert_div { width: 5%; height: 100%;  float: left;}

/* generic blank line */
.line_div { width: 100%; height: 5px; }
.small_line_div { width: 100%; height: 2px; }
.big_line_div { width: 100%; height: 10px; }

.color_red	{ color: #603; }
.color_blue { color: darkblue; }

 

/*.mr_result_row_a { background: #CCF; } */

.next_prev_table_div {
	-moz-border-radius: 25px;
	background: #603;
	width: 100%;
	position: absolute;
	bottom: 10px;
}


.next_last_buttons {
	-moz-border-radius: 25px;
	background: #CCF;
   position: relative;  
	color: #603;
   width: 50%; 
}




.choice_activated { background: #FEE; }

.status_bar {
	background: #CCF;
	width: 100%;
	right: 0px;
	left: 0px;
}



.hide_me {
	visibility: hidden;
	display: none;
}

.show_me {
	visibility: visible;
	display: block;
}


.no_border_body {
	border: none;
}

#page_trail {
	vertical-align: middle;
	float:left;
}

.page_trail_word {
	text-decoration: underline;
	float:left;
	padding-right: 4px;
}
.page_trail_word_inactive {
	text-decoration: none;
}

.page_trail_divider {
	float:left;
	padding-right: 4px;
}

#deep_link_div {
	float: left;
	margin-left: 20px;
	text-decoration: underline;
}


.main_nav_table {
	width: 100%;
}

.main_nav_row {
}

.main_nav_cell {
	width: 100%;
	border-bottom: 1px solid green;
}

.main_nav_cell_active {
	background: #CFF;
}

.main_nav_cell a:hover {
	color: red;
}

