.marc_tag_table{
	border-collapse: collapse;
}

.marc_tag_table tr th {
	padding: 2px;
}

.marc_tag_table tr td {
	padding: 2px;
}

.marc_tag_row {
	vertical-align:	top;
}

.marc_tag_col {
	text-align:	right;
	font-weight: bold;
}

.marc_tag_ind {
}

span.marc_tag_data:first-letter {
	font-weight:	bold;
	color:		darkblue;
}

.marc_subfield_code {
	font-weight:	bold;
	color:		darkblue;
}

.marc_subfields {
	text-align: left;
}

