#progress_bar_location {
	z-index: -10;
	position: absolute;
	/*background: #CCF;*/
	/*background: #CC6;*/
	background: #f0b42e;
	width: 98%;
	height: 32px;
	border-collapse: collapse;
}

#progress_bar_percent_location {
	/*
	z-index: 5;
	position: absolute;
	bottom: 12px;
	right: 12px;
	*/
	/*width: 98%;*/
	/*height: 32px;*/
	text-align: left;
	float: left;
	padding-left: 20px;
	border-collapse: collapse;
}

.progress_bar {
	height: 100%;
	width: 100%;
	background: #FFF;
	border-collapse: collapse;
	white-space:nowrap;
}

.progress_bar_done {
	height: 100%;
	width: 100%;
	/*background: #CCF;*/
	/*background: #CC6;*/
	background: #ffb42e;
	border-collapse: collapse;
	white-space:nowrap;
}

.progress_bar_chunk {
	height: 100%;
	float: left;
	border-collapse: collapse;
}

.progress_bar_chunk_active {
	height: 100%;
	float: left;
	/*background: #CCF;*/
	/*background: #CCCC66;*/
	background: #ffb42e;
	border-collapse: collapse;
}

.progress_percent {
	font-weight: bold;
	color: #888;
	/*font-size: 50%;*/
	/*width: 100%;*/
	text-align: left;
	border-collapse: collapse;
}
