.sidebar {
	width: 200px;
	margin-right: 10px;
}

.sidebar_title_box {
	text-align: center;
	width: 98%;
	background: #C99;
	padding: 2px;
}

.sidebar_box {
	width: 99%;
}

.sidebar_content_box {
	border: 2px dashed #99C;
	font-size: 95%;
	width: 98%;
}

.sidebar_item {
	text-align: left;
	padding: 2px;
	width: 98%;
}
