.survey {
	background: #FFF;
}

.survey_name {
	background: #C9F;
	text-align: center;
}

.survey_description {
	background: #CCF;
	text-align: center;
}

/* wraps a survey_question_question and a survey_question_selector */
.survey_question {
	background: #FFF;
}

.survey_question_question {
	text-align: left;
}

.survey_answer_selector {
}

.survey_answer {
	background: #FFF
}

.survey_button {
	text-align: center;
}

.survey_submitted {
	text-align: center;
	font-weight: bold;
	background: #CCF;
}
