<div class="flex-char-wrap">
  <div class="flex-char">
    <h3 tabindex="0" data-index="s" title="S">
      <span class="visually-hidden" i18n>Symbols</span>
      <span i18n="Symbols section header (interrobang)">‽</span>
    </h3>
    <ul class="list-unstyled">
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A1')" title="Inverted Exclamation Mark">&iexcl;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A6')" title="Broken bar">&brvbar;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A7')" title="Section sign">&sect;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A8')" title="Diaeresis (Umlaut)">&uml;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AA')" title="Feminine Ordinal Indicator">&ordf;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BA')" title="Masculine ordinal indicator">&ordm;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AB')" title="Left-pointing double angle quotation mark">&laquo;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BB')" title="Right-pointing double angle quotation mark">&raquo;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B6')" title="Pilcrow sign">&para;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B7')" title="Middle dot">&middot;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B8')" title="Cedilla">&cedil;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BF')" title="Inverted Question Mark">&iquest;</button></li>
    </ul>
  </div>
  <div class="flex-char">
    <h3 tabindex="0">
      <span class="visually-hidden" i18n>Currency</span>
      <span i18n="Currency section header ($)">$</span>
    </h3>
    <ul class="list-unstyled">
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A2')" title="Cent sign">&cent;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A3')" title="Pound sign">&pound;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A4')" title="Currency sign">&curren;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A5')" title="Yen sign">&yen;</button></li>
    </ul>
  </div>
  <div class="flex-char">
    <h3 tabindex="0" data-index="o" title="O">
      <span class="visually-hidden" i18n>Temperature</span>
      <span i18n="Temperature section header (degree)">&deg;</span>
    </h3>
    <ul class="list-unstyled">
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B0')" title="Degree sign">&deg;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+2103')" title="Celsius">℃</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+2103')" title="Fahrenheit">℉</button></li>
    </ul>
  </div>
  <div class="flex-char">
    <h3 tabindex="0" data-index="c" title="C">
      <span class="visually-hidden" i18n>Rights</span>
      <span i18n="Reserved rights section header (copyright)">&copy;</span>
    </h3>
    <ul class="list-unstyled">
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00A9')" title="Copyright">&copy;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AE')" title="Rights reserved">&reg;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AE')" title="Trademark">™</button></li>
    </ul>
  </div>
  <div class="flex-char">
    <h3 tabindex="0" data-index="m" title="M">
      <span class="visually-hidden" i18n>Math</span>
      <span i18n="Math symbols section header (plus/minus)">&plusmn;</span>
    </h3>
    <ul class="list-unstyled">
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AC')" title="Not sign">&not;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00AF')" title="Macron">&macr;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B1')" title="Plus–minus sign">&plusmn;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B9')" title="Superscript one">¹</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B2')" title="Superscript two">²</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B3')" title="Superscript three">³</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B4')" title="Acute accent">&acute;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00B5')" title="Micro sign">&micro;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BC')" title="Vulgar fraction one quarter">¼</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BD')" title="Vulgar fraction one half">½</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00BE')" title="Vulgar fraction three quarters">¾</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00D7')" title="Multiplication sign">&times;</button></li>
      <li><button type="button" class="btn btn-normal" (click)="copyChar('U+00F7')" title="Division sign">&divide;</button></li>
    </ul>
  </div>
</div>