<router>

	<component>0</component> <!-- leave disabled for now -->

	<trusted_domains>

		<!-- 
			Trusted servers are allowed to register apps with the router 
		-->
		<server1>server1.domain.com</server1>
		<server2>server2.domain.com</server2>

		<!--
			Trusted clients are allowed to send queries to the router
		-->
		<client1>client1.domain.com</client1>
		<client2>client2.domain.com</client2>

	</trusted_domains>


	<!-- jabber connection information. Note that unix socket connectes are
			not yet implemented with any of the C libraries so port will 
			have to be a port number -->

	<transport>
		<server>jabber_server.domain.com</server>
		<port>5222</port>
		<username>router</username>
		<password>my_password</password>
		<resource>router</resource>
		<connect_timeout>10</connect_timeout>
		<max_reconnect_attempts>5</max_reconnect_attempts>
	</transport>


	<log>
		<file>/pines/log/router.log</file>

		<!--	
			0 No logging
			1 Error logging
			2 Warning
			3 Info 
			4 debug
		-->
		<level>3</level>
	</log>


</router>
