body a			{ color: black; text-decoration: none;}
body a:visited { color: black; text-decoration: none;}
body a:hover	{ color: red; text-decoration: underline;}

.color_1 { background: #A7EA9D; color: #000000; }
.color_2 { background: #64EA4F; color: #000000; }
.color_3 { background: #CCFFFF; color: #000000; }
.color_4 { background: #E0F0E0; color: #000000; }
.color_border1 { }

/* ---------------------------------------------------------------------- */
.sidebar_chunk {}
.sidebar_extra_link { text-decoration: none; }
#searchbar_tag_on { color: red; }
.searchbar_item { color: black; } 
#login_box { border-top: 1px solid #808080; border-bottom: 1px solid #808080; }
#next_prev_links_dead { color: #808080; text-decoration: none; }
.nav_link_active { text-decoration: underline; }
.search_link { text-decoration: none; }
.result_table_subtable { border-top: 1px solid #E0E0E0; }

.copy_count_cell { border-right: 1px solid #E0E0E0; } 
.copy_count_div {	border-left: 2px solid #E0F6E0; border-right: 2px solid #E0F6E0; }

.rdetail_desc { border: 1px solid #A7EA9D; }
.rdetail_item { border: 1px solid #A7EA9D; }
#rdetail_image_cell { border: 1px solid white; border-right: 1px solid #A7EA9D;}
.rdetail_header {  }


.sidebar_item_active { background: #A7EA9D; }

#canvas_main { border-left: 3px solid #A7EA9D; border-bottom: 3px solid #A7EA9D; 
	border-top: 3px solid #A7EA9D;  }

.non_canvas {  border-left: 3px solid #A7EA9D; border-top: 3px solid #A7EA9D; 
	border-bottom: 3px solid #A7EA9D; }

