<ul ngbNav #addressTabs="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist" [(activeId)]="tabName">
  <ng-container *ngFor="let type of addrTypes()">

    <li *ngIf="addr(type)" role="presentation" id="{{type}}" ngbNavItem="{{type}}">
      <a role="tab" ngbNavLink i18n>{{type === 'billing_address' ? 'Physical Address' : 
        (type === 'holds_address' ? 'Holds Address' : 
        (type === 'mailing_address' ? 'Mailing Address' : 'ILL Address'))}}</a>
      <ng-template ngbNavContent>
        <eg-fm-record-editor idlClass="aoa" readonlyFields="org_unit" 
            [mode]="addr(type).isnew() ? 'create': 'update'" 
            [hideBanner]="true" displayMode="inline" hiddenFields="id"
            (recordSaved)="addrSaved($event)" 
            [record]="addr(type)"
            fieldOrder="address_type,street1,street2,city,county,state,country,post_code,san,valid"
            >
            <eg-fm-record-editor-action i18n-label label="Get Coordinates"
              (actionClick)="getCoordinates($event)">
            </eg-fm-record-editor-action>
            <eg-fm-record-editor-action i18n-label label="Delete" *ngIf="!addr(type).isnew()"
              (actionClick)="deleteAddress($event)" buttonCss="btn-destroy">
            </eg-fm-record-editor-action>
          </eg-fm-record-editor>

        <ng-container *ngIf="sharedAddress(addr(type).id())">
          <div class="alert alert-info">
            <span i18n>This address is used for multiple address types.</span>
            <button type="button" (click)="cloneAddress(type)" 
              class="btn btn-light ms-3" i18n>Clone As New Address</button>
          </div>
        </ng-container>

      </ng-template>
    </li>

  </ng-container>
</ul>

<div [ngbNavOutlet]="addressTabs" class="mt-2"></div>