<ng-template #dialogContent>
  <div class="modal-header">
    <h4 class="modal-title" i18n>Add New Permission Group Mapping</h4>
    <button type="button" class="btn-close btn-close-white" 
      i18n-aria-label aria-label="Close dialog" 
      (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-5" i18n>Permission Group</div>
      <div class="col-lg-7">{{permGroup.name()}}</div>
    </div>
    <div class="row mt-1 pt-1">
      <div class="col-lg-5">
        <label for="select-perms" i18n>New Permission</label>
      </div>
      <div class="col-lg-7">
        <input type="text" id="select-perms" #selectPerms
          [ngbTypeahead]="permEntries"
          [inputFormatter]="permEntriesFormatter"
          [resultFormatter]="permEntriesFormatter"
          [editable]="false"
          (selectItem)="select($event); selectPerms.value=''">
      </div>
    </div>
    <ng-container *ngFor="let map of newPermMaps.controls; let i = index">
      <ng-container [formGroup]="map">
        <hr>
        <div class="row mt-1 pt-1">
          <div class="col-lg-12">
            <h5 i18n>{{map.controls.label.value}}</h5>
          </div>
        </div>
        <div class="row row-cols-5 mt-1 pt-1">
          <div class="col">
            <label [attr.for]="'depth-'+map.controls.id.value"
              i18n>Depth
            </label>
          </div>
          <div class="col">
            <select formControlName="depth" class="p-1"
              id="depth-{{map.controls.id.value}}">
              <option *ngFor="let d of orgDepths" value="{{d}}">{{d}}</option>
            </select>
          </div>
          <div class="col">
            <label [attr.for]="'grantable-'+map.controls.id.value"
              i18n>Grantable
            </label>
          </div>
          <div class="col">
            <input type="checkbox" formControlName="grantable"
              id="grantable-{{map.controls.id.value}}">
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger"
              (click)="remove(i)"
              i18n>Remove
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" 
      [disabled]="!selectedPermEntries.length"
      (click)="onCreate.next()" i18n>Create</button>
    <button type="button" class="btn btn-normal" 
      (click)="close()" i18n>Cancel</button>
  </div>
</ng-template>
