
#oils-acq-index-block { font-weight:bold; }
/*
.oils-sub-navigate-block { width: 100%;  text-align: left; padding: 3px;}
.oils-sub-navigate-block span { padding: 3px; }
*/

/* bib search */
#oils-acq-search-container { width:100%; }
#oils-acq-search-sources-block { width:32%; vertical-align: top; float: left; margin-right: 10px;}
#oils-acq-search-form-block { width:63%; vertical-align: top; float:right; }
#oils-acq-search-sources-selector { padding: 2px; }
#oils-acq-search-sources-selector option { margin-bottom: 2px; }
.oils-acq-search-form-row { width: 100%; }
.oils-acq-search-form-label {}
.oils-acq-search-form-input {}
#oils-acq-search-sources-list { padding: 1px; }
#oils-acq-search-sources-list li { list-style-type: none; padding-left: 0px; }
.oils-acq-search-sources-sublist { padding: 1px; list-style-type: none;}
.oils-acq-search-sources-sublist li { margin-left: 10px; }
.oils-acq-search-subsources-label { margin-top: 5px; }
#oils-acq-search-sources-label { margin-bottom: 10px; }
#oils-acq-search-fields-label { margin-bottom: 10px; }
#oils-acq-search-fields-submit-block { margin: 5px; text-align: center;}

/* bib search results / picklist builder interface */
#oils-acq-picklist-header { padding: 4px; margin-bottom: 20px; }
.oils-acq-picklist-records-jacket-td { width: 46px; }
.oils-acq-picklist-records-jacket { width: 42px; height: 54px; padding-left: 0px; }
.oils-acq-picklist-records-title-row {}
.oils-acq-picklist-records-author-row td { padding-left: 30px; }
.oils-acq-picklist-records-phys_desc-row td { padding-left: 30px; }
.oils-acq-picklist-records-phys_desc-row {}

#oils-acq-rdetail-marc-block { margin-top: 0px; padding: 6px; }
#oils-acq-rdetail-summary-block { margin-top: 0px; padding: 6px; }


#oils-acq-picklist-table { width: 100%; }


