<div class="container">
  <div class="col-lg-6 offset-lg-3">
    <fieldset>
      <legend class="mb-0" i18n>Sign In</legend>
      <hr class="mt-1"/>
      <form (ngSubmit)="handleSubmit()" #loginForm="ngForm" class="form-validated">

        <div class="form-group row">
          <label class="col-lg-4 text-right font-weight-bold" for="username" i18n>Username</label>
          <input 
            type="text" 
            class="form-control col-lg-8"
            id="username" 
            name="username"
            required
            autocomplete="username"
            i18n-placeholder
            placeholder="Username" 
            [(ngModel)]="args.username"/>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 text-right font-weight-bold" for="password" i18n>Password</label>
          <input 
            type="password" 
            class="form-control col-lg-8"
            id="password" 
            name="password"
            required
            autocomplete="current-password"
            i18n-placeholder
            placeholder="Password" 
            [(ngModel)]="args.password"/>
        </div>

        <div class="form-group row" *ngIf="workstations && workstations.length">
          <label class="col-lg-4 text-right font-weight-bold" for="workstation" i18n>Workstation</label>
          <select 
            class="form-control col-lg-8" 
            id="workstation" 
            name="workstation"
            required
            [(ngModel)]="args.workstation">
            <option *ngFor="let ws of workstations" [value]="ws.name">
              {{ws.name}}
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col-lg-2 offset-lg-4 pl-0">
            <button type="submit" class="btn btn-outline-dark" i18n>Sign In</button>
          </div>
          <div class="col-lg-4" *ngIf="loginFailed">
            <div class="badge badge-warning p-2" i18n>Login Failed</div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
