/* The div container for the qrcode image */
.qrcodeImage {
  display: flex;
  flex: 1;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-link .badge-success {
  border: 1px solid rgba(var(--bs-success-rgb), 0.35);
}
