
/* Vertical nav tabs */
.nav-tabs.flex-column .nav-item .nav-link, 
.nav-tabs.flex-column .nav-link {
  border-radius: 0;
  border-width: 0;
  padding: 0.375rem 0.25rem;
  text-align: left;
  width: 100%;
}

.nav-tabs.flex-column .nav-item .nav-link:hover, 
.nav-tabs.flex-column .nav-item .nav-link:focus {
  background-color: rgba(0,0,100,0.075);
}

.nav-tabs.flex-column .nav-item.show .nav-link, 
.nav-tabs.flex-column .nav-link.active {
  background-color: rgba(var(--bs-blue-rgb),0.1);
  font-weight: bold;
}

/* The div container for the qrcode image */
.qrcodeImage {
  display: flex;
  flex: 1;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-link .badge-success {
  border: 1px solid rgba(var(--bs-success-rgb), 0.35);
}
