.skip-nav {
    background-color: #fff;
    border: 1px solid #0D7764;
    color: #0D7764;
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
    width: auto;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}

.skip-nav:not(:focus):not(:hover) {
    transform: translateY(-4em);
    opacity: 0;
}

/* remove dropdown caret for icon-based entries */
#staff-navbar .no-caret::after {
    display: none;
}

#staff-navbar {
    background: -webkit-linear-gradient(#00593d, #007a54);
    background-color: #007a54;
    color: #fff;
    font-size: 0.88rem;
    padding: 0 0.5rem;
}

#staff-navbar .navbar-nav,
#staff-navbar .navbar-admin .dropdown-item {
    padding: 4px 0;
    margin: 0 1px;
}

#staff-navbar .dropdown-toggle,
#staff-navbar .nav-link-home {
    color: #fff;
}

#staff-navbar button.dropdown-toggle {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
}

/* align top of dropdown w/ bottom of nav */
#staff-navbar .dropdown-menu {
    background-color: #fff;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #333;
    margin-top: 4px;
}

#staff-navbar .navbar-collapse.collapse.show .dropdown-menu {
    background-color: #007a54;
    color: #fff;
}

#staff-navbar .dropdown-item .material-icons {
    padding-right: 0.5rem;
}

#staff-navbar .dropdown-item {
    color: #333;
    font-size: 0.88rem;
    font-weight: 400;
    margin: 0;
    padding: 1px .5rem;
}

#staff-navbar .navbar-collapse.collapse.show .dropdown-item {
    color: #fff;
}

#staff-navbar .dropdown-item:hover,
#staff-navbar .dropdown-item:focus {
    background-color: #f5f5f5;
    color: #333;
}

#staff-navbar .navbar-collapse.collapse.show .dropdown-item:hover,
#staff-navbar .navbar-collapse.collapse.show .dropdown-item:focus {
    background-color: #007a54;
    color: #ffd;
}

#staff-navbar .dropdown-divider {
    border-top: 1px solid #e5e5e5;
}

#staff-navbar .navbar-collapse.collapse.show .dropdown-divider {
    border-top: 1px solid #00593D;
}

#staff-navbar .dropdown-item .material-icons {
    font-size: 1.125rem;
}

#staff-navbar .dropdown-item kbd {
    background-color: var(--gray-100);
    box-shadow: 0 1px 1px rgba(0,0,10,0.2);
    margin-inline-start: auto;
}

#staff-navbar .dropdown-item:has(kbd) span:not(.material-icons):last-of-type {
    margin-inline-end: 0.5rem;
}

#staff-navbar .dropdown-menu .nav-link {
    padding-top: 1px;
    padding-bottom: 1px;
}

#staff-navbar .nav-link-home {
    margin-right: 0;
    padding: .5rem;
}

#staff-navbar .nav-link:hover,
#staff-navbar .nav-link:focus,
#staff-navbar>.open .nav-link,
#staff-navbar>.open>a,
#staff-navbar>.open>a:focus,
#staff-navbar>.open>a:hover {
    background-color: rgba(223, 240, 216, 0.1);
    border-bottom: 2px solid rgba(223, 240, 216, 0.4);
    border-radius: .3em;
    cursor: pointer;
}

/* Mobile view: align admin menu items with main nav items */
#staff-navbar>.open .navbar-admin .dropdown-item {
    padding: 0.5rem 0;
}

#staff-navbar>.open .navbar-admin .dropdown-item .material-icons {
    display: none;
}

/* restore outline focus removed by Bootstrap */
/* blend Evergreen green with #ffc for highlight */
#staff-navbar .nav-link.dropdown-toggle:focus,
#staff-navbar .nav-link.dropdown-item:focus,
#staff-navbar .nav-link-home:focus {
    outline: 2px solid rgba(255, 255, 204, 0.75);
}

#staff-navbar .dropdown-item.active, 
#staff-navbar .dropdown-item:active {
    background-color: rgba(var(--bs-green-rgb), 0.15);
}

#staff-navbar>.open .nav-link {
    border-bottom: 0;
    border-top: 2px solid rgba(223, 240, 216, 0.4);
}

#staff-navbar .navbar-nav>.dropdown>a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

#staff-navbar .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

/* Align material-icons with sibling text; otherwise they float up */
#staff-navbar .with-material-icon,
#staff-navbar .dropdown-item {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

/* Hide the username@workstation if the screen is too narrow.
Based on the hidden-sm class selector in Bootstrap. */
@media (max-width: 991px) {
    .navbar-user {
        display: none !important
    }
}

@media (forced-colors: active) or (prefers-contrast: forced) {
    #staff-navbar {
        border-bottom: 1px solid transparent;
    }
    
    #staff-navbar .nav-link:hover,
    #staff-navbar .nav-link:focus,
    #staff-navbar button.dropdown-toggle,
    #staff-navbar button.dropdown-toggle:hover,
    #staff-navbar button.dropdown-toggle:focus {
        border: 0;
    }
}
