:host {
  --splash-card-header: var(--evergreen);
  --splash-card-header-bg: #dff0d8;
  --splash-card-header-border: #d6e9c6;
  --bs-card-bg: var(--bs-body-bg);
}
[data-bs-theme="dark"] :host {
  --splash-card-header: var(--bs-gray-400);
  --splash-card-header-bg: var(--bs-body-bg-alt);
  --splash-card-header-border: var(--bs-body-bg-highlight);
}

.eg-logo { 
  max-width: 400px; 
  margin: 30px 0; 
}

[data-bs-theme="dark"] :host img.eg-logo {
  filter: brightness(90%);
}

.card {
  background-color: var(--bs-card-bg);
  border-color: var(--splash-card-header-border);
  margin-block-end: 2rem;
}

.card-body, .card-body .list-group-item {
  background-color: var(--bs-card-bg);
}

.card-header {
  background-color: var(--splash-card-header-bg);
  border-color: var(--splash-card-header-border);
}

.card-header h2 {
  color: var(--splash-card-header);
  margin: 0 0 0.1rem;
}
