<!-- top navigation bar -->
<eg-staff-nav-bar></eg-staff-nav-bar>

<div id='staff-content-container'>
  <!-- page content -->
  <router-outlet></router-outlet>
</div>

<!-- EgAccessKey Info Panel -->
<eg-accesskey-info #egAccessKeyInfo></eg-accesskey-info>
<a egAccessKey keyCtx="base"
    keySpec="ctrl+h" i18n-keySpec
    keyDesc="Display AccessKey Info Dialog" i18n-keyDesc
    (click)="egAccessKeyInfo.open({size: 'lg'})">
</a>
<a egAccessKey keyCtx="base"
    keySpec="shift+f10" i18n-keySpec
    keyDesc="Display Context Menu" i18n-keyDesc
    (click)="fireContextMenuEvent()">
</a>

<!-- global toast alerts -->
<eg-toast></eg-toast>

<!-- global print handler component -->
<eg-print></eg-print>

<!-- context menu DOM insertion point -->
<eg-context-menu-container></eg-context-menu-container>
