
<!-- todo disabled -->
<ng-template #defaultDisplayTemplate let-r="result">
{{r.label || r.id}}
</ng-template>

<div class="d-flex">
  <input type="text" 
    class="form-control"
    [ngClass]="{'text-success font-italic font-weight-bold': selected && selected.freetext}"
    [placeholder]="placeholder"
    [name]="name"
    [disabled]="isDisabled"
    [required]="isRequired"
    [(ngModel)]="selected" 
    [ngbTypeahead]="filter"
    [resultTemplate]=" displayTemplate || defaultDisplayTemplate"
    [inputFormatter]="formatDisplayString"
    (click)="onClick($event)"
    (blur)="onBlur()"
    container="body"
    (selectItem)="selectorChanged($event)"
    #instance="ngbTypeahead"/>
  <div class="d-flex flex-column icons" (click)="openMe($event)">
    <span class="material-icons">keyboard_arrow_up</span>
    <span class="material-icons">keyboard_arrow_down</span>
  </div>
</div>
