
<eg-confirm-dialog #confirmDelete
  i18n-dialogTitle dialogTitle="Confirm Delete"
  i18n-dialogBody dialogBody="Delete Record ID {{record ? record.id : ''}}?">
</eg-confirm-dialog>

<eg-confirm-dialog #confirmUndelete
  i18n-dialogTitle dialogTitle="Confirm Undelete"
  i18n-dialogBody dialogBody="Undelete Record ID {{record ? record.id : ''}}?">
</eg-confirm-dialog>

<eg-alert-dialog #cannotDelete
  i18n-dialogBody 
  dialogBody="Records with holdings attached cannot be deleted.">
</eg-alert-dialog>

<div class="row d-flex p-2 m-2">
  <div class="flex-1"></div>
  <div class="mr-2">
    <eg-combobox #sourceSelector
      [entries]="sources"
      placeholder="Select a Source..."
      i18n-placeholder>
    </eg-combobox>
  </div>

  <ng-container *ngIf="record && record.id">
    <button *ngIf="!record.deleted" class="btn btn-warning" 
      (click)="deleteRecord()" i18n>Delete Record</button>
    <button *ngIf="record.deleted" class="btn btn-info" 
      (click)="undeleteRecord()" i18n>Undelete Record</button>
  </ng-container>

  <button class="btn btn-success ml-2" (click)="saveRecord()" 
    [disabled]="record && record.deleted" i18n>Save Changes</button>
</div>

<div class="row">
  <div class="col-lg-12">
    <ngb-tabset [activeId]="editorTab">
      <ngb-tab title="Enhanced MARC Editor" i18n-title id="rich">
        <ng-template ngbTabContent>
          <div class="alert alert-info mt-3" i18n>
          Enhanced MARC Editor is not yet implemented.  See the
          <ng-container *ngIf="record && record.id">
            <a target="_blank"
              href="/eg/staff/cat/catalog/record/{{record.id}}/marc_edit">
              AngularJS MARC Editor.
            </a>
          </ng-container>
          <ng-container *ngIf="!record || !record.id">
            <a target="_blank" href="/eg/staff/cat/catalog/new_bib">
              AngularJS MARC Editor.
            </a>
          </ng-container>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Flat Text Editor" i18n-title id="flat">
        <ng-template ngbTabContent>
          <eg-marc-flat-editor></eg-marc-flat-editor>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<div class="row d-flex p-2 m-2 flex-row-reverse">
  <button class="btn btn-success" (click)="saveRecord()"
    [disabled]="record && record.deleted" i18n>Save Changes</button>
</div>


