
<eg-confirm-dialog #confirmDelete
  i18n-dialogTitle dialogTitle="Confirm Delete"
  i18n-dialogBody dialogBody="Delete Record ID {{record ? record.id : ''}}?">
</eg-confirm-dialog>

<eg-confirm-dialog #confirmUndelete
  i18n-dialogTitle dialogTitle="Confirm Undelete"
  i18n-dialogBody dialogBody="Undelete Record ID {{record ? record.id : ''}}?">
</eg-confirm-dialog>

<eg-alert-dialog #cannotDelete
  i18n-dialogBody 
  dialogBody="Records with holdings attached cannot be deleted.">
</eg-alert-dialog>

<eg-string #successMsg i18n-text text="Record successfully updated"></eg-string>
<eg-string #failMsg i18n-text text="Record failed to update"></eg-string>

<div class="row gx-1 row-cols-auto p-3" id="marc-edit">

  <ng-container *ngIf="recordType === 'biblio'">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
        [(ngModel)]="showFastAdd" id="fast-add-item"/>
      <label class="form-label form-check-label" for="fast-add-item">
        Add Item
      </label>
    </div>
  </ng-container>

  <ng-container *ngIf="showFastAdd">
    <div class="form-inline">
      <input type="text" class="form-control ms-2" 
        [(ngModel)]="fastItemLabel" placeholder="Call Number" i18n-placeholder/>
      <input type="text" class="form-control ms-2" 
        [(ngModel)]="fastItemBarcode" placeholder="Barcode" i18n-placeholder/>
    </div>
  </ng-container>

  <div class="flex-1"></div>

  <h3 class="me-2">
    <span class="col-form-label rounded p-2" i18n>
      Record Type {{record ? record.recordType() : ''}}
    </span>
  </h3>
    
  <ng-container *ngIf="recordType === 'biblio'">
    <div class="me-2">
      <eg-combobox #sourceSelector
        idlClass="cbs"
        [selectedId]="recordSource"
        [asyncSupportsEmptyTermClick]="true"
        (onChange)="updateRecordSource($event)"
        placeholder="Select a Source..."
        i18n-placeholder>
      </eg-combobox>
    </div>
  </ng-container>

  <div class="pe-3 me-3 border-end">
    <button type="button" class="btn btn-success" (click)="saveRecord()"
      [disabled]="record && (record.deleted || record.id === -1)" i18n>Save Changes</button>
  </div>

  <ng-container *ngIf="record && record.id">
    <div>
      <button type="button" *ngIf="!record.deleted && record.id !== -1" class="btn btn-destroy"
        [disabled]="inPlaceMode" (click)="deleteRecord()" i18n>Delete Record</button>
      <button type="button" *ngIf="record.deleted" class="btn btn-info" 
        [disabled]="inPlaceMode" (click)="undeleteRecord()" i18n>Undelete Record</button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="dataSaving">
  <div class="row mt-5">
    <div class="offset-lg-3 col-lg-6">
      <eg-progress-inline></eg-progress-inline>
    </div>
  </div>
</ng-container>

<div *ngIf="!dataSaving" class="row">
  <div class="col-lg-12">
    <ul ngbNav #editorNav="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist"
      [activeId]="editorTab" (navChange)="tabChange($event)">
      <li role="presentation" [ngbNavItem]="'rich'">
        <a role="tab" ngbNavLink i18n>Enhanced MARC Editor</a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="context && context.record">
            <eg-marc-rich-editor [context]="context"></eg-marc-rich-editor>
          </ng-container>
        </ng-template>
      </li>
      <li role="presentation" ngbNavItem="flat">
        <a role="tab" ngbNavLink i18n>Flat Text Editor</a>
        <ng-template ngbNavContent>
          <ng-container *ngIf="context && context.record">
            <eg-marc-flat-editor [context]="context"></eg-marc-flat-editor>
          </ng-container>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="editorNav"></div>
  </div>
</div>

<div class="row p-2 m-2 text-end">
  <div>
    <button type="button" class="btn btn-success" (click)="saveRecord()"
      [disabled]="record && (record.deleted || record.id === -1)" i18n>Save Changes</button>
  </div>
</div>


