
:host .popover {
  font-family: monospace;
  max-width: 550px;
}

:host .popover-body {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0;
}

:host .popover-body .menu-entry {
  white-space: nowrap;
}

:host .popover-body .menu-entry:hover {
  background-color: #f8f9fa; /* bootstrap color */
}

