.flat-editor-container {
    padding: 1rem 0.5rem 0;
}

.flat-editor-content {
    font-family: monospace; 
    display: inline-block; 
    /*
    min-width: 1ch; 
    margin: 0 -1px; 
    */
    padding: 0;
}
