:host {
  /* Revised gray scales */
  --gray-050: hsla(223, 25%, 96%, 1);
  --gray-100: hsla(223, 25%, 93%, 1);
  --gray-125: hsla(223, 25%, 91%, 1);
  --gray-150: hsla(223, 25%, 89%, 1);
  --gray-175: hsla(223, 25%, 87%, 1);
  --gray-200: hsla(223, 25%, 84%, 1);
  --gray-250: hsla(223, 25%, 79%, 1);
  --gray-300: hsla(223, 20%, 74%, 1);
  --gray-350: hsla(223, 20%, 69%, 1);
  --gray-400: hsla(223, 20%, 64%, 1);
  --gray-450: hsla(223, 20%, 59%, 1);
  --gray-500: hsla(223, 20%, 54%, 1);
  --gray-550: hsla(223, 15%, 49%, 1);
  --gray-600: hsla(223, 15%, 44%, 1);
  --gray-650: hsla(223, 15%, 39%, 1);
  --gray-700: hsla(223, 15%, 34%, 1);
  --gray-750: hsla(223, 15%, 29%, 1);
  --gray-800: hsla(223, 15%, 24%, 1);
  --gray-850: hsla(223, 15%, 19%, 1);
  --gray-900: hsla(223, 15%, 14%, 1);
  --gray-950: hsla(223, 15%, 9%, 1);

  --border: light-dark(var(--gray-250), var(--gray-750));
  --form-check-border: light-dark(var(--gray-250), var(--bs-gray-900));
  --tab-active-bg: light-dark(
    linear-gradient(var(--gray-050) 35%, var(--gray-125)),
    linear-gradient(var(--bs-gray-900) 35%, var(--bs-gray-850))
  );
}
