<eg-staff-banner i18n-bannerText bannerText="Patrons with Negative Balances">
</eg-staff-banner>

<div class="row mt-2 mb-2">
  <div class="col-lg-6 form-inline">
    <span class="pe-2" i18n>Patron Home Library:</span>
    <eg-org-select
      persistKey="admin.local.negative_balances"
      (componentLoaded)="contextOrgLoaded = true"
      [initialOrg]="contextOrg"
      (onChange)="orgChanged($event)">
    </eg-org-select>
  </div>
</div>

<ng-template #barcodeTmpl let-user="row">
  <a target="_blank" href="/eg/staff/circ/patron/{{user.id()}}/checkout">
    {{user.card() && user.card().barcode ? user.card().barcode() : "-"}}
  </a>
</ng-template>

<eg-grid #grid idlClass="au" [dataSource]="dataSource" persistKey="admin.local.negative_balances"
  [cellTextGenerator]="cellTextGenerator" [sortable]="true" [useLocalSort]="true"
  [showDeclaredFieldsOnly]="true">

  <eg-grid-column name="barcode" [cellTemplate]="barcodeTmpl" i18n-label
    [sortable]="false" label="Barcode"></eg-grid-column>

  <eg-grid-column name="balance_owed" path="_extras.balance_owed"
    datatype="money" i18n-label label="Balance Owed"></eg-grid-column>

  <eg-grid-column path="family_name" label="Last Name" i18n-label></eg-grid-column>

  <eg-grid-column path="first_given_name" label="First Name" i18n-label></eg-grid-column>

  <eg-grid-column name="last_billing_activity" path="_extras.last_billing_activity"
    datatype="timestamp" [datePlusTime]="true" i18n-label label="Last Billing Activity">
  </eg-grid-column>

</eg-grid>





